{% extends 'panel/admins/panel.html' %}{% load widget_tweaks %}{% load static %}{% load humanize %}
{% block title_head %}
<title>Gestión de productos - Tienda del Reciclaje</title>
{% endblock title_head %}
{% block main_menu %}										
<li class="menu-item menu-item-rel">
    <a href="{% url 'admins_panel_view' %}" class="menu-link">
        <span class="menu-text"><i class="fa fa-home text-white mr-5"></i> Panel principal</span>
        <i class="menu-arrow"></i>
    </a>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-users text-white mr-5"></i> Clientes</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admin_custormer_create' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nuevo</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_customers_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar clientes</span>
                    <span class="menu-desc"></span>
                </a>
            </li>														
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel menu-item-here" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-store text-white mr-5"></i> Tiendas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_categories_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar categorías</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_categories_createview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nueva categoría</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item menu-item-here" aria-haspopup="true">
                <a href="{% url 'admins_products_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-boxes text-info mr-5"></i> Gestionar productos</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_products_createview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nuevo producto</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																		
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-dollar-sign text-white mr-5"></i> Ventas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar ventas</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																			
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fas fa-cog text-white mr-5"></i> Configuraciones</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-lock text-info mr-5"></i> Cambiar contraseña</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
        </ul>
    </div>
</li>
{% endblock main_menu %}
{% block title %}
<!--begin::Title-->
<h2 class="text-white font-weight-bold my-2 mr-5">Gestión de productos</h2>
<!--end::Title-->
{% endblock title %}

{% block breadcrumb %}
<!--begin::Breadcrumb-->
<div class="d-flex align-items-center font-weight-bold my-2">
    <!--begin::Item-->
    <a href="#" class="opacity-75 hover-opacity-100">
        <i class="flaticon2-shelter text-white icon-1x"></i>
    </a>
    <!--end::Item-->
    <!--begin::Item-->
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="{% url 'admins_panel_view' %}" class="text-white text-hover-white opacity-75 hover-opacity-100">Panel
        principal</a>
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="#" class="text-white text-hover-white opacity-100">Gestión de productos</a>
    <!--end::Item-->
</div>
<!--end::Breadcrumb-->
{% endblock breadcrumb %}
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <!--begin::Tiles Widget 11-->
        <div class="card card-custom bg-warning gutter-b">
            <div class="card-body">
                    <i class="fas fa-star text-white mr-5 fa-4x"></i> 
                <div class="text-inverse-primary font-weight-bolder font-size-h2 mt-3">{{ own_products }}</div>
                <span class="text-inverse-primary font-weight-bold font-size-lg mt-1">Productos propios</span>
            </div>
        </div>
        <!--end::Tiles Widget 11-->
    </div>
    <div class="col-md-3">
        <!--begin::Tiles Widget 11-->
        <div class="card card-custom bg-warning gutter-b">
            <div class="card-body">
                    <i class="fa fa-store text-white mr-5 fa-4x"></i> 
                <div class="text-inverse-primary font-weight-bolder font-size-h2 mt-3">{{ thrids_products }}</div>
                <span class="text-inverse-primary font-weight-bold font-size-lg mt-1">Productos de terceros</span>
            </div>
        </div>
        <!--end::Tiles Widget 11-->
    </div> 
    <div class="col-md-3"></div>   
</div>

<!--begin::Notice-->
<div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
    <div class="alert-icon">
        <span class="svg-icon svg-icon-info svg-icon-xl">
            <i class="fas fa-boxes text-primary mr-5"></i>
        </span>
    </div>
    <div class="alert-text">Aquí podrás gestionar los productos existentes en la plataforma.</div>
</div>
<!--end::Notice-->

<div class="row mt-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#official_products">
                            <span class="nav-icon">
                                <i class="fa fa-star"></i>
                            </span>
                            <span class="nav-text">Productos de tiendas propias</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#external_products">
                            <span class="nav-icon">
                                <i class="fas fa-store"></i>
                            </span>
                            <span class="nav-text">Productos de tiendas externas</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>        
        
        <div class="tab-content mt-5" id="nav-tabContent">
           
            <div class="tab-pane fade show active" id="official_products" role="tabpanel" aria-labelledby="users-tab">
                <!--begin::Card-->
                <div class="card card-custom card-stretch">
                    <!--begin::Header-->
                    <div class="card-header py-3">
                        <div class="card-title align-items-start flex-column">
                            <h3 class="card-label font-weight-bolder text-dark">Productos Propios</h3>
                            <span class="text-muted font-weight-bold font-size-sm mt-1">Observa los últimos productos cargados a la plataforma desde tiendas oficiales</span>
                        </div>
                        <div class="card-toolbar">
                            <!--begin::Button-->
                            <a href="{% url 'admins_products_createview' %}">
                                <button class="btn btn-primary">Crear nuevo producto <i class="fa fa-plus"></i></button>
                            </a>
                            <!--end::Button-->
                        </div>
                    </div>
                    <!--end::Header-->                                       
                    <!--begin::Body-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-separate datatable">
                                    <thead>
                                        <tr class="text-black text-center">
                                            <th>Producto</th>
                                            <th>Estado</th>
                                            <th>Fecha creado</th>
                                            <th>Precio</th>
                                            <th>Creado por</th>
                                            <th title="opciones">opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>																	
                                        {% for product in products %}
                                        
                                        {% if product.seller.store.is_official or product.created_by.is_staff %}                                    
                                            <tr class="text-center">
                                                <td>
                                                    {{ product.title }}
                                                    
                                                    {% if product.in_bid %}
                                                    <span class="label text-white label-success label-inline mx-2">Subasta</span>                                                       
                                                    {% endif %}                                         
                                                </td>
                                                <td>
                                                    {% if product.status == 0 %}
                                                    <span class="label text-white label-primary label-inline">Pendiente</span>
                                                    {% elif product.status == 1 %}
                                                    <span class="label text-white label-success label-inline">Publicado</span>
                                                    {% elif product.status == 2 %}
                                                    <span class="label text-white label-danger label-inline">Rechazado</span>
                                                    {% elif product.status == 3 %}
                                                    <span class="label text-white label-primary label-inline">Pausado</span>
                                                    {% endif %}						
                                                </td>
                                                <td>{{product.created_at | date:"SHORT_DATE_FORMAT"}}</td>
                                                <td>                                                    
                                                    {% if not product.discount_price == 0 %}
                                                    <del class="text-danger">$ {{product.unit_price | intcomma}}</del> <br>
                                                    <span class="text-success">$ {{product.discount_price | intcomma}}</span>
                                                    {% else %}
                                                    <span class="text-success">$ {{product.unit_price | intcomma}}</span>
                                                    {% endif %}                                          
                                                </td>
                                                <td>
                                                    {{product.created_by.username}}                      
                                                </td>
                                                <td>
                                                    <a href="{% url 'admin_products_detail' product.id %}" class="btn btn-sm btn-icon btn-primary" title="Ver detalles"><i class="fa fa-eye"></i></a>
                                                    <a href="{% url 'admin_products_edit' product.id %}">
                                                        <button class="btn btn-success btn btn-sm btn-icon">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}

                                        {% endfor %}									
                                    </tbody>
                                </table>
                            </div>															
                        </div>														
                    </div>
                    <!--end::Body-->
                </div>
            </div>

            <div class="tab-pane fade" id="external_products" role="tabpanel" aria-labelledby="users-tab">
                <!--begin::Card-->
                <div class="card card-custom card-stretch">
                    <!--begin::Header-->
                    <div class="card-header py-3">
                        <div class="card-title align-items-start flex-column">
                            <h3 class="card-label font-weight-bolder text-dark">Productos Externos</h3>
                            <span class="text-muted font-weight-bold font-size-sm mt-1">Observa los últimos productos cargados a la plataforma desde tiendas externas</span>
                        </div>
                        <div class="card-toolbar">
                            <!--begin::Button-->
                            <!--end::Button-->
                        </div>
                    </div>
                    <!--end::Header-->                                       
                    <!--begin::Body-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-separate datatable">
                                    <thead>
                                        <tr class="text-black text-center">
                                            <th>Producto</th>
                                            <th>Estado</th>
                                            <th>Fecha creado</th>
                                            <th>Precio</th>
                                            <th>Tienda</th>
                                            <th title="opciones">opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>																	
                                        {% for product in products %}
                                        
                                        {% if not product.seller.store.is_official and not product.created_by %}
                                            <tr class="text-center">
                                                <td>
                                                    {{ product.title }}
                                                    {% if product.in_bid %}
                                                    <span class="label text-white label-success label-inline mx-2">Subasta</span>                                                       
                                                    {% endif %} 
                                                </td>
                                                <td>
                                                    {% if product.status == 0 %}
                                                    <span class="label text-white label-primary label-inline">Pendiente</span>
                                                    {% elif product.status == 1 %}
                                                    <span class="label text-white label-success label-inline">Publicado</span>
                                                    {% elif product.status == 2 %}
                                                    <span class="label text-white label-danger label-inline">Rechazado</span>
                                                    {% elif product.status == 3 %}
                                                    <span class="label text-white label-primary label-inline">Pausado</span>
                                                    {% elif product.status == 0 or product.status == 1 or product.status == 2 or product.status == 3 and not product.category.is_active %}
                                                    <span class="label text-white label-primary label-inline">Su categoría fue archivada</span>
                                                    {% endif %}							
                                                </td>
                                                <td>{{product.created_at | date:"SHORT_DATE_FORMAT"}}</td>
                                                <td>
                                                    {% if not product.discount_price == 0 %}
                                                    <del class="text-danger">$ {{product.unit_price | intcomma}}</del> <br>
                                                    <span class="text-success">$ {{product.discount_price | intcomma}}</span>
                                                    {% else %}
                                                    <span class="text-success">$ {{product.unit_price | intcomma}}</span>
                                                    {% endif %}                                                        
                                                </td>
                                                <td>
                                                    {{product.seller.store}}
                                                </td>                                                
                                                <td>
                                                    <a href="{% url 'admin_products_detail' product.id %}" class="btn btn-sm btn-icon btn-primary" title="Ver detalles"><i class="fa fa-eye"></i></a>
                                                    <a href="{% url 'admin_products_edit' product.id %}">
                                                        <button class="btn btn-success btn btn-sm btn-icon">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}

                                        {% endfor %}									
                                    </tbody>
                                </table>
                            </div>															
                        </div>														
                    </div>
                    <!--end::Body-->
                </div>
            </div>

            

        </div>
    </div>
    
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}