{% extends 'home/index.html' %}
{% load static %}
{% block meta %}
<title>Quiénes somos - Tienda del Reciclaje</title>
<!-- SEO Meta Tags-->
<meta name="description" content="Unishop - Universal E-Commerce Template">
{% endblock meta %}
{% block main_menu %}
<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li><a href="{% url 'home_view' %}"><span>Inicio</span></a></li>
        <li class="active"><a href="{% url 'about_view' %}"><span>Quiénes somos</span></a></li>
        <li><a href="{% url 'shop_view' %}"><span>Tienda</span></a></li>
        <li class="has-children"><a href="javascript:;"><span>Zona clientes</span></a>
            <ul class="sub-menu">
                <li><a href="{% url 'user_register_view' %}">Registro de usuarios</a></li>
                <li><a href="{% url 'become_seller_view' %}"><span>Vende aquí</span></a></li>
            </ul>
        </li>  
        <li><a href="blog-rs.html"><span>Blog</span></a></li>
        <li><a href="{% url 'contacts_view' %}"><span>Contacto</span></a></li>        
        
    </ul>
</nav>
{% endblock main_menu %}
       
{% block content %}
<!-- Page Content-->
<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Quiénes somos</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a href="{% url 'home_view' %}">Inicio</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Quiénes somos</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-2x mb-2">
    <div class="row align-items-center padding-bottom-2x">
        <div class="col-md-5"><img class="d-block w-500 m-auto" src="{% static 'home/img/logo.jpg' %}" alt="Online Shopping">
        </div>
        <div class="col-md-7 text-md-left text-center">
            <div class="mt-30 hidden-md-up"></div>
            <h2>Somos Tienda del Reciclaje</h2>
            <p class="text-justify">
                Somos un sitio donde le damos valor a lo que no usas. Nuestro modelo de economía azul nos permite convertir ciertas cosas inservibles para unos, útiles para otros. Tienda del Reciclaje es un <strong>mundo de segundas oportunidades</strong> que conecta la oferta con la demanda; el problema con la solución. <br><br>
                En tienda del reciclaje le damos color a las cosas en un cliclo de vida que se transforma pero que no se destruye. Aquí colocamos las cosas donde deben estar. <br><br>
                <strong>Si no te sirve, nosoros te lo vendemos</strong>
            </p>
            <a class="text-medium text-decoration-none" href="shop-grid-ls.html">Ver productos de la tienda&nbsp;<i class="icon-arrow-right"></i></a>
        </div>
    </div>
    <hr>
    <div class="row align-items-center padding-top-2x padding-bottom-2x">
        <div class="col-md-5 order-md-2"><img class="d-block w-270 m-auto" src="{% static 'home/img/features/02.jpg' %}"
                alt="Delivery"></div>
        <div class="col-md-7 order-md-1 text-md-left text-center">
            <div class="mt-30 hidden-md-up"></div>
            <h2>Fast Delivery Worldwide.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque
                faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi
                vitae est eget dolor consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod
                lorem pharetra nec. Duis erat lectus, ultrices euismod sagittis at, pharetra eu nisl. Phasellus
                id ante at velit tincidunt hendrerit. Aenean dolor dolor, tristique nec placerat nec.</p><a
                class="text-medium text-decoration-none" href="#">Shipping Details&nbsp;<i
                    class="icon-arrow-right"></i></a>
        </div>
    </div>
    <hr>
    <div class="row align-items-center padding-top-2x padding-bottom-2x">
        <div class="col-md-5"><img class="d-block w-270 m-auto" src="{% static 'home/img/features/03.jpg' %}" alt="Mobile App">
        </div>
        <div class="col-md-7 text-md-left text-center">
            <div class="mt-30 hidden-md-up"></div>
            <h2>Great Mobile App. Shop On The Go.</h2>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus
                pellentesque faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan
                leo. Morbi vitae est eget dolor consequat aliquam eget quis dolor.</p><a
                class="market-button apple-button" href="#"><span class="mb-subtitle">Download on
                    the</span><span class="mb-title">App Store</span></a><a class="market-button google-button"
                href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Google
                    Play</span></a><a class="market-button windows-button" href="#"><span
                    class="mb-subtitle">Download on the</span><span class="mb-title">Windows Store</span></a>
        </div>
    </div>
    <hr>
    <div class="row align-items-center padding-top-2x padding-bottom-2x">
        <div class="col-md-5 order-md-2"><img class="d-block w-270 m-auto" src="{% static 'home/img/features/04.jpg' %}"
                alt="Delivery"></div>
        <div class="col-md-7 order-md-1 text-md-left text-center">
            <div class="mt-30 hidden-md-up"></div>
            <h2>Shop Offline. Cozy Outlet Stores.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque
                faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi
                vitae est eget dolor consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod
                lorem pharetra nec. Duis erat lectus, ultrices euismod sagittis at, pharetra eu nisl. Phasellus
                id ante at velit tincidunt hendrerit. Aenean dolor dolor, tristique nec placerat nec.</p><a
                class="text-medium text-decoration-none" href="contacts.html">See Outlet Stores&nbsp;<i
                    class="icon-arrow-right"></i></a>
        </div>
    </div>
    <hr>
    <div class="text-center padding-top-3x mb-30">
        <h2>Our Core Team</h2>
        <p class="text-muted">People behind your awesome shopping experience.</p>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 mb-30 text-center"><img
                class="d-block w-150 mx-auto img-thumbnail rounded-circle mb-2" src="{% static 'home/img/team/01.jpg' %}"
                alt="Team">
            <h6>Grace Wright</h6>
            <p class="text-muted mb-2">Founder, CEO</p>
            <div class="social-bar"><a class="social-button shape-circle sb-facebook" href="#"
                    data-toggle="tooltip" data-placement="top" title="Facebook"><i
                        class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter"
                    href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i
                        class="socicon-twitter"></i></a><a class="social-button shape-circle sb-google-plus"
                    href="#" data-toggle="tooltip" data-placement="top" title="Google +"><i
                        class="socicon-googleplus"></i></a></div>
        </div>
        <div class="col-md-3 col-sm-6 mb-30 text-center"><img
                class="d-block w-150 mx-auto img-thumbnail rounded-circle mb-2" src="{% static 'home/img/team/02.jpg' %}"
                alt="Team">
            <h6>Taylor Jackson</h6>
            <p class="text-muted mb-2">Financial Director</p>
            <div class="social-bar"><a class="social-button shape-circle sb-skype" href="#"
                    data-toggle="tooltip" data-placement="top" title="Skype"><i class="socicon-skype"></i></a><a
                    class="social-button shape-circle sb-facebook" href="#" data-toggle="tooltip"
                    data-placement="top" title="Facebook"><i class="socicon-facebook"></i></a><a
                    class="social-button shape-circle sb-paypal" href="#" data-toggle="tooltip"
                    data-placement="top" title="PayPal"><i class="socicon-paypal"></i></a></div>
        </div>
        <div class="col-md-3 col-sm-6 mb-30 text-center"><img
                class="d-block w-150 mx-auto img-thumbnail rounded-circle mb-2" src="{% static 'home/img/team/03.jpg' %}"
                alt="Team">
            <h6>Quinton Cross</h6>
            <p class="text-muted mb-2">Marketing Director</p>
            <div class="social-bar"><a class="social-button shape-circle sb-twitter" href="#"
                    data-toggle="tooltip" data-placement="top" title="Twitter"><i
                        class="socicon-twitter"></i></a><a class="social-button shape-circle sb-google-plus"
                    href="#" data-toggle="tooltip" data-placement="top" title="Google +"><i
                        class="socicon-googleplus"></i></a><a class="social-button shape-circle sb-email"
                    href="#" data-toggle="tooltip" data-placement="top" title="Email"><i
                        class="socicon-mail"></i></a></div>
        </div>
        <div class="col-md-3 col-sm-6 mb-30 text-center"><img
                class="d-block w-150 mx-auto img-thumbnail rounded-circle mb-2" src="{% static 'home/img/team/04.jpg' %}"
                alt="Team">
            <h6>Liana Mullen</h6>
            <p class="text-muted mb-2">Lead Designer</p>
            <div class="social-bar"><a class="social-button shape-circle sb-behance" href="#"
                    data-toggle="tooltip" data-placement="top" title="Behance"><i
                        class="socicon-behance"></i></a><a class="social-button shape-circle sb-dribbble"
                    href="#" data-toggle="tooltip" data-placement="top" title="Dribbble"><i
                        class="socicon-dribbble"></i></a><a class="social-button shape-circle sb-instagram"
                    href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i
                        class="socicon-instagram"></i></a></div>
        </div>
    </div>
</div>
{% endblock content %}