{% extends 'home/index.html' %}{% load humanize %} {% load shop %}
{% load static %}
{% block meta %}
<title>Carrito de compras - Tienda del Reciclaje</title>
<!-- SEO Meta Tags-->
<meta name="description" content="Unishop - Universal E-Commerce Template">
{% endblock meta %}
{% block main_menu %}
<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li><a href="{% url 'home_view' %}"><span>Inicio</span></a></li>
        <li><a href="{% url 'about_view' %}"><span>Quiénes somos</span></a></li>
        <li><a href="{% url 'shop_view' %}"><span>Tienda</span></a></li>
        <li class="has-children"><a href="javascript:;"><span>Zona clientes</span></a>
            <ul class="sub-menu">
                <li><a href="{% url 'user_register_view' %}">Registro de usuarios</a></li>
                <li><a href="{% url 'become_seller_view' %}"><span>Vende aquí</span></a></li>
            </ul>
        </li>
        <li><a href="blog-rs.html"><span>Blog</span></a></li>
        <li><a href="{% url 'contacts_view' %}"><span>Contacto</span></a></li>

    </ul>
</nav>
{% endblock main_menu %} 

{% block content %}
<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>Carrito de compras</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home_view' %}">Inicio</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>Carrito de compras</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-1">

        {% if order.products.all %}
        <!-- Alert-->
        <div class="alert alert-success alert-dismissible fade show text-center" style="margin-bottom: 30px;">
            <span class="alert-close" data-dismiss="alert"></span>
            Con esta compra obtendrás <strong id="reward_points">{{order.get_total_reward_points|intcomma}}</strong> puntos de recompensa.
        </div>
        {% endif %}

        <!-- Shopping Cart-->
        <div class="table-responsive shopping-cart">
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Precio unidad</th>
                        <th class="text-center">Subtotal</th>
                        <th class="text-center"><a class="btn btn-sm btn-outline-danger clear_cart" href="javascript:;" id="clear_cart_{{order.id}}">Vaciar carrito</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if order.products.all %}
                    {% for item in order.products.all %}
                    <tr>
                        <td>
                            <div class="product-item"><a class="product-thumb"
                                    href="{% url 'product_details_home' item.product.slug %}" target="_blank"><img
                                        src="{{item.product.main_img.url}}" alt="Producto {{item.product.title}}"></a>
                                <div class="product-info">
                                    <h4 class="product-title">
                                        <a href="{% url 'product_details_home' item.product.slug %}" target="_blank">
                                            {{item.product.title}}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="count-input">
                                <input type="number" name="" id="cart_product_qqty_{{item.product.id}}"
                                    class="form-control cart_product_qqty" value="{{item.quantity}}"
                                    max="{{item.product.available_units}}" min="1">
                            </div>
                        </td>
                        <td class="text-center text-lg text-medium">$ {{item.product.get_price|intcomma}}</td>
                        <td class="text-center text-lg text-medium">$ <span
                                id="subtotal_{{item.product.id}}">{{item.get_total_product_price|intcomma}}</span></td>
                        <td class="text-center">
                            <a class="remove-from-cart cart_remove_product" href="javascript:;" data-toggle="tooltip" title="Sacar del carrito" id="cart_remove_product_{{item.product.id}}">
                                <i class="icon-cross"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>No hay productos en tu carrito de compras</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="shopping-cart-footer">
            <div class="column">
                <form class="coupon-form" method="post">
                    <input class="form-control form-control-sm" type="text" placeholder="Código del cupón" required>
                    <button class="btn btn-outline-primary btn-sm" id="apply_coupon">Aplicar cupón</button>
                </form>
            </div>
            <div class="column text-lg">Total: <span class="text-medium">$ <span
                        id="order_total">{{order.get_total|intcomma}}</span></span></div>
        </div>
        <div class="shopping-cart-footer">
            <div class="column">
                <a class="btn btn-outline-secondary" href="{% url 'shop_view' %}">
                    <i class="icon-arrow-left"></i>&nbsp;Volver a la tienda
                </a>
            </div>
            <div class="column"><a class="btn btn-success" href="#">Pagar</a></div>
        </div>
    </div>
</div>
{% endblock content %}
{% block modal_zone %}
<div class="modal" tabindex="-1" role="dialog" id="loading_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="spinner-border text-success-dark m-2" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">Loading...</span></div>
            </div>
        </div>
    </div>
</div>
{% endblock modal_zone %}

{% block scripts %}
<script>
    $(document).on('change', '.cart_product_qqty', function (e) {
        
        const id_product = parseInt($(this).attr("id").match(/(\d+)/))

        const qtty = parseInt($('#cart_product_qqty_' + id_product).val())

        const max = parseInt($(this).attr("max"))

        const min = parseInt($(this).attr("min"))

        if (qtty < min || qtty > max) {
            alert("Cantidad no disponible")
            $('#cart_product_qqty_' + id_product).val(1)
        } else {

            $.ajax({
                url: "{% url 'customers_update_cart_product' %}",
                type: "POST",
                dataType: "json",
                data: {
                    'id_product': id_product,
                    'qtty': qtty,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
            }).done(function (data) {
                $('#subtotal_' + id_product).html(data.subtotal)
                $('#order_total').html(data.order_total)
                $('#reward_points').html(data.reward_points)

            }).fail(function (data) {
                Swal.fire({
                    title: '¡Error!',
                    text: data.responseJSON.error,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            })
        }
    })  
      
    
    $(document).on('click', '.clear_cart', function (e) {

        const id_order = parseInt($(this).attr("id").match(/(\d+)/))

        Swal.fire({
        title: "¿Deseas realmente vaciar totalmente el carrito?",
        text: "¡Una vez vaciado, no podrás gestionar los productos!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: 'Sí, vaciarlo',
        denyButtonText: 'Cancelar'
        })
        .then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                url: "{% url 'customers_clear_cart' %}",
                type: "POST",
                dataType: "json",
                data: {
                    'id_order': id_order,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
            }).done(function (data) {
                Swal.fire({
                    title: 'Bien!',
                    text: data.message,
                    icon: 'success',
                    confirmButtonText: 'Ok',
                    timer: 3000
                    
                }).then((result) => {
                /* Read more about handling dismissals below */
                window.location.href = window.location.href 
                })

            }).fail(function (data) {
                Swal.fire({
                    title: '¡Error!',
                    text: data.responseJSON.error,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            })
        } else {
        }

        })
    })
</script>

{% endblock scripts %}