{% extends 'home/index.html' %}{% load humanize %} {% load shop %}
{% load static %}
{% block meta %}
<title>Contacto - Tienda del Reciclaje</title>
<!-- SEO Meta Tags-->
<meta name="description" content="Unishop - Universal E-Commerce Template">
{% endblock meta %}
{% block main_menu %}
<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li><a href="{% url 'home_view' %}"><span>Inicio</span></a></li>
        <li><a href="{% url 'about_view' %}"><span>Quiénes somos</span></a></li>
        <li><a href="{% url 'shop_view' %}"><span>Tienda</span></a></li>
        <li class="has-children"><a href="javascript:;"><span>Zona clientes</span></a>
            <ul class="sub-menu">
                <li><a href="{% url 'user_register_view' %}">Registro de usuarios</a></li>
                <li><a href="{% url 'become_seller_view' %}"><span>Vende aquí</span></a></li>
            </ul>
        </li>
        <li><a href="blog-rs.html"><span>Blog</span></a></li>
        <li class="active"><a href="{% url 'contacts_view' %}"><span>Contacto</span></a></li>

    </ul>
</nav>
{% endblock main_menu %} 
{% block content %}
<!-- Off-Canvas Wrapper-->
<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>Contacto</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home_view' %}">Inicio</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>Contacto</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-2x mb-2">
        <div class="row">
            <div class="col-md-7">
                <div class="display-3 text-muted opacity-75 mb-30">Servicio al cliente</div>
            </div>
            <div class="col-md-5">
                <ul class="list-icon">
                    <li> <i class="icon-mail"></i><a class="navi-link"
                            href="mailto:ventas@tiendadelreciclaje.com">ventas@tiendadelreciclaje.com</a></li>
                    <li> <i class="fa fa-phone-alt"></i>+57 305 8626603 - (5) 6747059 </li>
                    <li> <i class="icon-clock"></i>Lunes - Viernes</li>
                </ul>
            </div>
        </div>
        <hr class="margin-top-2x">
        <div class="row margin-top-2x">
            <div class="col-md-7">
                <div class="display-3 text-muted opacity-75 mb-30">Soporte técnico</div>
            </div>
            <div class="col-md-5">
                <ul class="list-icon">
                    <li> <i class="icon-mail"></i><a class="navi-link"
                            href="tecnologia@tiendadelreciclaje.com">soporte@tiendadelreciclaje.com</a></li>
                    <li> <i class="fa fa-phone-alt"></i>+57 305 8626603</li>
                    <li> <i class="icon-clock"></i>Lunes - Viernes</li>
                </ul>
            </div>
        </div>
        <hr class="margin-top-2x">
        <div class="row margin-top-2x">
            <div class="col-md-7">
                <div class="display-3 text-muted opacity-75 mb-30">Redes sociales</div>
            </div>
            <div class="col-md-5">
                <ul class="list-icon">
                    <li>
                        <a class="navi-link" href="https://www.facebook.com/tiendadelreciclajectg" target="_blank">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a class="navi-link" href="#"><i class="fa fa-instagram"></i> Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="margin-top-2x">
        <h3 class="margin-top-3x text-center mb-30">Formulario de contacto</h3>
        <div class="row">
            <div class="col-md-12">
                <form id="myForm">
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-muted" for="complete_name">Nombres completos</label>
                        <div class="col-10">
                            <input class="form-control" type="text" id="complete_name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-muted" for="email">Dirección de email</label>
                        <div class="col-10">
                            <input class="form-control" type="email" id="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-muted" for="phone">Teléfono</label>
                        <div class="col-10">
                            <input class="form-control" type="text" id="phone">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-muted" for="subject">Asunto</label>
                        <div class="col-10">
                            <input class="form-control" type="text" id="subject">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-muted" for="message">Mensaje</label>
                        <div class="col-10">
                            <textarea name="message" class="form-control" cols="30" rows="10" id="message"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 text-center">
                            <button class="btn btn-success" id="send_message">Enviar mensaje</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</div>
{% endblock content %}

{% block modal_zone %}
{% endblock modal_zone %}

{% block scripts %}
<script>
    $('#send_message').click(function (e) {
        e.preventDefault();
        var complete_name = document.getElementById("complete_name").value;
        var email = document.getElementById("email").value;
        var subject = document.getElementById("subject").value;
        var phone = document.getElementById("phone").value;
        var message = document.getElementById("message").value;

        if (complete_name == "" || email == "" || message == "" || subject == "" || phone == "") {
            alert("Formulario invalido, ingrese sus datos en los campos");
        } else {
            $.ajax({
                type: "POST",
                url: "{% url 'register_message_view' %}",
                data: {
                    'complete_name': complete_name
                    , 'email': email
                    , 'subject': subject
                    , 'phone': phone
                    ,'message': message
                    , 'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: "json",
                success: function (response) {
                    Swal.fire({
                        title: 'Bien!',
                        text: response.message,
                        icon: 'success',
                        confirmButtonText: 'Ok',
                        timer: 3000
                    })
                    var form = document.getElementById("myForm");
                    form.reset(); 
                }
            });
        }
    });
</script>
{% endblock scripts %}