{% load static %}{% load widget_tweaks %}{% load shop %}{% load humanize %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    {% block meta %}
    <title>Tienda del Reciclaje - Un mundo de segundas oportunidades</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Unishop - Universal E-Commerce Template">
    {% endblock meta %}
    <!-- Mobile Specific Meta Tag-->
    {% include 'home/parts/head.html' %}
</head>
<!-- Body-->

<body>
    {% block modal_zone %}
    {% endblock modal_zone %}
    <!-- Off-Canvas Category Menu-->
    <div class="offcanvas-container" id="shop-categories">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title">Categorías de la tienda</h3>
        </div>
        <nav class="offcanvas-menu">
            <ul class="menu">
                {% for category in categories %}

                {% if category.has_children %}
                <li class="has-children">
                    <span>
                        <a href="{% url 'shop_filter_by_category_home' category.slug %}">{{category.name}}</a>
                        <span class="sub-menu-toggle"></span> 
                    </span>                     
                    <ul class="offcanvas-submenu">
                        {% for subcategory in category.children.all %}
                        <li>
                            <a href="{% url 'shop_filter_by_category_home' subcategory.slug %}">{{subcategory.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% elif not category.parent %}
                <li>
                    <a href="{% url 'shop_filter_by_category_home' category.slug %}">{{category.name}}</a>
                </li>
                {% endif %}

                {% endfor %}
            </ul>
        </nav>
    </div>
    <!-- Off-Canvas Mobile Menu-->
    <div class="offcanvas-container" id="mobile-menu">
        <a class="account-link" href="{% url 'customers_panel_view' %}">
        
        {% if user.customer %}        
        <div class="user-ava">
            {% if user.customer.profile_img %}
            <img src="{{user.customer.profile_img.url}}" alt="Pic {{user.customer.get_full_name}}">
            {% else %}
            <img src="{% static 'home/img/avatar.webp' %}" alt="Pic {{user.customer.get_full_name}}">                                 
            {% endif %}
        </div>
        <div class="user-info">
            <h6 class="user-name">{{user.customer.get_full_name}}</h6>
            <span class="text-sm text-white opacity-60">{{user.customer.points}} puntos</span>
        </div>
        {% endif %}
        </a>
        <nav class="offcanvas-menu">
            <ul class="menu">
                <li><a href="{% url 'home_view' %}"><span>Inicio</span></a></li>
                <li><a href="{% url 'about_view' %}"><span>Quiénes somos</span></a></li>
                <li><a href="{% url 'shop_view' %}"><span>Tienda</span></a></li>                
                <li><a href="blog-rs.html"><span>Blog</span></a></li>
                <li><a href="{% url 'contacts_view' %}"><span>Contacto</span></a></li>
                <li class="has-children">
                    <span>
                        <a href="javascript:;"><span>Zona clientes</span></a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li><a href="{% url 'user_register_view' %}">Registro de usuarios</a></li>
                        <li><a href="{% url 'become_seller_view' %}"><span>Vende aquí</span></a></li>
                        <li><a href="{% url 'login_view' %}">Iniciar sesión</a></li>
                    </ul>
                </li>

                {% if user.customer %}
                <li class="has-children"><span><a href="javascript:;"><span>Mi cuenta</span></a><span class="sub-menu-toggle"></span></span>
                    <ul class="offcanvas-submenu">
                        <li><a href="{% url 'customers_panel_view' %}">Mis compras</a></li>
                        <li><a href="{% url 'customers_profile_view' %}">Mi perfil</a></li>
                        <li><a href="javascript:;">Favoritos</a></li>
                    </ul>
                </li>            
                {% endif %}
            </ul>
        </nav>
    </div>
    <!-- Topbar-->
    <div class="topbar">
        <div class="topbar-column">
            <a class="hidden-md-down" href="mailto:contacto@tiendadelreciclaje.com">
                <i class="fa fa-envelope"></i>&nbsp; contacto@tiendadelreciclaje.com
            </a>
            <a class="hidden-md-down" href="tel:00331697720">
                <i class="fa fa-phone"></i>&nbsp; +57 305 8626603 - (5) 6747059
            </a> 
            <a class="social-button sb-facebook shape-none sb-dark" href="https://facebook.com/tiendadelreciclajectg" target="_blank">
                <i class="socicon-facebook"></i>
            </a>
            <a class="social-button sb-twitter shape-none sb-dark" href="#" target="_blank">
                <i class="socicon-twitter"></i>
            </a>
            <a class="social-button sb-instagram shape-none sb-dark" href="#" target="_blank">
                <i class="socicon-instagram"></i>
            </a>       
        </div>
    </div>
    <!-- Navbar-->
    <header class="navbar navbar-sticky">

        <!-- Search-->
        <form class="site-search" method="get">
            <input type="text" name="site_search" placeholder="Escribe para buscar...">
            <div class="search-tools"><span class="clear-search">Limpiar</span><span class="close-search"><i class="icon-cross"></i></span></div>
        </form>
        <div class="site-branding">
            <div class="inner">
                <!-- Off-Canvas Toggle (#shop-categories)-->
                <a class="offcanvas-toggle cats-toggle" href="#shop-categories" data-toggle="offcanvas"></a>
                <!-- Off-Canvas Toggle (#mobile-menu)-->
                <a class="offcanvas-toggle menu-toggle" href="#mobile-menu" data-toggle="offcanvas"></a>
                <!-- Site Logo-->
                <a class="site-logo" href="{% url 'home_view' %}">
                    <img src="{% static 'home/img/logo/logo.png' %}" alt="Logo Tienda del Reciclaje">
                </a>
            </div>
        </div>
        {% block main_menu %}
        <!-- Main Navigation-->
        <nav class="site-menu">
            <ul>
                <li class="active"><a href="{% url 'home_view' %}"><span>Inicio</span></a></li>
                <li><a href="{% url 'about_view' %}"><span>Quiénes somos</span></a></li>
                <li><a href="{% url 'shop_view' %}"><span>Tienda</span></a></li>
                <li class="has-children"><a href="javascript:;"><span>Zona clientes</span></a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'user_register_view' %}">Registro de usuarios</a></li>
                        <li><a href="{% url 'become_seller_view' %}"><span>Vende aquí</span></a></li>
                    </ul>
                </li>                
                <li><a href="blog-rs.html"><span>Blog</span></a></li>
                <li><a href="{% url 'contacts_view' %}"><span>Contacto</span></a></li>      
                
            </ul>
        </nav>
        {% endblock main_menu %}

        <!-- Toolbar-->
        <div class="toolbar">
            <div class="inner">
                <div class="tools">
                    <div class="search"><i class="icon-search"></i></div>
                    <div class="account">
                        
                        {% if user.is_staff %}
                        <a href="{% url 'admins_panel_view' %}"></a>
                        {% elif not user.is_staff and user.customer%}
                        <a href="{% url 'customers_panel_view' %}"></a>
                        {% endif %}                            
                        <i class="icon-head"></i>
                        <ul class="toolbar-dropdown">
                            {% if user.customer and not user.is_staff %} 
                            <li class="sub-menu-user">
                                <div class="user-ava">                                    
                                    {% if user.customer.profile_img %}
                                    <img src="{{user.customer.profile_img.url}}" alt="Pic {{user.customer.get_full_name}}">
                                    {% else %}
                                    <img src="{% static 'home/img/avatar.webp' %}" alt="Pic {{user.customer.get_full_name}}">                                 
                                    {% endif %}                                        
                                </div>
                                <div class="user-info">
                                    <h6 class="user-name">{{user.customer.get_full_name}}</h6><span class="text-xs text-muted">{{user.customer.points}} Puntos</span>
                                </div>
                            </li>                          
                                                       
                            <li><a href="{% url 'customers_panel_view' %}">Mis compras</a></li>
                            <li><a href="{% url 'customers_profile_view' %}">Mi perfil</a></li>
                            <li><a href="{% url 'customers_wishlist_view' %}">Lista de deseos</a></li>
                            <li class="sub-menu-separator"></li>
                            {% if user.customer.store and user.customer.store.is_active %}
                            <li><a href="{% url 'stores_panel_view' %}">Ir al panel de vendedores</a></li>
                            {% endif %}
                            <li class="sub-menu-separator"></li>
                            <li><a href="{% url 'logout_view' %}"> <i class="icon-unlock"></i>Cerrar sesión</a></li>
                            {% elif user.is_staff and not user.customer %}
                            <li><a href="{% url 'admins_panel_view' %}">Ir al Panel de administradores</a></li>
                            <li><a href="{% url 'logout_view' %}"> <i class="icon-unlock"></i>Cerrar sesión</a></li>
                            {% else %}
                            <li><a href="{% url 'user_register_view' %}">Registrarme</a></li>
                            <li><a href="{% url 'login_view' %}">Iniciar sesión</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if user.customer %} 
                    <div class="cart">
                        <a href="#"></a>
                        <i class="icon-bag"></i>
                        <span class="count">{{user.customer.order.all.last.products.count}}</span>
                        <span class="subtotal">$ {{user.customer.order.all.last.get_total | intcomma}}</span>
                        <div class="toolbar-dropdown">
                            
                            {% for product in user.customer.order.all.last.products.all %}
                            <div class="dropdown-product-item">
                                <span class="dropdown-product-remove cart_remove_product" id="cart_remove_product_{{product.product.id}}"> <i class="icon-cross"></i></span>
                                <a class="dropdown-product-thumb" href="{% url 'product_details_home' product.product.slug %}">
                                    <img src="{{product.product.main_img.url}}" alt="Product">
                                </a>
                                <div class="dropdown-product-info">
                                    <a class="dropdown-product-title" href="{% url 'product_details_home' product.product.slug %}">{{product.product.title}}</a>
                                    <span class="dropdown-product-details">{{product.quantity}} x $ {{product.get_final_price|intcomma}}</span>
                                </div>
                            </div>
                            {% endfor %}
                                
                            
                            
                            <div class="toolbar-dropdown-group">
                                <div class="column"><span class="text-lg">Total:</span></div>
                                <div class="column text-right"><span class="text-lg text-medium">$ {{user.customer.order.all.last.get_total | intcomma}}&nbsp;</span>
                                </div>
                            </div>
                            <div class="toolbar-dropdown-group">
                                <div class="column"><a class="btn btn-sm btn-block btn-secondary" href="{% url 'cart_view' %}">Ver carrito</a></div>
                                <div class="column"><a class="btn btn-sm btn-block btn-success" href="checkout-address.html">Pagar</a></div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <!-- Off-Canvas Wrapper-->
    <div class="offcanvas-wrapper">
        {% block content %}
        <!-- Page Content-->
        <!-- Main Slider-->
        <section class="hero-slider">
            <div class="owl-carousel large-controls dots-inside" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 7000 }">
                
                <div class="item">
                    <div class="container padding-top-3x">
                        <div class="row justify-content-center">
                            <div class="col-md-10 padding-bottom-2x mb-3 ">
                                <div class="mb-2 mt-10 text-logo">
                                    <span class="green1">Un mundo de segundas</span><br><span class="green2"> oportunidades</span>
                                </div>
                                <a class="btn btn-primary scale-up delay-1" href="{% url 'user_register_view' %}">
                                    Regístrate <i class="fa fa-check"></i>
                                </a>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="item">
                    <div class="container padding-top-3x">
                        <div class="row justify-content-center">
                            <div class="col-md-10 padding-bottom-2x mb-3">
                                <div class="mb-2 mt-10 text-logo">
                                    <span class="green1">Si no lo usas</span><br><span class="green2">¡Véndelo aquí!</span>                       
                                </div>
                                <a class="btn btn-primary scale-up delay-1" href="{% url 'become_seller_view' %}">
                                    Más información <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container padding-top-3x">
                        <div class="row justify-content-center">
                            <div class="col-md-10 padding-bottom-2x mb-3">
                                <div class="mb-2 mt-10 text-logo">
                                    <span class="green1">Te asesoramos en la</span><br><span class="green2">gestión de tus residuos</span>                       
                                </div>
                                <a class="btn btn-primary scale-up delay-1" href="{% url 'become_seller_view' %}">
                                    Contáctanos <i class="fa fa-check"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Featured Products Carousel-->
        <section class="container padding-top-3x padding-bottom-3x">
            <h3 class="text-center mb-30">Productos destacados</h3>
            <div class="owl-carousel"
                data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;margin&quot;: 30, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;576&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}} }">
                
                {% for product in products %}
                
                {% if not product.in_bid and product.is_active %}              
                    <!-- Product-->
                    <div class="grid-item">
                        <div class="product-card">

                            {% if product.discount_price %}
                            <div class="product-badge text-danger">DESCUENTO {{product | calculate_discount}}%</div>
                            {% endif %}

                            <a class="product-thumb" href="{% url 'product_details_home' product.slug %}">
                                <img src="{{product.main_img.url}}" alt="Product">
                            </a>
                            <h3 class="product-title"><a
                                    href="{% url 'product_details_home' product.slug %}">{{product.title}}</a></h3>
                            <h4 class="product-price">
                                {% if product.discount_price %}
                                <del>$ {{product.unit_price | intcomma}}</del>$ {{product.discount_price | intcomma}}
                                {% else %}
                                $ {{product.unit_price | intcomma}}
                                {% endif %}
                            </h4>
                            <div class="product-buttons">
                                <button class="btn btn-outline-secondary btn-sm btn-wishlist add_wishlist" id="add_wishlist_{{product.id}}" data-toggle="tooltip" title="Agregar a lista de deseos"><i class="icon-heart"></i></button>
                                {% if not product.in_bid %}
                                <button class="btn btn-outline-primary btn-sm add_to_cart" id="add_to_cart_{{product.id}}">
                                    Añadir al carrito
                                </button>
                                {% else %}
                                <a href="{% url 'product_details_home' product.slug %}">
                                    <button class="btn btn-outline-info btn-sm">
                                        Ver detalles
                                    </button> 
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% endfor %}

            </div>
        </section>
        <!-- Top Categories-->
        <section class="container padding-top-3x">
            <h3 class="text-center mb-30">Categorías destacadas</h3>
            <div class="row">
                
                {% for category in featured_categories %}
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-30">
                        <a class="card-img-tiles" href="{% url 'shop_filter_by_category_home' category.slug %}">
                            <div class="inner">
                                <div class="main-img">
                                    <img src="{{category.img.url}}" alt="{{category.name}}">
                                </div>
                            </div>
                        </a>
                        <div class="card-body text-center">
                            <h4 class="card-title">{{category.name}}</h4>
                            <a class="btn btn-outline-primary btn-sm" href="{% url 'shop_filter_by_category_home' category.slug %}">Ver productos</a>
                        </div>
                    </div>
                </div>
                {% endfor %}            
            </div>
            <div class="text-center"><a class="btn btn-outline-secondary margin-top-none"
                    href="{% url 'shop_categories_view' %}">ver todas las categorías</a></div>
        </section>
        <!-- Promo #1-->
        <section class="container-fluid padding-top-3x">
            <div class="owl-carousel"
                data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;margin&quot;: 30, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;576&quot;:{&quot;items&quot;:1},&quot;768&quot;:{&quot;items&quot;:1},&quot;991&quot;:{&quot;items&quot;:1},&quot;1200&quot;:{&quot;items&quot;:1}} }">

                {% for product in products %}
                
                {% if product.in_bid and product.status == 1 %} 
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 mb-30">
                        <div class="rounded bg-faded position-relative padding-top-3x padding-bottom-3x"><span
                                class="product-badge text-danger" style="top: 24px; left: 24px;">¡DESTACADA DE LA SEMANA!</span>
                            <div class="text-center">
                                <h3 class="h2 text-normal mb-1">Nueva Subasta</h3>
                                <h2 class="display-2 text-bold mb-4">{{product.title}}</h2>
                                <h4 class="h3 text-normal mb-2">Termina en: </h4>
                                <div class="countdown mb-3" data-date-time="{{ product.bid_date_end | date:"m/d/Y H:i:s" }}">
                                    <div class="item">
                                        <div class="days">0</div><span class="days_ref">Días</span>
                                    </div>
                                    <div class="item">
                                        <div class="hours">0</div><span class="hours_ref">Horas</span>
                                    </div>
                                    <div class="item">
                                        <div class="minutes">0</div><span class="minutes_ref">Mins</span>
                                    </div>
                                </div><br><a class="btn btn-primary margin-bottom-none" href="{% url 'product_details_home' product.slug %}">Ver detalles y Ofertar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 mb-30" style="min-height: 270px;">
                        <div class="img-cover rounded" style="background-image: url({{product.main_img.url}});"></div>
                    </div>
                </div>
                {% endif %}
                
                {% endfor %}              

            </div>
        </section>
        <!-- Promo #2-->
        <section class="container-fluid mt-10">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12">
                    <div class="fw-section rounded padding-top-4x padding-bottom-4x"
                        style="background-image: url({% static 'home/img/banners/home02.jpg' %});"><span class="overlay rounded"
                            style="opacity: .35;"></span>
                        <div class="text-center">
                            <h3 class="display-4 text-normal text-white text-shadow mb-1">Productos por cantidad</h3>
                            <h2 class="display-2 text-bold text-white text-shadow">¡GRAN VENTA!</h2>
                            <h4
                                class="d-inline-block h2 text-normal text-white text-shadow border-default border-left-0 border-right-0 mb-4">
                                Productos propios de la tienda</h4><br><a class="btn btn-primary margin-bottom-none"
                                href="contacts.html">Ver productos</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <!-- Services-->
        <section class="container padding-top-3x padding-bottom-2x">
            <div class="row">
                <div class="col-md-3 col-sm-6 text-center mb-30"><img
                        class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="{% static 'home/img/services/01.png' %}"
                        alt="Shipping">
                    <h6>Envío seguro</h6>
                    <p class="text-muted margin-bottom-none">Envíos a todo el territorio nacional</p>
                </div>
                <div class="col-md-3 col-sm-6 text-center mb-30"><img
                        class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="{% static 'home/img/services/02.png' %}"
                        alt="Money Back">
                    <h6>Garantía de reembolso</h6>
                    <p class="text-muted margin-bottom-none">Devolvemos el dinero en 30 días</p>
                </div>
                <div class="col-md-3 col-sm-6 text-center mb-30"><img
                        class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="{% static 'home/img/services/03.png' %}"
                        alt="Support">
                    <h6>24/7 soporte al cliente</h6>
                    <p class="text-muted margin-bottom-none">Atención 24 horas, 7 días a la semana</p>
                </div>
                <div class="col-md-3 col-sm-6 text-center mb-30"><img
                        class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="{% static 'home/img/services/04.png' %}"
                        alt="Payment">
                    <h6>Pagos en línea seguros</h6>
                    <p class="text-muted margin-bottom-none">Tenemos certificado de seguridad SSL</p>
                </div>
            </div>
        </section>
        {% endblock content %}
        <!-- Site Footer-->
        {% include 'home/parts/footer.html' %}
    </div>
    
    <!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="{% static 'home/js/vendor.min.js' %}"></script>
    <script src="{% static 'home/js/scripts.min.js' %}"></script>
    
    {% if request.user.customer %}
    <script>
        $(document).on('click', '.add_wishlist', function(){

            const id_product = parseInt($(this).attr("id").match(/(\d+)/));

            $.ajax({
                url: "{% url 'customers_add_product_wishlist' %}", 
                type: "POST",
                dataType: "json",
                data: {
                    'id_product': id_product,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
            }).done(function(data){
                
                Swal.fire({
                    title: 'Bien!',
                    text: data.message,
                    icon: 'success',
                    confirmButtonText: 'Ok',
                    timer: 3000
                })                       

            }).fail(function(data){
                Swal.fire({
                    title: '¡Error!',
                    text: data.responseJSON.error,
                    icon: 'error',
                    confirmButtonText: 'Ok',
                    timer: 3000
                })
            })  
        });

        $(document).on('click', '.add_to_cart', function(){

            const id_product = parseInt($(this).attr("id").match(/(\d+)/));

            $.ajax({
                url: "{% url 'customers_add_to_cart' %}", 
                type: "POST",
                dataType: "json",
                data: {
                    'id_product': id_product,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
            }).done(function(data){
                
                Swal.fire({
                    title: 'Bien!',
                    text: data.message,
                    icon: 'success',
                    confirmButtonText: 'Ok',
                    timer: 3000
                }).then((result) => {
                /* Read more about handling dismissals below */
                window.location.href = window.location.href 
                })                 

            }).fail(function(data){
                Swal.fire({
                    title: '¡Error!',
                    text: data.responseJSON.error,
                    icon: 'error',
                    confirmButtonText: 'Ok',
                    timer: 3000
                })
            })  
        });
        $(document).on('click', '.add_to_cart_detailed', function(){

            const id_product = parseInt($(this).attr("id").match(/(\d+)/));

            const qtty = $('#quantity_to_cart').val();

            $.ajax({
                url: "{% url 'customers_add_to_cart_detailed' %}", 
                type: "POST",
                dataType: "json",
                data: {
                    'id_product': id_product,
                    'qtty': qtty,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
            }).done(function(data){
                
                Swal.fire({
                    title: 'Bien!',
                    text: data.message,
                    icon: 'success',
                    confirmButtonText: 'Ok',
                    timer: 3000
                    
                }).then((result) => {
                /* Read more about handling dismissals below */
                window.location.href = window.location.href 
                })
                                  

            }).fail(function(data){
                Swal.fire({
                    title: '¡Error!',
                    text: data.responseJSON.error,
                    icon: 'error',
                    confirmButtonText: 'Ok',
                    timer: 3000
                })
            })  
        });
        $(document).on('click', '.cart_remove_product', function (e) {
        
        const id_product = parseInt($(this).attr("id").match(/(\d+)/))

        Swal.fire({
            title: "¿Deseas realmente sacar este producto del carrito?",
            text: "¡Una vez eliminado, no podrás gestionar las cantidades!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: 'Sí, sácarlo',
            denyButtonText: 'Cancelar'
        })
        .then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "{% url 'customers_remove_cart_product' %}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        'id_product': id_product,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                }).done(function (data) {
                    Swal.fire({
                        title: 'Bien!',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'Ok',
                        timer: 3000
                        
                    }).then((result) => {
                    /* Read more about handling dismissals below */
                    window.location.href = window.location.href 
                    })

                }).fail(function (data) {
                    Swal.fire({
                        title: '¡Error!',
                        text: data.responseJSON.error,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                })
            } else {
            }
        
    })
    })
    </script>
    {% endif %}        
    
    {% block scripts %}
    {% endblock scripts %}
</body>

</html>