{% extends 'home/index.html' %}{% load humanize %} {% load shop %}{% load widget_tweaks %}
{% load static %}
{% block meta %}
<title>Inicio de sesión - Tienda del Reciclaje</title>
<!-- SEO Meta Tags-->
<meta name="description" content="Unishop - Universal E-Commerce Template">
{% endblock meta %}
{% block main_menu %}
<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li><a href="{% url 'home_view' %}"><span>Inicio</span></a></li>
        <li><a href="{% url 'about_view' %}"><span>Quiénes somos</span></a></li>
        <li><a href="{% url 'shop_view' %}"><span>Tienda</span></a></li>
        <li class="has-children"><a href="javascript:;"><span>Zona clientes</span></a>
            <ul class="sub-menu">
                <li class="active"><a href="{% url 'user_register_view' %}">Registro de usuarios</a></li>
                <li><a href="{% url 'become_seller_view' %}"><span>Vende aquí</span></a></li>
            </ul>
        </li>
        <li><a href="blog-rs.html"><span>Blog</span></a></li>
        <li><a href="{% url 'contacts_view' %}"><span>Contacto</span></a></li>

    </ul>
</nav>
{% endblock main_menu %}

{% block content %}
<div class="offcanvas-wrapper">
    <!-- Page Content-->
    <div class="row no-gutters">
        <div class="d-none d-lg-block col-lg-6 fh-section" style="background-image: url({% static 'home/img/coming-soon-bg.jpg' %});">
            <span class="overlay" style="background-color: #009245; opacity: .85;"></span>
            <div class="d-flex flex-column fh-section py-5 px-3 justify-content-between">
                <div class="w-100 text-center">
                </div>
                <div class="w-100 text-center">
                    <p class="text-white mb-2"></p>
                    <a class="navi-link-light" href="mailto:contacto@tiendadelreciclaje.com">contacto@tiendadelreciclaje.com</a>
                    <div class="pt-3">
                        <a class="social-button shape-circle sb-facebook sb-light-skin" href="https://www.facebook.com/tiendadelreciclaje">
                            <i class="socicon-facebook"></i>
                        </a>
                        <a class="social-button shape-circle sb-twitter sb-light-skin" href="#">
                            <i class="socicon-twitter"></i>
                        </a>
                        <a class="social-button shape-circle sb-instagram sb-light-skin" href="#">
                            <i class="socicon-instagram"></i>
                        </a>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 fh-section" data-offset-top="-1">
            <div class="d-flex flex-column fh-section justify-content-center align-items-center">
                <div class="text-center">
                    <div class="h1 text-normal mb-2">Iniciar sesión</div>
                    <h5 class="text-normal text-muted mb-4">Para iniciar sesión debes tener una cuenta registrada y confirmada. <br>
                        ¿No tienes una cuenta? <a href="{% url 'user_register_view' %}">Regístrate aquí.</a>
                    </h5>
                    <form class="login-box" method="POST">{% csrf_token %}
                        <div class="form-group">
                            {% render_field form.email class+="form-control form-control-pill" placeholder="Ingresa tu email" required=""%}
                        </div>
                        <div class="form-group">
                            {% render_field form.password class+="form-control form-control-pill" placeholder="Ingresa tu contraseña" required=""%}
                        </div>
                        <button class="btn btn-success" type="submit">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}