{% extends 'home/index.html' %}{% load humanize %} {% load shop %}
{% load static %}
{% block meta %}
<title>Productos {{categoy_filtered.name}} - Tienda del Reciclaje</title>
<!-- SEO Meta Tags-->
<meta name="description" content="Unishop - Universal E-Commerce Template">
{% endblock meta %}
{% block main_menu %}
<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li><a href="{% url 'home_view' %}"><span>Inicio</span></a></li>
        <li><a href="{% url 'about_view' %}"><span>Quiénes somos</span></a></li>
        <li class="active"><a href="{% url 'shop_view' %}"><span>Tienda</span></a></li>
        <li class="has-children"><a href="javascript:;"><span>Zona clientes</span></a>
            <ul class="sub-menu">
                <li><a href="{% url 'user_register_view' %}">Registro de usuarios</a></li>
                <li><a href="{% url 'become_seller_view' %}"><span>Vende aquí</span></a></li>
            </ul>
        </li>
        <li><a href="blog-rs.html"><span>Blog</span></a></li>
        <li><a href="{% url 'contacts_view' %}"><span>Contacto</span></a></li>

    </ul>
</nav>
{% endblock main_menu %}

{% block content %}
<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>{{product.title}}</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home_view' %}">Inicio</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li><a href="{% url 'shop_view' %}">Tienda</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>Detalles del producto</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-1">
        <div class="row">
            <!-- Poduct Gallery-->
            <div class="col-md-6">
                <div class="product-gallery">
                    <span class="product-badge text-danger">
                        {% if product.discount_price %}
                        DESCUENTO {{product | calculate_discount}}%
                        {% endif %}
                    </span>                    
                    <div class="product-carousel owl-carousel gallery-wrapper">
                        <div class="gallery-item" data-hash="one">
                            <a href="{{product.main_img.url}}" data-size="1000x667">
                                <img src="{{product.main_img.url}}" alt="Product">
                            </a>
                        </div>
                        <div class="gallery-item" data-hash="two">
                            <a href="{{product.main_img.url}}" data-size="1000x667">
                                <img src="{{product.main_img.url}}" alt="Product">
                            </a>
                        </div>
                        <div class="gallery-item" data-hash="three">
                            <a href="{{product.main_img.url}}" data-size="1000x667">
                                <img src="{{product.main_img.url}}" alt="Product">
                            </a>
                        </div>
                    </div>
                    <ul class="product-thumbnails">
                        <li class="active">
                            <a href="#one"><img src="{{product.main_img.url}}" alt="Product"></a>
                        </li>
                        <li>
                            <a href="#two"><img src="{{product.main_img.url}}" alt="Product"></a>
                        </li>
                        <li>
                            <a href="#three"><img src="{{product.main_img.url}}" alt="Product"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Product Info-->
            <div class="col-md-6">
                <div class="padding-top-2x mt-2 hidden-md-up"></div>
                <div class="rating-stars">
                    <i class="icon-star filled"></i>
                </div><span class="text-bold align-middle"> 4.2 | 3 reseñas de clientes</span><br><br>
                {% if product.in_bid %}
                    <span class="text-danger display-3">
                        En subasta
                    </span> 
                    {% endif %} <br>
                <h2 class="h3 padding-top-1x text-normal">
                    {{product.title}}
                </h2>
                {% if not product.in_bid %}
                <span class="h2 d-block">
                    {% if product.discount_price %}
                    <del class="text-muted text-normal">
                        $ {{product.unit_price | intcomma}}
                    </del>
                    $ {{product.discount_price | intcomma}}
                    {% else %}
                    $ {{product.unit_price | intcomma}}                                    
                    {% endif %}
                </span>
                {% elif product.in_bid %}
                <span class="h3">                    
                    Subasta comienza en: $ {{product.bid_price_start_at | intcomma}}
                </span>
                {% endif %}
                <div class="mt-5 mb-2">
                    <span class="text-medium">SKU:</span> {{product.sku}}
                </div>
                <div class="padding-bottom-1x mb-2">
                    <span class="text-medium">Categoría:&nbsp;</span>
                    <a class="navi-link" href="#">{{product.category.name}}</a>
                </div>  
                {% if product.in_bid %}
                <div class="mt-3 mb-2">
                    <span class="text-medium">Fecha de inicio de subasta:</span> {{product.bid_date_start}} 
                    
                </div>
                <div class="padding-bottom-1x mb-2">
                    <span class="text-medium">Fecha de finalización de subasta:&nbsp;</span>{{product.bid_date_end}} 
                </div> 
                <div class="padding-bottom-1x mb-2">
                    <span class="text-medium">Documentos requeridos:&nbsp;</span><br>{{product.required_documents}} 
                </div> 
                {% endif %} 
                        
                <hr class="mb-3">
                <div class="row margin-top-1x">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="quantity">Cantidad</label>
                            <input type="number" name="quantity" id="quantity_to_cart" class="form-control" value="1">
                        </div>
                    </div>
                    <div class="col-sm-6 align-middle">
                        <br>
                        <button class="btn btn-primary add_to_cart_detailed" id="add_to_cart_detailed_{{product.id}}">
                            <i class="icon-bag"></i> Al carrito
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-outline-secondary btn-sm btn-wishlist add_wishlist" id="add_wishlist_{{product.id}}" data-toggle="tooltip" title="Agregar a lista de deseos"><i class="icon-heart"></i></button>
                    </div>
                </div>
                
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="entry-share mt-2 mb-2"><span class="text-muted">Compartir:</span>
                        <div class="share-links">
                            <a class="social-button shape-circle sb-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}/{% url 'product_details_home' product.slug %}" data-toggle="tooltip" data-placement="top" title="Facebook" target="_blank">
                                <i class="socicon-facebook"></i>
                            </a>
                            <a class="social-button shape-circle sb-twitter" href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="socicon-twitter"></i>
                            </a>
                            <a class="social-button shape-circle sb-instagram" href="#" data-toggle="tooltip" data-placement="top" title="Instagram">
                                <i class="socicon-instagram"></i>
                            </a>
                            <a class="social-button shape-circle sb-google-plus" href="#" data-toggle="tooltip" data-placement="top" title="Google +">
                                <i class="socicon-googleplus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Tabs-->
        <div class="row padding-top-3x mb-3">
            <div class="col-lg-10 offset-lg-1">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link active" href="#description" data-toggle="tab"
                            role="tab">Descripción</a></li>
                    <li class="nav-item"><a class="nav-link" href="#reviews" data-toggle="tab" role="tab">Reseñas
                            (3)</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="description" role="tabpanel">
                        <p>
                            {{product.description}}
                        </p>                        
                    </div>
                    <div class="tab-pane fade" id="reviews" role="tabpanel">
                        <!-- Review-->
                        <div class="comment">
                            <div class="comment-author-ava"><img src="img/reviews/01.jpg" alt="Review author"></div>
                            <div class="comment-body">
                                <div class="comment-header d-flex flex-wrap justify-content-between">
                                    <h4 class="comment-title">Average quality for the price</h4>
                                    <div class="mb-2">
                                        <div class="rating-stars"><i class="icon-star filled"></i><i
                                                class="icon-star filled"></i><i class="icon-star filled"></i><i
                                                class="icon-star"></i><i class="icon-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="comment-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                    blanditiis
                                    praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                    excepturi sint occaecati
                                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
                                    animi, id est laborum
                                    et dolorum fuga.</p>
                                <div class="comment-footer"><span class="comment-meta">Francis Burton</span></div>
                            </div>
                        </div>
                        
                        <!-- Review Form-->
                        <h5 class="mb-30 padding-top-1x">Dejar una reseñar</h5>
                        <form class="row" method="post">                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="review_subject">Subject</label>
                                    <input class="form-control form-control-rounded" type="text" id="review_subject" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="review_rating">Rating</label>
                                    <select class="form-control form-control-rounded" id="review_rating">
                                        <option>5 Estrellas</option>
                                        <option>4 Estrellas</option>
                                        <option>3 Estrellas</option>
                                        <option>2 Estrellas</option>
                                        <option>1 Estrella</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="review_text">Comentario </label>
                                    <textarea class="form-control form-control-rounded" id="review_text" rows="8" required></textarea>
                                </div>
                            </div>
                            <div class="col-12 text-right">
                                <button class="btn btn-outline-primary" type="submit">Enviar reseña</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Related Products Carousel-->
        <h3 class="text-center padding-top-2x mt-2 padding-bottom-1x">Productos de la categoría: {{product.category.name}}</h3>
        <!-- Carousel-->
        <div class="owl-carousel"
            data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;margin&quot;: 30, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;576&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}} }">
            {% for product in related_products %}                  
            <!-- Product-->
            <div class="grid-item">
                <div class="product-card">
                    
                    {% if product.discount_price %}
                    <div class="product-badge text-danger">DESCUENTO {{product | calculate_discount}}%</div>                                
                    {% endif %}
                        
                    <a class="product-thumb" href="{% url 'product_details_home' product.slug %}">
                        <img src="{{product.main_img.url}}" alt="Product">
                    </a>
                    <h3 class="product-title"><a href="{% url 'product_details_home' product.slug %}">{{product.title}}</a></h3>
                    <h4 class="product-price">
                        {% if product.discount_price %}
                        <del>$ {{product.unit_price | intcomma}}</del>$ {{product.discount_price | intcomma}}
                        {% else %}
                        $ {{product.unit_price | intcomma}}                                    
                        {% endif %}                                    
                    </h4>
                    <div class="product-buttons">
                        <button class="btn btn-outline-secondary btn-sm btn-wishlist add_wishlist" id="add_wishlist_{{product.id}}" data-toggle="tooltip" title="Agregar a lista de deseos"><i class="icon-heart"></i></button>
                        <button class="btn btn-outline-primary btn-sm">
                            Añadir al carrito
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
{% block modal_zone %}

{% endblock modal_zone %}