{% extends 'home/index.html' %}{% load humanize %} {% load shop %}{% load widget_tweaks %}
{% load static %}
{% block meta %}
<title>Registro exitoso - Tienda del Reciclaje</title>
<!-- SEO Meta Tags-->
<meta name="description" content="Unishop - Universal E-Commerce Template">
{% endblock meta %}
{% block main_menu %}
<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li><a href="{% url 'home_view' %}"><span>Inicio</span></a></li>
        <li><a href="{% url 'about_view' %}"><span>Quiénes somos</span></a></li>
        <li><a href="{% url 'shop_view' %}"><span>Tienda</span></a></li>
        <li class="has-children"><a href="javascript:;"><span>Zona clientes</span></a>
            <ul class="sub-menu">
                <li class="active"><a href="{% url 'user_register_view' %}">Registro de usuarios</a></li>
                <li><a href="{% url 'become_seller_view' %}"><span>Vende aquí</span></a></li>
            </ul>
        </li>  
        <li><a href="blog-rs.html"><span>Blog</span></a></li>
        <li><a href="{% url 'contacts_view' %}"><span>Contacto</span></a></li>

    </ul>
</nav>
{% endblock main_menu %}

{% block content %}
<!-- Off-Canvas Wrapper-->
<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>Registrar exitoso</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home_view' %}">Incio</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li><a href="{% url 'user_register_view' %}">Registro</a></li>
                    <li class="separator">&nbsp;</li>
                    <li>Registro exitoso</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Content-->
    <div class="container">
        <div class="card text-center">
            <div class="card-body padding-top-2x">
                <h3 class="card-title">¡Tu registro fue exitoso!</h3>
                <p class="card-text">
                    Revisa el email que registraste aquí y confirma tus datos de acceso a nuestra tienda. Si no lo encuentras en el buzón principal, revisa en SPAM.
                </p>
                <br>
                <img src="{% static 'home/img/logo/logo.png' %}" alt="Logo Tienda del Reciclaje" class="w-300">                
            </div>
        </div>
    </div>
    <!-- Site Footer-->
</div>
{% endblock content %}