{% extends 'home/index.html' %}{% load humanize %} {% load shop %}{% load widget_tweaks %}
{% load static %}
{% block meta %}
<title>Registro de usuarios - Tienda del Reciclaje</title>
<!-- SEO Meta Tags-->
<meta name="description" content="Unishop - Universal E-Commerce Template">
{% endblock meta %}
{% block main_menu %}
<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li><a href="{% url 'home_view' %}"><span>Inicio</span></a></li>
        <li><a href="{% url 'about_view' %}"><span>Quiénes somos</span></a></li>
        <li><a href="{% url 'shop_view' %}"><span>Tienda</span></a></li>
        <li class="has-children"><a href="javascript:;"><span>Zona clientes</span></a>
            <ul class="sub-menu">
                <li class="active"><a href="{% url 'user_register_view' %}">Registro de usuarios</a></li>
                <li><a href="{% url 'become_seller_view' %}"><span>Vende aquí</span></a></li>
            </ul>
        </li>  
        <li><a href="blog-rs.html"><span>Blog</span></a></li>
        <li><a href="{% url 'contacts_view' %}"><span>Contacto</span></a></li>

    </ul>
</nav>
{% endblock main_menu %}

{% block content %}
<!-- Off-Canvas Wrapper-->
<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>Registrar cuenta</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home_view' %}">Incio</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>Registro</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Content-->
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>
        <i class="icon-slash"></i>&nbsp;&nbsp;
        
        {% if form.non_field_errors %}
        <span class="text-medium">
            Error en: {{ form.non_field_errors }}
        </span><br>
        {% endif %}
        {% for field in form %}
        {% if field.errors %}
        {{ field.label }}
        <ul class="errorlist">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="container padding-bottom-3x mb-2">
        <div class="row">
            <div class="col-md-12">
                <div class="padding-top-3x hidden-md-up"></div>
                <h3 class="margin-bottom-1x">¿No tienes cuenta? Regístrate aquí</h3>
                <p>El registro tarda menos de un minuto, pero te da un control total sobre tus pedidos.</p>
                <form class="row mt-5" method="POST" id="register_form"> {% csrf_token %}
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label for="reg-fn">Tipo de persona</label>
                            {% render_field form.user_type class+="form-control"%}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 is_company d-none">
                        <div class="form-group">
                            <label for="reg-fn">Razón Social de la empresa</label>
                            {% render_field form.company_name class+="form-control" placeholder="Ingresa razón Social de la empresa" %}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 is_company d-none">
                        <div class="form-group">
                            <label for="company_id_type">Tipo de identificación de la empresa</label>
                            {% render_field form.company_id_type class+="form-control" %}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 is_company d-none">
                        <div class="form-group">
                            <label for="reg-fn">Número de identificación de la empresa</label>
                            {% render_field form.company_id_number class+="form-control" placeholder="Número de identificación de la empresa sin digito de verificación"%}
                        </div>
                    </div> 
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="reg-fn">Nombres completos de la persona encargada</label>
                            {% render_field form.first_name class+="form-control" placeholder="Ingresa tu(s) nombre(s)" required="" %}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="reg-ln">Apellidos de la persona encargada</label>
                            {% render_field form.last_name class+="form-control" placeholder="Ingresa tu(s) appelido(s)" required="" %}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="reg-email">País</label>
                            <select name="id_country" id="id_country" class="form-control" required>
                                <option value="">Seleccione su país...</option>                                
                                {% for country in countries %}
                                <option value="{{country.id}}">{{country.name}}</option>
                                {% endfor %}
                                    
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group d-none" id="label_city">
                            <label for="reg-email">Ciudad</label>
                            <select name="id_city" id="id_city" class="form-control" required>                                    
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="reg-phone">Número de teléfono</label>
                            {% render_field form.phone class+="form-control" placeholder="Ingresa tu número de teléfono" %}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <h6 class="text-muted text-lg text-uppercase margin-top-2x">Datos para inicio de sesión</h6>
                            <hr class="margin-bottom-1x">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="reg-pass">Email</label>
                            {% render_field form.email class+="form-control" placeholder="Ingresa tu email" %}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="reg-pass">Contraseña</label>
                            {% render_field form.password1 class+="form-control" %}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="reg-pass-confirm">Repite la contraseña</label>
                            {% render_field form.password2 class+="form-control" %}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="ex-check-2" checked="">
                                <label class="custom-control-label" for="ex-check-2">Acepto términos y condiciones, política de privcidad</label>
                              </div>
                        </div>
                    </div>
                    <div class="col-12 text-center text-sm-right">
                        <button class="btn btn-primary margin-bottom-none" type="submit">Registro</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Site Footer-->
</div>
{% endblock content %}
{% block scripts %}
<script>
    jQuery(document).ready(function () {
        const user_type = $('select[name=user_type] option').filter(':selected').val();

        if(user_type=='2'){
            $('.is_company').removeClass('d-none')
        }else{
            $('.is_company').addClass('d-none')
        }
    })

    $(document).on('change', '#id_country', function(e){

        const id_country = $('select[name=id_country] option').filter(':selected').val();

        if (id_country != ""){

            $.ajax({
                url: "{% url 'city_filter' %}", 
                type: "POST",
                dataType: "json",
                data: {
                    'id_country': id_country,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
            }).done(function(data){
                $("#id_city").html("")
                if(data.length > 0){
                    $("#id_city").append("<option value=''>Seleccione su ciudad...</option>")

                    for( var i = 0; i<data.length; i++){
                        var id = data[i].id;
                        var name = data[i].name                        
                        $("#id_city").append("<option value='"+id+"'>"+name+"</option>")                        
                    }   
                    $('#label_city').removeClass('d-none')    
                }else{
                    $('#label_city').addClass('d-none')
                }

            }).fail(function(data){
                Swal.fire({
                    title: '¡Error!',
                    text: "¡Algo raro sucedío! Por favor, infórmanos de este problema...",
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            })
        }else{
            $("#id_city").html("")
            $('#label_city').addClass('d-none')
        }
            			 
    })
    $(document).on('submit', '#register_form', function(e){
        e.preventDefault()

        const id_city = $('select[name=id_city] option').filter(':selected').val();
        
        if(id_city == undefined || id_city == ""){
            Swal.fire({
                    title: '¡Error!',
                    text: "Debe seleccionar un país y una ciudad válida",
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
        }else{
            document.getElementById("register_form").submit(); 
        }

    })

    $(document).on('change', '#id_user_type', function(e){

        const user_type = $('select[name=user_type] option').filter(':selected').val();

        if(user_type=='2'){
            $('.is_company').removeClass('d-none')
        }else{
            $('.is_company').addClass('d-none')
        }
    
    })
</script>
{% endblock scripts %}