{% extends 'home/index.html' %}{% load humanize %} {% load shop %}
{% load static %}
{% block meta %}
<title>Todas las categorías - Tienda del Reciclaje</title>
<!-- SEO Meta Tags-->
<meta name="description" content="Unishop - Universal E-Commerce Template">
{% endblock meta %}
{% block main_menu %}
<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li><a href="{% url 'home_view' %}"><span>Inicio</span></a></li>
        <li><a href="{% url 'about_view' %}"><span>Quiénes somos</span></a></li>
        <li class="active"><a href="{% url 'shop_view' %}"><span>Tienda</span></a></li>
        <li class="has-children"><a href="javascript:;"><span>Zona clientes</span></a>
            <ul class="sub-menu">
                <li><a href="{% url 'user_register_view' %}">Registro de usuarios</a></li>
                <li><a href="{% url 'become_seller_view' %}"><span>Vende aquí</span></a></li>
            </ul>
        </li>
        <li><a href="blog-rs.html"><span>Blog</span></a></li>
        <li><a href="{% url 'contacts_view' %}"><span>Contacto</span></a></li>

    </ul>
</nav>
{% endblock main_menu %}

{% block content %}
<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>Todas las categorías de la tienda</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home_view' %}">Inicio</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li><a href="{% url 'shop_view' %}">Tienda</a></li>
                    <li class="separator">&nbsp;</li>
                    <li>Productos: "{{ category_filtered.name }}"</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-1">
        <div class="row">
            <!-- Products-->
            <div class="col-xl-9 col-lg-8 order-lg-2">
                <div class="row">
                    {% for category in categories %}
                    <div class="col-sm-6">
                        <div class="card mb-30"><a class="card-img-tiles" href="{% url 'shop_filter_by_category_home' category.slug %}">
                                <div class="inner">
                                    <div class="main-img"><img src="{{category.img.url}}" alt="{{category.name}}"></div>
                                </div>
                            </a>
                            <div class="card-body text-center">
                                <h4 class="h6 card-title">{{category.name}}</h4>
                                <a class="btn btn-outline-primary btn-sm"
                                    href="{% url 'shop_filter_by_category_home' category.slug %}">Ver productos</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                <!-- Pagination-->
                <div class="entry-navigation">
                    <div class="column text-left">
                        {% if categories.has_previous %}
                        <a class="btn btn-outline-secondary btn-sm" href="?page={{ categories.previous_page_number }}">
                            <i class="icon-arrow-left"></i>&nbsp;Anterior
                        </a>
                        {% else %}
                        <a class="btn btn-outline-secondary btn-sm" href="javascript:;"><i
                                class="icon-arrow-left"></i>&nbsp;Anterior</a>
                        {% endif %}
                    </div>
                    <div class="column">
                        Página {{ categories.number }} de {{categories.paginator.num_pages}}
                    </div>
                    <div class="column text-right">
                        {% if categories.has_next %}
                        <a class="btn btn-outline-secondary btn-sm"
                            href="?page={{ categories.next_page_number }}">Siguiente&nbsp;<i
                                class="icon-arrow-right"></i></a>
                        {% else %}
                        <a class="btn btn-outline-secondary btn-sm" href="javascript:;">Siguiente&nbsp;<i
                                class="icon-arrow-right"></i></a>
                        {% endif %}
                    </div>
                </div>

            </div>
            <!-- Sidebar          -->
            <div class="col-xl-3 col-lg-4 order-lg-1">
                <button class="sidebar-toggle position-left" data-toggle="modal" data-target="#modalShopCategories"><i
                        class="icon-layout"></i></button>
                <aside class="sidebar sidebar-offcanvas">
                    <!-- Widget Categories-->
                    <section class="widget widget-categories">
                        <h3 class="widget-title">Anuncios</h3>
                    </section>

                    <!-- Promo Banner-->
                    <section class="promo-box" style="background-image: url({% static 'home/img/banners/02.jpg' %});">
                        <!-- Choose between .overlay-dark (#000) or .overlay-light (#fff) with default opacity of 50%. You can overrride default color and opacity values via 'style' attribute.--><span
                            class="overlay-dark" style="opacity: .45;"></span>
                        <div class="promo-box-content text-center padding-top-3x padding-bottom-2x">
                            <h4 class="text-light text-thin text-shadow">Nueva colección de</h4>
                            <h3 class="text-bold text-light text-shadow">Gafas de sol</h3><a
                                class="btn btn-sm btn-primary" href="#">Comprar ahora</a>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
    <!-- Site Footer-->
</div>
{% endblock content %}
{% block modal_zone %}
<!-- Shop Categories Modal-->
<div class="modal fade" id="modalShopCategories">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tienda del Reciclaje</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <section class="widget widget-categories">
                    <h3 class="widget-title">Categorías de la tienda</h3>
                    <ul>
                        {% for category in list_categories %}

                        {% if category.has_children %}
                        <li class="has-children expanded"><a
                                href="{% url 'shop_filter_by_category_home' category.slug %}">{{category.name}}</a>
                            <span>({{category | get_number_products}})</span>
                            <ul>
                                {% for subcategory in category.children.all %}
                                <li><a
                                        href="{% url 'shop_filter_by_category_home' subcategory.slug %}">{{subcategory.name}}</a>
                                    <span>({{subcategory | get_number_products}})</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% elif not category.parent %}
                        <li><a href="{% url 'shop_filter_by_category_home' category.slug %}">{{category.name}}</a>
                            <span>({{category | get_number_products}})</span>
                        </li>
                        {% endif %}

                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock modal_zone %}