{% load static %}
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <!-- Contact Info-->
                <section class="widget widget-light-skin">
                    <h3 class="widget-title">Póngase en contacto con nosotros</h3>
                    <p class="text-white">Teĺefonos: <br> +57 305 8626603 <br> (5) 6747059</p>
                    <ul class="list-unstyled text-sm text-white">
                        <li><span class="opacity-50">Lunes-Sábado:</span>9.00 am - 7.00 pm</li>
                        <li><span class="opacity-50">Domingos y festivos:</span>10.00 am - 6.00 pm</li>
                    </ul>
                    <p>
                        <a class="navi-link-light" href="#">contacto@tiendadelreciclaje.com</a>
                    </p>
                    <a class="social-button shape-circle sb-facebook sb-light-skin" href="https://facebook.com/tiendadelreciclajectg" target="_blank">
                        <i class="socicon-facebook"></i>
                    </a>
                    <a class="social-button shape-circle sb-twitter sb-light-skin" href="#">
                        <i class="socicon-twitter"></i>
                    </a>
                    <a class="social-button shape-circle sb-instagram sb-light-skin" href="#">
                        <i class="socicon-instagram"></i>
                    </a>
                </section>
            </div>
            <div class="col-lg-3 col-md-6">
                <!-- Mobile App Buttons-->
                <section class="widget widget-light-skin">
                    <h3 class="widget-title">Instala nuestra App</h3><a
                        class="market-button apple-button mb-light-skin" href="#"><span
                            class="mb-subtitle">Download on the</span><span class="mb-title">App
                            Store</span></a><a class="market-button google-button mb-light-skin" href="#"><span
                            class="mb-subtitle">Download on the</span><span class="mb-title">Google
                            Play</span></a><a class="market-button windows-button mb-light-skin" href="#"><span
                            class="mb-subtitle">Download on the</span><span class="mb-title">Windows
                            Store</span></a>
                </section>
            </div>
            <div class="col-lg-3 col-md-6">
                <!-- About Us-->
                <section class="widget widget-links widget-light-skin">
                    <h3 class="widget-title">Acerca de nosotros</h3>
                    <ul>
                        <li><a href="{% url 'about_view' %}">Quiénes somos</a></li>
                        <li><a href="{% url 'become_seller_view' %}">Vende aquí</a></li>
                        <li><a href="#">Nuestro Blog</a></li>
                        <li><a href="#">Empleos</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-lg-3 col-md-6">
                <!-- Account / Shipping Info-->
                <section class="widget widget-links widget-light-skin">
                    <h3 class="widget-title">Sección legal</h3>
                    <ul>
                        <li><a href="#">Términos y condiciones generales</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                        <li><a href="#">Política de reembolsos</a></li>
                        <li><a href="#">Información de envíos</a></li>
                        <li><a href="#">Acuerdo con vendedores</a></li>
                    </ul>
                </section>
            </div>
        </div>
        <hr class="hr-light mt-2 margin-bottom-2x">
        <div class="row">
            <div class="col-md-7 padding-bottom-1x">
                <!-- Payment Methods-->
                <div class="margin-bottom-1x" style="max-width: 615px;">
                </div>
            </div>
            <div class="col-md-5 padding-bottom-1x">
                <div class="margin-top-1x hidden-md-up"></div>
                <!--Subscription-->
                <form class="subscribe-form" method="post" target="_blank" novalidate>
                    <div class="clearfix">
                        <div class="input-group input-light">
                            <input class="form-control" type="email" name="EMAIL"
                                placeholder="Your e-mail"><span class="input-group-addon"><i
                                    class="icon-mail"></i></span>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
                        </div>
                        <button class="btn btn-primary" type="submit"><i class="icon-check"></i></button>
                    </div><span class="form-text text-sm text-white opacity-50">Suscríbase a nuestro boletín de noticias para recibir ofertas de descuento anticipadas, últimas noticias, ventas e información sobre promociones.</span>
                </form>
            </div>
        </div>
        <!-- Copyright-->
        <p class="footer-copyright">Tienda del reciclaje {% now "Y" %} © Todos los derechos reservados. </p>
    </div>
</footer>