{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="author" content="Tienda Del Reciclaje">
<!-- Favicon and Apple Icons-->
<link rel="icon" type="image/x-icon" href="{% static 'home/img/favicon.ico' %}">
<link rel="icon" type="image/png" href="{% static 'home/img/favicon.png' %}">
<!-- Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet"> 
<link rel="stylesheet" media="screen" href="{% static 'home/css/vendor.min.css' %}">
<!-- Main Template Styles-->
<link id="mainStyles" rel="stylesheet" media="screen" href="{% static 'home/css/styles.css' %}">
<!-- Modernizr-->
<script src="https://kit.fontawesome.com/9b2eefdfe3.js" crossorigin="anonymous"></script>
<script src="{% static 'home/js/modernizr.min.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>