{% extends 'panel/admins/panel.html' %}{% load widget_tweaks %}{% load static %}
{% block title_head %}
<title>Crear nuevo cliente - Tienda del Reciclaje</title>
{% endblock title_head %}
{% block main_menu %}										
<li class="menu-item menu-item-rel">
    <a href="{% url 'admins_panel_view' %}" class="menu-link">
        <span class="menu-text"><i class="fa fa-home text-white mr-5"></i> Panel principal</span>
        <i class="menu-arrow"></i>
    </a>
</li>
<li class="menu-item menu-item-submenu menu-item-rel menu-item-here" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-users text-white mr-5"></i> Clientes</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item menu-item-here" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nuevo</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-users text-info mr-5"></i> Gestionar clientes</span>
                    <span class="menu-desc"></span>
                </a>
            </li>														
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-store text-white mr-5"></i> Tiendas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_categories_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar categorías</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_categories_createview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nueva categoría</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																		
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-dollar-sign text-white mr-5"></i> Ventas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar ventas</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																			
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fas fa-cog text-white mr-5"></i> Configuraciones</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-lock text-info mr-5"></i> Cambiar contraseña</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
        </ul>
    </div>
</li>
{% endblock main_menu %}
{% block title %}
<!--begin::Title-->
<h2 class="text-white font-weight-bold my-2 mr-5">Crear nuevo cliente</h2>
<!--end::Title-->
{% endblock title %}

{% block breadcrumb %}
<!--begin::Breadcrumb-->
<div class="d-flex align-items-center font-weight-bold my-2">
    <!--begin::Item-->
    <a href="#" class="opacity-75 hover-opacity-100">
        <i class="flaticon2-shelter text-white icon-1x"></i>
    </a>
    <!--end::Item-->
    <!--begin::Item-->
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="{% url 'admins_panel_view' %}" class="text-white text-hover-white opacity-75 hover-opacity-100">Panel
        principal</a>
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="{% url 'admins_customers_listview' %}" class="text-white text-hover-white opacity-75 hover-opacity-100">Gestión de clientes</a>
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="#" class="text-white text-hover-white opacity-75 hover-opacity-100">Crear nuevo cliente</a>
    <!--end::Item-->
</div>
<!--end::Breadcrumb-->
{% endblock breadcrumb %}
{% block content %}
<!--begin::Notice-->
<div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
    <div class="alert-icon">
        <span class="svg-icon svg-icon-info svg-icon-xl">
            <i class="fas fa-building text-primary mr-5"></i>
        </span>
    </div>
    <div class="alert-text">Aquí podrás crear un nuevo cliente en la plataforma.</div>
</div>
<!--end::Notice-->

{% if form.errors %}
<div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {% if form.non_field_errors %}
        Error en: {{ form.non_field_errors }}
        {% endif %}
        {% for field in form %}
        {% if field.errors %}
        {{ field.label }}
        <ul class="errorlist">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </div><!-- alert -->
</div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Formulario de creación de cliente</h3>
                </div>
            </div>
            <div class="card-body p-3">                    
                    <!--begin::Card-->
                    <div class="card card-custom card-shadowless rounded-top-0">
                        <!--begin::Body-->
                        <div class="card-body p-0">
                            <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
                                <div class="col-xl-12 col-xxl-10">
                                    <!--begin::Wizard Form-->
                                    <form class="form" id="create_customer_form" method="POST" enctype="multipart/form-data">{% csrf_token %} 
                                        <div class="row justify-content-center">
                                            <div class="col-xl-9">
                                                    <!--begin::Group-->
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Nombres</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <div class="input-group input-group-solid input-group-lg">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-user"></i>
                                                                    </span>
                                                                </div>
                                                                {% render_field form.first_name class+="form-control form-control-solid form-control-lg"%}
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <!--end::Group-->
                                                    <!--begin::Group-->
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Apellidos</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <div class="input-group input-group-solid input-group-lg">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-user"></i>
                                                                    </span>
                                                                </div>
                                                                {% render_field form.last_name class+="form-control form-control-solid form-control-lg"%}
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <!--end::Group-->
                                                    <!--begin::Group-->
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">País de domicilio</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <div class="input-group input-group-lg">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-map-marker"></i>
                                                                    </span>
                                                                </div>
                                                                <select name="id_country" id="id_country" class="form-control select2">
                                                                    <option value="">Selecciona un país...</option>                            
                                                                    {% for country in countries %}
                                                                    <option value="{{country.id}}">
                                                                        {{country.name}}
                                                                    </option>                                                                      
                                                                    {% endfor %}                                                               
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end::Group-->
                                                    <!--begin::Group-->
                                                     <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Ciudad de domicilio</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <div class="input-group input-group-lg">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-map-marker"></i>
                                                                    </span>
                                                                </div>
                                                                <select name="id_city" id="id_city" class="form-control select2">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end::Group-->
                                                    <!--begin::Group-->
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Número de teléfono</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <div class="input-group input-group-solid input-group-lg">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-phone"></i>
                                                                    </span>
                                                                </div>
                                                                {% render_field form.phone class+="form-control form-control-solid form-control-lg" %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end::Group-->
                                                    <!--begin::Group-->
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <div class="input-group input-group-solid input-group-lg">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-envelope"></i>
                                                                    </span>
                                                                </div>
                                                                {% render_field form.email class+="form-control form-control-solid form-control-lg" %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end::Group-->
                                                    <!--begin::Group-->
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Contraseña</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <div class="input-group input-group-solid input-group-lg">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-lock"></i>
                                                                    </span>
                                                                </div>
                                                                {% render_field form.password1 class+="form-control form-control-solid form-control-lg" %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end::Group-->
                                                    <!--begin::Group-->
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Repita la contraseña</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <div class="input-group input-group-solid input-group-lg">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-lock"></i>
                                                                    </span>
                                                                </div>
                                                                {% render_field form.password2 class+="form-control form-control-solid form-control-lg" %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end::Group-->
                                                    <!--begin::Wizard Actions-->
                                                <div class="d-flex justify-content-right border-top pt-10 mt-15">
                                                    <div>
                                                        <button type="submit" class="btn btn-success font-weight-bolder px-9 py-4 float-right">Guardar</button>
                                                    </div>
                                                </div>
                                                <!--end::Wizard Actions-->
                                            </div>
                                        </div>
                                    </form>
                                    <!--end::Wizard Form-->
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card-->
            </div>
        </div>
        <!--end::Card-->
    </div>
</div>

{% endblock content %}
{% block scripts %}
</script>
<!--begin::Page Vendors(used by this page)-->
<script src="{% static 'panel/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<!--end::Page Vendors-->
<!--begin::Page Scripts(used by this page)-->
<script>
    jQuery(document).ready(function () {
        $('.select2').select2();
    });
    $(document).on('change', '#id_country', function(e){

        const id_country = $('select[name=id_country] option').filter(':selected').val();

        if (id_country != ""){

            $.ajax({
                url: "{% url 'city_filter' %}", 
                type: "POST",
                dataType: "json",
                data: {
                    'id_country': id_country,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
            }).done(function(data){
                $("#id_city").html("")
                if(data.length > 0){
                    $("#id_city").append("<option value=''>Seleccione su ciudad...</option>")

                    for( var i = 0; i<data.length; i++){
                        var id = data[i].id;
                        var name = data[i].name                        
                        $("#id_city").append("<option value='"+id+"'>"+name+"</option>")                        
                    }   
                    $('#label_city').removeClass('d-none')    
                }else{
                    $('#label_city').addClass('d-none')
                }

            }).fail(function(data){
                Swal.fire({
                    title: '¡Error!',
                    text: data.responseJSON.error,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            })
        }else{
            $("#id_city").html("")
            $('#label_city').addClass('d-none')
        }
            			 
    })
    $(document).on('submit', '#create_customer_form', function(e){
        e.preventDefault()

        const id_city = $('select[name=id_city] option').filter(':selected').val();
        
        if(id_city == undefined || id_city == ""){
            Swal.fire({
                    title: '¡Error!',
                    text: "Debe seleccionar un país y una ciudad válida",
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
        }else{
            document.getElementById("create_customer_form").submit(); 
        }

    })
</script>
{% endblock scripts %}