{% extends 'panel/admins/panel.html' %}{% load widget_tweaks %}{% load static %}
{% block title_head %}
<title>Gestión de clientes - Tienda del Reciclaje</title>
{% endblock title_head %}
{% block main_menu %}										
<li class="menu-item menu-item-rel">
    <a href="{% url 'admins_panel_view' %}" class="menu-link">
        <span class="menu-text"><i class="fa fa-home text-white mr-5"></i> Panel principal</span>
        <i class="menu-arrow"></i>
    </a>
</li>
<li class="menu-item menu-item-submenu menu-item-rel menu-item-here" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-users text-white mr-5"></i> Clientes</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nuevo</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item menu-item-here" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-users text-info mr-5"></i> Gestionar clientes</span>
                    <span class="menu-desc"></span>
                </a>
            </li>														
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-store text-white mr-5"></i> Tiendas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_categories_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar categorías</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_categories_createview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nueva categoría</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																		
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-dollar-sign text-white mr-5"></i> Ventas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar ventas</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																			
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fas fa-cog text-white mr-5"></i> Configuraciones</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-lock text-info mr-5"></i> Cambiar contraseña</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
        </ul>
    </div>
</li>
{% endblock main_menu %}
{% block title %}
<!--begin::Title-->
<h2 class="text-white font-weight-bold my-2 mr-5">Gestión de clientes</h2>
<!--end::Title-->
{% endblock title %}

{% block breadcrumb %}
<!--begin::Breadcrumb-->
<div class="d-flex align-items-center font-weight-bold my-2">
    <!--begin::Item-->
    <a href="#" class="opacity-75 hover-opacity-100">
        <i class="flaticon2-shelter text-white icon-1x"></i>
    </a>
    <!--end::Item-->
    <!--begin::Item-->
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="{% url 'admins_panel_view' %}" class="text-white text-hover-white opacity-75 hover-opacity-100">Panel
        principal</a>
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="#" class="text-white text-hover-white opacity-100">Gestión de clientes</a>
    <!--end::Item-->
</div>
<!--end::Breadcrumb-->
{% endblock breadcrumb %}
{% block content %}
<!--begin::Notice-->
<div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
    <div class="alert-icon">
        <span class="svg-icon svg-icon-info svg-icon-xl">
            <i class="fas fa-building text-primary mr-5"></i>
        </span>
    </div>
    <div class="alert-text">Aquí podrás gestionar los clientes existentes en la plataforma.</div>
</div>
<!--end::Notice-->
<div class="row">
    <div class="col-md-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Listado de clientes existentes</h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="{% url 'admin_custormer_create' %}" class="btn btn-success font-weight-bolder">
                        <i class="fas fa-plus"></i>
                        Crear nuevo cliente
                    </a>
                    <!--end::Button-->
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover datatable">
                    <thead>
                        <tr class="text-center">
                            <th style="width: 30%;">Fecha registro</th>
                            <th style="width: 20%;">Nombre</th>
                            <th style="width: 20%;">Número de documento</th>
                            <th style="width: 10%;">Estado</th>
                            <th style="width: 20%;">opciones</th>
                        </tr>
                    </thead>
                    <tbody>																		
                        {% for customer in customers %}
                            <tr class="text-center">
                                <td>{{customer.user.date_joined | date:"d M Y h:i a"}}</td>
                                <td>{{customer.get_full_name}}</td>
                                <td>{{customer.id_number}}</td>
                                <td>
                                    {% if customer.is_active %}
                                    <span class="label text-white label-success label-inline">Activo</span>
                                    {% else %}
                                    <span class="label font-weight-bold label-lg  label-light-default label-inline">Inactivo</span>
                                    {% endif %}	
                                </td>
                                <td>
                                    <a href="{% url 'admins_customers_detailview' customer.id %}" class="btn btn-primary btn-icon btn-sm" title="Ver detalles">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    {% if customer.is_active %}
                                    <button class="btn btn-sm btn-danger btn-icon font-weight-bold py-2 px-3 my-1 change_state_customer" title="Desactivar cliente" id="change_state_customer_{{customer.id}}"><i class="fa fa-ban"></i></button>
                                    {% else %}
                                    <button class="btn btn-sm btn-success btn-icon font-weight-bold py-2 px-3 my-1 change_state_customer" title="Activar cliente" id="change_state_customer_{{customer.id}}"><i class="fa fa-check"></i></button>
                                    {% endif %} 
                                </td>
                            </tr>
                        {% endfor %}												
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>

    $(".change_state_customer").click(function(){

        const id_customer = parseInt($(this).attr("id").match(/(\d+)/));

        $.ajax({
            url: "{% url 'admin_change_customer_state' %}", 
            type: "POST",
            dataType: "json",
            data: {
                'id_customer': id_customer,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }
        }).done(function(data){
            Swal.fire({
                title: 'Bien!',
                text: data.message,
                icon: 'success',
                confirmButtonText: 'Ok'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = window.location.href
                }
            })                          

        }).fail(function(data){
            Swal.fire({
                title: '¡Error!',
                text: data.responseJSON.error,
                icon: 'error',
                confirmButtonText: 'Ok'
            })
        })

    }); 
</script>
{% endblock scripts %}