{% extends 'panel/admins/panel.html' %}{% load widget_tweaks %}{% load static %}
{% block title_head %}
<title>Detalles de cliente {{ customer.get_full_name }} - Tienda del Reciclaje</title>
{% endblock title_head %}
{% block main_menu %}										
<li class="menu-item menu-item-rel">
    <a href="{% url 'admins_panel_view' %}" class="menu-link">
        <span class="menu-text"><i class="fa fa-home text-white mr-5"></i> Panel principal</span>
        <i class="menu-arrow"></i>
    </a>
</li>
<li class="menu-item menu-item-submenu menu-item-rel menu-item-here" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-users text-white mr-5"></i> Clientes</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nuevo</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item menu-item-here" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-users text-info mr-5"></i> Gestionar clientes</span>
                    <span class="menu-desc"></span>
                </a>
            </li>														
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-store text-white mr-5"></i> Tiendas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_categories_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar categorías</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_categories_createview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nueva categoría</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																		
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-dollar-sign text-white mr-5"></i> Ventas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar ventas</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																			
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fas fa-cog text-white mr-5"></i> Configuraciones</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-lock text-info mr-5"></i> Cambiar contraseña</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
        </ul>
    </div>
</li>
{% endblock main_menu %}
{% block title %}
<!--begin::Title-->
<h2 class="text-white font-weight-bold my-2 mr-5">Detalles de empresa</h2>
<!--end::Title-->
{% endblock title %}

{% block breadcrumb %}
<!--begin::Breadcrumb-->
<div class="d-flex align-items-center font-weight-bold my-2">
    <!--begin::Item-->
    <a href="#" class="opacity-75 hover-opacity-100">
        <i class="flaticon2-shelter text-white icon-1x"></i>
    </a>
    <!--end::Item-->
    <!--begin::Item-->
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="{% url 'admins_panel_view' %}" class="text-white text-hover-white opacity-75 hover-opacity-100">Panel
        principal</a>
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="{% url 'admins_customers_listview' %}" class="text-white text-hover-white opacity-75 hover-opacity-100">Gestión de clientes</a>
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="#" class="text-white text-hover-white opacity-100">Detalles de cliente</a>
    <!--end::Item-->
</div>
<!--end::Breadcrumb-->
{% endblock breadcrumb %}
{% block content %}
<!--begin::Notice-->
<div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
    <div class="alert-icon">
        <span class="svg-icon svg-icon-info svg-icon-xl">
            <i class="fas fa-building text-primary mr-5"></i>
        </span>
    </div>
    <div class="alert-text">Aquí podrás ver los detalles del cliente {{ customer.get_full_name }}.</div>
</div>
<!--end::Notice-->

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Profile Personal Information-->
        <div class="d-flex flex-row">
            <!--begin::Aside-->
            <div class="flex-row-auto offcanvas-mobile w-250px w-xxl-400px" id="kt_profile_aside">
                <!--begin::Profile Card-->
                <div class="card card-custom card-stretch">
                    <!--begin::Body-->
                    <div class="card-body pt-4">                        
                        <!--begin::User-->
                        <div class="d-flex align-items-center">
                            <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
                                
                                {% if customer.profile_img %}
                                <div class="symbol-label" style="background-image:url('{{ customer.profile_img.url }}')"></div>                            
                                {% endif %}
                                    
                                {% if customer.is_active %}
                                <i class="symbol-badge bg-success p-4" title="Activo"></i>
                                {% else %}
                                <i class="symbol-badge bg-danger p-4" title="Inactivo"></i>
                                {% endif %}
                            </div>                          
                            
                        </div>
                        <div class="my-5">
                            <span class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">{{ customer.get_full_name }}</span><br> 
                            <span class="text-warning font-weight-bold">
                                <i class="fa fa-star text-warning my-2"></i> {{ customer.points }} puntos por compra/venta 
                            </span> <br>
                            <span class="text-success">
                                <i class="fa fa-clock text-success my-2"></i> Última conexión: {{ customer.user.last_login | date:"d/m/Y h:i a" }}
                            </span>                            
                        </div>
                        <div class="d-flex flex-row mt-5">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-primary font-weight-bold dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a href="{% url 'admin_customer_edit' customer.id %}" class="dropdown-item">
                                        Editar cliente <i class="fa fa-edit mx-2 text-primary"></i>
                                    </a> 
                                    {% if customer.is_active %}
                                    <button class="dropdown-item change_state_customer">Desactivar cliente <i class="fa fa-ban mx-2 text-primary"></i></button>
                                    {% else %}
                                    <button class="dropdown-item change_state_customer">Activar cliente <i class="fa fa-check mx-2 text-primary"></i></button>
                                    {% endif %}  
                                    <button class="dropdown-item" id="change_password_customer">Establecer contraseña <i class="fa fa-lock mx-2 text-primary"></i></button>    
                                </div>
                            </div>                                                      
                        </div>
                        <!--end::User-->
                        <!--begin::Contact-->
                        <div class="py-9">
                            <div class="d-flex justify-content-between mb-4">
                                <span class="font-weight-bold mr-2">Fecha registro:</span>
                                {{ customer.user.date_joined | date:"d/m/Y h:i a" }}
                            </div>
                            <div class="d-flex justify-content-between mb-4">
                                <span class="font-weight-bold mr-2">Identificación:</span>
                                {{ customer.id_type }} # {{ customer.id_number }}
                            </div>
                            <div class="d-flex justify-content-between mb-4">
                                <span class="font-weight-bold mr-2">Fecha de nacimiento:</span>
                                {{ customer.birth_date | date:"SHORT_DATE_FORMAT" }}
                            </div>
                            <div class="d-flex justify-content-between mb-4">
                                <span class="font-weight-bold mr-2">Ubicación:</span>
                                {{ customer.city.name }},<br> {{ customer.city.country.name }}.
                            </div>
                            <div class="d-flex justify-content-between mb-4">
                                <span class="font-weight-bold mr-2">Email:</span>
                                {{ customer.user.email }}
                            </div>
                            <div class="d-flex justify-content-between mb-4">
                                <span class="font-weight-bold mr-2">Teléfono:</span>
                                {{ customer.phone }}
                            </div>
                        </div>
                        <!--end::Contact-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Profile Card-->
            </div>
            <!--end::Aside-->
            <!--begin::Content-->
            <div class="flex-row-fluid ml-lg-10">   
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#purcharses">
                                    <span class="nav-icon">
                                        <i class="fa fa-shopping-bag"></i>
                                    </span>
                                    <span class="nav-text">Compras</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="home-tab" data-toggle="tab" href="#favorites">
                                    <span class="nav-icon">
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span class="nav-text">Productos favoritos</span>
                                </a>
                            </li>
        
                            <li class="nav-item">
                                <a class="nav-link" id="home-tab" data-toggle="tab" href="#directions">
                                    <span class="nav-icon">
                                        <i class="fa fa-map-marker-alt"></i>
                                    </span>
                                    <span class="nav-text">Direcciones</span>
                                </a>
                            </li>
        
                        </ul>
                    </div>
                </div>

                <div class="tab-content mt-5" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="purcharses" role="tabpanel">
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <div class="card-header py-3">
                                <div class="card-title align-items-start flex-column">
                                    <h3 class="card-label font-weight-bolder text-dark">Compras</h3>
                                    <span class="text-muted font-weight-bold font-size-sm mt-1">Compras hechas por este cliente</span>
                                </div>
                                <div class="card-toolbar">
                                </div> 
                            </div>
                            <!--end::Header-->                                       
                            <!--begin::Body-->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-separate table-head-custom datatable">
                                            <thead>
                                                <tr>
                                                <tr>
                                                    <th>N° de Orden</th>
                                                    <th># productos comprados</th>
                                                    <th>Valor</th>
                                                    <th>Estado</th>
                                                    <th>opciones</th>
                                                </tr>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                            </tbody>
                                        </table>
                                    </div>                                    
                                </div>                                
                            </div>
                            <!--end::Body-->
                        </div>
                    </div>

                    <div class="tab-pane fade" id="favorites" role="tabpanel">
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <div class="card-header py-3">
                                <div class="card-title align-items-start flex-column">
                                    <h3 class="card-label font-weight-bolder text-dark">Productos favoritos</h3>
                                    <span class="text-muted font-weight-bold font-size-sm mt-1">Productos favoritos de este cliente</span>
                                </div>
                                <div class="card-toolbar">
                                </div> 
                            </div>
                            <!--end::Header-->                                       
                            <!--begin::Body-->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-separate table-head-custom datatable">
                                            <thead>
                                                <tr>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Valor</th>
                                                    <th>Fecha añadido</th>
                                                    <th>Vendedor</th>
                                                    <th>opciones</th>
                                                </tr>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                            </tbody>
                                        </table>
                                    </div>                                    
                                </div>                                
                            </div>
                            <!--end::Body-->
                        </div>
                    </div>

                    <div class="tab-pane fade" id="directions" role="tabpanel">
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <div class="card-header py-3">
                                <div class="card-title align-items-start flex-column">
                                    <h3 class="card-label font-weight-bolder text-dark">Direcciones</h3>
                                    <span class="text-muted font-weight-bold font-size-sm mt-1">Direcciones/ubicaciones de este cliente</span>
                                </div>
                                <div class="card-toolbar">
                                </div> 
                            </div>
                            <!--end::Header-->                                       
                            <!--begin::Body-->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-separate table-head-custom table-hover" id="kt_datatable_1">
                                            <thead>
                                                <tr>
                                                <tr>
                                                    <th>País</th>
                                                    <th>Ciudad</th>
                                                    <th>Dirección</th>
                                                    <th>Teléfono</th>
                                                </tr>
                                                </tr>
                                            </thead>
                                            <tbody id="content-managements">
                                                {% for direction in customer.directions.all %}
                                                <tr>
                                                    <td>{{ direction.city.country.name }}</td>
                                                    <td>{{ direction.city.name }}</td>
                                                    <td>{{ direction.address }}, {{ direction.zip_code }} ({{ direction.reference }})</td>     
                                                    <td>{{ direction.phone }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                    </div>
                </div> 
                                
            </div>
            
            <!--end::Content-->
        </div>
        <!--end::Profile Personal Information-->
    </div>
    <!--end::Container-->
</div>

<!-- Modal Change User Password -->
<div class="modal fade" id="modalchangepsw" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cambiar contraseña Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="change-paswd-form">
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Email del cliente</label>
                        <div class="col-8">
                            <input class="form-control" type="text" id="email_customer" disabled>
                            <input type="hidden" id="id_customer">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Asigna una contraseña</label>
                        <div class="col-8">
                            <input class="form-control" type="password" id="pswd_1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Repite la contraseña</label>
                        <div class="col-8">
                            <input class="form-control" type="password" id="pswd_2">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cerrar</button>
                <button id="btn_change_pswd" class="btn btn-primary font-weight-bold">Cambiar contraseña</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Change User Password -->

{% endblock content %}
{% block scripts %}
</script>
<!--begin::Page Vendors(used by this page)-->
<script src="{% static 'panel/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<!--end::Page Vendors-->
<!--begin::Page Scripts(used by this page)-->
<script>
    $(".change_state_customer").click(function(){
        $.ajax({
            url: "{% url 'admin_change_customer_state' %}", 
            type: "POST",
            dataType: "json",
            data: {
                'id_customer': '{{ customer.id }}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }
        }).done(function(data){
            Swal.fire({
                title: 'Bien!',
                text: data.message,
                icon: 'success',
                confirmButtonText: 'Ok'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = window.location.href
                }
            })                          

        }).fail(function(data){
            Swal.fire({
                title: '¡Error!',
                text: data.responseJSON.error,
                icon: 'error',
                confirmButtonText: 'Ok'
            })
        })

    });

    $("#change_password_customer").click(function(){

        $.ajax({
            url: "{% url 'admin_get_customer_details' %}", 
            type: "POST",
            dataType: "json",
            data: {
                'id_customer': '{{ customer.id }}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }
        }).done(function(data){

            $('#email_customer').val(data.email)
            $('#modalchangepsw').modal('show')

        }).fail(function(data){
            Swal.fire({
                title: '¡Error!',
                text: data.responseJSON.error,
                icon: 'error',
                confirmButtonText: 'Ok'
            })
        })

    });

    $("#btn_change_pswd").click(function(){

        const id_user = $('#user_id_pswd').val()
        const pswd_1 = $('#pswd_1').val()
        const pswd_2 = $('#pswd_2').val()

        if(pswd_1 == pswd_2){
            $.ajax({
            url: "{% url 'admin_change_pswd_customer' %}", 
            type: "POST",
            dataType: "json",
            data: {
                'id_customer': '{{ customer.id }}',
                'pswd_1': pswd_1,
                'pswd_2': pswd_2,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }
            }).done(function(data){
                $('#modalchangepsw').modal('hide')
                document.getElementById("change-paswd-form").reset();
                $('#pswd_1').val("")
                $('#pswd_2').val("")
                Swal.fire({
                    title: 'Bien!',
                    text: data.message,
                    icon: 'success',
                    confirmButtonText: 'Ok'
                })                         

            }).fail(function(data){
                Swal.fire({
                    title: '¡Error!',
                    text: data.responseJSON.error,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            })
        }else{
            Swal.fire({
                title: 'Error',
                text: "Las contraseñas no coinciden",
                icon: 'error',
                confirmButtonText: 'Ok'
            })
        }

        
    });

    
</script>
{% endblock scripts %}