{% extends 'home/index.html' %}{% load humanize %} {% load shop %}{% load widget_tweaks %}
{% load static %}
{% block meta %}
<title>Panel clientes - Tienda del Reciclaje</title>
<!-- SEO Meta Tags-->
<meta name="description" content="Unishop - Universal E-Commerce Template">
{% endblock meta %}
{% block main_menu %}
<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li><a href="{% url 'home_view' %}"><span>Inicio</span></a></li>
        <li><a href="{% url 'about_view' %}"><span>Quiénes somos</span></a></li>
        <li><a href="{% url 'shop_view' %}"><span>Tienda</span></a></li>
        <li class="has-children"><a href="javascript:;"><span>Zona clientes</span></a>
            <ul class="sub-menu">
                <li class="active"><a href="{% url 'user_register_view' %}">Registro de usuarios</a></li>
                <li><a href="{% url 'become_seller_view' %}"><span>Vende aquí</span></a></li>
            </ul>
        </li>
        <li><a href="blog-rs.html"><span>Blog</span></a></li>
        <li><a href="{% url 'contacts_view' %}"><span>Contacto</span></a></li>

    </ul>
</nav>
{% endblock main_menu %}

{% block content %}
<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>Mi cuenta</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home_view' %}">Inicio</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>Mi cuenta</li>
                </ul>
            </div>
        </div>
    </div>
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>
        <i class="icon-slash"></i>&nbsp;&nbsp;        
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <!-- Page Content-->
    <input type="hidden" id="id_customer" value="{{request.user.customer.id}}">
    <div class="container padding-bottom-3x mb-2">
        <div class="row">
            <div class="col-lg-4">
                <aside class="user-info-wrapper">

                    {% if user.customer.profile_img %}
                    <div class="user-cover" style="background-image: url({{user.customer.profile_img.url}});">
                        {% else %}
                        <div class="user-cover" style="background-image: url({% static 'home/img/account/user-ava.jpg' %});">
                            {% endif %}

                            <div class="info-label" data-toggle="tooltip"
                                title="Actualmente tienes {{user.customer.points}} puntos por compras o ventas"><i
                                    class="icon-medal"></i>{{user.customer.points}} puntos
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="user-avatar">
                                {% if user.customer.profile_img %}
                                <img src="{{user.customer.profile_img.url}}" alt="User">
                                {% else %}
                                <img src="{% static 'home/img/account/user-ava.jpg' %}" alt="User">
                                {% endif %}
                            </div>
                            <div class="user-data">
                                <h4>{{user.customer.get_full_name}}</h4><span>Registrado el {{user.date_joined}}</span>
                            </div>
                        </div>
                </aside>
                <nav class="list-group">
                    <a class="list-group-item with-badge" href="{% url 'customers_panel_view' %}">
                        <i class="icon-bag"></i>Mis compras<span class="badge badge-primary badge-pill">6</span>
                    </a>
                    <a class="list-group-item" href="{% url 'customers_profile_view' %}">
                        <i class="icon-head"></i>Mi perfil
                    </a>
                    <a class="list-group-item active with-badge" href="#">
                        <i class="icon-map"></i>Mis direcciones <span class="badge badge-primary badge-pill">{{directions.count}}</span>
                    </a>
                    <a class="list-group-item with-badge" href="{% url 'customers_wishlist_view' %}">
                        <i class="icon-heart"></i>
                        Mi lista de deseos
                        <span class="badge badge-primary badge-pill">{{wishlist.count}}</span>
                    </a>
                    <a class="list-group-item with-badge" href="{% url 'customers_join_sellers_view' %}">
                        <i class="fa fa-dollar-sign"></i>Vende con nosotros
                    </a>
                </nav>
            </div>
            <div class="col-lg-8">
                <h3 class="text-center mb-30">Mis direcciones/ubicaciones</h3>
                <div class="row my-3">
                    <div class="col-md-12">
                        <button class="btn btn-info float-right" type="button" data-toggle="modal" data-target="#direction_create_modal">
                            Agregar nueva dirección
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr class="text-center">
                                <th style="width: 15%;">País</th>
                                <th style="width: 20%;">Ciudad</th>
                                <th style="width: 20%;">Dirección</th>
                                <th style="width: 20%;">Teléfono</th>
                                <th style="width: 25%;">Opcines</th>
                            </tr>
                        </thead>
                        <tbody id="body_directions">                     
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block modal_zone %}
<!-- direction_create Modal-->
<div class="modal fade" id="direction_create_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <form id="direction_create_form" method="POST"> {% csrf_token %}                
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nueva dirección/ubicación para envíos</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row mt-5">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="reg-email">País</label>
                                <select name="id_country" id="id_country" class="form-control" required>
                                    <option value="">Seleccione su país...</option>                                
                                    {% for country in countries %}
                                    <option value="{{country.id}}">{{country.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group d-none" id="label_city">
                                <label for="reg-email">Ciudad</label>
                                <select name="id_city" id="id_city" class="form-control" required>                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="reg-email">Dirección</label>
                                {% render_field form.address class+="form-control" placeholder="Ingresa la dirección..." %}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="reg-email">Referencia de llegada</label>
                                {% render_field form.reference class+="form-control" placeholder="Ingresa una referencia de llegada" %}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="reg-email">Código postal</label>
                                {% render_field form.zip_code class+="form-control" placeholder="Ingresa el código postal" %}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="reg-email">Teléfono de contacto</label>
                                {% render_field form.phone class+="form-control" placeholder="Ingresa un teléfono de contacto" %}
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary" type="button" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-success" type="submit">Crear</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- direction_edit Modal-->
<div class="modal fade" id="direction_edit_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">              
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nueva dirección/ubicación para envíos</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="id_direction_2">
                <div class="row mt-5">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="reg-email">País</label>
                            <select name="id_country_2" id="id_country_2" class="form-control" required>
                                <option value="">Seleccione su país...</option>                                
                                {% for country in countries %}
                                <option value="{{country.id}}">{{country.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group d-none" id="label_city_2">
                            <label for="reg-email">Ciudad</label>
                            <select name="id_city_2" id="id_city_2" class="form-control" required>                                    
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="reg-email">Dirección</label>
                            <input type="text" class="form-control" id="address_2" placeholder="Ingresa la dirección...">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="reg-email">Referencia de llegada</label>
                            <input type="text" class="form-control" id="reference_2" placeholder="Ingresa una referencia de llegada">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="reg-email">Código postal</label>
                            <input type="text" class="form-control" id="zip_code_2" placeholder="Ingresa el código postal">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="reg-email">Teléfono de contacto</label>
                            <input type="text" class="form-control" id="phone_2" placeholder="Ingresa un teléfono de contacto">
                        </div>
                    </div>
                </div>                    
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" type="button" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-success" id="btn_direction_edit">Guardar</button>
            </div>
        </div>
    </div>
</div>
{% endblock modal_zone %}
{% block scripts %}
<script src="{% static 'home/js/tables_custom.js' %}"></script>
<script>
    jQuery(document).ready(function () {
        load_directions()
    })
    $(document).on('change', '#id_country', function(e){

        const id_country = $('select[name=id_country] option').filter(':selected').val();

        if (id_country != ""){

            $.ajax({
                url: "{% url 'city_filter' %}", 
                type: "POST",
                dataType: "json",
                data: {
                    'id_country': id_country,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
            }).done(function(data){
                $("#id_city").html("")
                if(data.length > 0){
                    $("#id_city").append("<option value=''>Seleccione su ciudad...</option>")

                    for( var i = 0; i<data.length; i++){
                        var id = data[i].id;
                        var name = data[i].name                        
                        $("#id_city").append("<option value='"+id+"'>"+name+"</option>")                        
                    }   
                    $('#label_city').removeClass('d-none')    
                }else{
                    $('#label_city').addClass('d-none')
                }

            }).fail(function(data){
                Swal.fire({
                    title: '¡Error!',
                    text: data.responseJSON.error,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            })
        }else{
            $("#id_city").html("")
            $('#label_city').addClass('d-none')
        }
            			 
    })
    $(document).on('submit', '#direction_create_form', function(e){
        e.preventDefault()

        const id_city = $('select[name=id_city] option').filter(':selected').val();
        
        if(id_city == undefined || id_city == ""){
            Swal.fire({
                    title: '¡Error!',
                    text: "Debe seleccionar un país y una ciudad válida",
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
        }else{
            document.getElementById("direction_create_form").submit(); 
        }

    })

    $(document).on('click', '.direction_edit', function(e){
        const id_direction = parseInt($(this).attr("id").match(/(\d+)/));

        $.ajax({
                url: "{% url 'get_direction' %}", 
                type: "POST",
                dataType: "json",
                data: {
                    'id_direction': id_direction,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
            }).done(function(data){
                $('select[name="id_country_2"]').find('option[value="'+ data.country_id +'"]').attr("selected",true); 
                
                $.ajax({
                    url: "{% url 'city_filter_directions' %}", 
                    type: "POST",
                    dataType: "json",
                    data: {
                        'id_country': data.country_id,
                        'id_direction': id_direction,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                }).done(function(data2){
                    $("#id_city_2").html("")
                    if(data2.length > 0){
                        $("#id_city_2").append("<option value=''>Seleccione su ciudad...</option>")

                        for( var i = 0; i<data2.length; i++){
                            var id = data2[i].id;
                            var name = data2[i].name                        
                            if(data2[i].selected == true){
                                $("#id_city_2").append("<option value='"+id+"' selected>"+name+"</option>") 
                            }else{
                                $("#id_city_2").append("<option value='"+id+"'>"+name+"</option>")
                            }                       
                        }   
                        $('#label_city_2').removeClass('d-none')    
                    }else{
                        $('#label_city_2').addClass('d-none')
                    }
                    $('#id_direction_2').val(data.id)
                    $("#address_2").val(data.address)
                    $("#reference_2").val(data.reference)
                    $("#zip_code_2").val(data.zip_code)
                    $("#phone_2").val(data.phone)
                    $('#direction_edit_modal').modal('show')
                }).fail(function(data){
                    Swal.fire({
                        title: '¡Error!',
                        text: data.responseJSON.error,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                })

            }).fail(function(data){
                Swal.fire({
                    title: '¡Error!',
                    text: data.responseJSON.error,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            })
    })

    $(document).on('change', '#id_country_2', function(e){

        const id_country = $('select[name=id_country_2] option').filter(':selected').val();

        if (id_country != ""){

            $.ajax({
                url: "{% url 'city_filter' %}", 
                type: "POST",
                dataType: "json",
                data: {
                    'id_country': id_country,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
            }).done(function(data){
                $("#id_city_2").html("")
                if(data.length > 0){
                    $("#id_city_2").append("<option value=''>Seleccione su ciudad...</option>")

                    for( var i = 0; i<data.length; i++){
                        var id = data[i].id;
                        var name = data[i].name                        
                        $("#id_city_2").append("<option value='"+id+"'>"+name+"</option>")                        
                    }   
                    $('#label_city_2').removeClass('d-none')    
                }else{
                    $('#label_city_2').addClass('d-none')
                }

            }).fail(function(data){
                Swal.fire({
                    title: '¡Error!',
                    text: data.responseJSON.error,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            })
        }else{
            $("#id_city_2").html("")
            $('#label_city_2').addClass('d-none')
        }
    })

    $(document).on('click', '#btn_direction_edit', function(e){
        const id_direction = $('#id_direction_2').val() 
        const id_city = $('select[name=id_city_2] option').filter(':selected').val();
        const address = $("#address_2").val()
        const reference = $("#reference_2").val()
        const zip_code = $("#zip_code_2").val()
        const phone = $("#phone_2").val()

        $.ajax({
                url: "{% url 'edit_direction' %}", 
                type: "POST",
                dataType: "json",
                data: {
                    'id_direction': id_direction,
                    'id_city': id_city,
                    'address': address,
                    'reference': reference,
                    'zip_code': zip_code,
                    'phone': phone,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
            }).done(function(data){
                load_directions()
                $('#direction_edit_modal').modal('hide')
                Swal.fire({
                    title: 'Bien!',
                    text: data.message,
                    icon: 'success',
                    confirmButtonText: 'Ok'
                })

            }).fail(function(data){
                Swal.fire({
                    title: '¡Error!',
                    text: data.responseJSON.error,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            })


    })

    $(document).on('click', '.direction_delete', function(e){
        const id_direction = parseInt($(this).attr("id").match(/(\d+)/));

        Swal.fire({
            title: "¿Deseas realmente eliminar esta dirección/ubicación?",
            text: "¡Una vez eliminada, no podrás gestionar esta dirección/ubicación!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            denyButtonText: 'Cancelar'
        })
        .then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "{% url 'delete_direction' %}", 
                    type: "POST",
                    dataType: "json",
                    data: {
                        'id_direction': id_direction,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                }).done(function(data){
                    load_directions()
                    Swal.fire({
                        title: 'Bien!',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    })                         

                }).fail(function(data){
                    Swal.fire({
                        title: '¡Error!',
                        text: data.responseJSON.error,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                })
            } else {
                Swal.fire('¡Se ha cancelado la acción!"', '', 'info')
            }
        });

    })




</script>
{% endblock scripts %}

