{% extends 'home/index.html' %}{% load humanize %} {% load shop %}{% load widget_tweaks %}
{% load static %}
{% block meta %}
<title>Vende con nosotros - Tienda del Reciclaje</title>
<!-- SEO Meta Tags-->
<meta name="description" content="Unishop - Universal E-Commerce Template">
{% endblock meta %}
{% block main_menu %}
<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li><a href="{% url 'home_view' %}"><span>Inicio</span></a></li>
        <li><a href="{% url 'about_view' %}"><span>Quiénes somos</span></a></li>
        <li><a href="{% url 'shop_view' %}"><span>Tienda</span></a></li>
        <li class="has-children"><a href="javascript:;"><span>Zona clientes</span></a>
            <ul class="sub-menu">
                <li class="active"><a href="{% url 'user_register_view' %}">Registro de usuarios</a></li>
                <li><a href="{% url 'become_seller_view' %}"><span>Vende aquí</span></a></li>
            </ul>
        </li>
        <li><a href="blog-rs.html"><span>Blog</span></a></li>
        <li><a href="{% url 'contacts_view' %}"><span>Contacto</span></a></li>

    </ul>
</nav>
{% endblock main_menu %}

{% block content %}
<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>Vende con nosotros</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home_view' %}">Inicio</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>Mi cuenta</li>
                    <li class="separator">&nbsp;</li>
                    <li>Vende con nosotros</li>
                </ul>
            </div>
        </div>
    </div>
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close"
            data-dismiss="alert"></span>
        <i class="icon-slash"></i>&nbsp;&nbsp;
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <!-- Page Content-->
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>
        <i class="icon-slash"></i>&nbsp;&nbsp;
        
        {% if form.non_field_errors %}
        <span class="text-medium">
            Error en: {{ form.non_field_errors }}
        </span><br>
        {% endif %}
        {% for field in form %}
        {% if field.errors %}
        {{ field.label }}
        <ul class="errorlist">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="container padding-bottom-3x mb-2">
        <div class="row">
            <div class="col-lg-4">
                <aside class="user-info-wrapper">

                    {% if user.customer.profile_img %}
                    <div class="user-cover" style="background-image: url({{user.customer.profile_img.url}});">
                        {% else %}
                        <div class="user-cover" style="background-image: url({% static 'home/img/account/user-ava.jpg' %});">
                            {% endif %}

                            <div class="info-label" data-toggle="tooltip"
                                title="Actualmente tienes {{user.customer.points}} puntos por compras o ventas"><i
                                    class="icon-medal"></i>{{user.customer.points}} puntos
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="user-avatar">
                                {% if user.customer.profile_img %}
                                <img src="{{user.customer.profile_img.url}}" alt="User">
                                {% else %}
                                <img src="{% static 'home/img/account/user-ava.jpg' %}" alt="User">
                                {% endif %}
                            </div>
                            <div class="user-data">
                                <h4>{{user.customer.get_full_name}}</h4><span>Registrado el {{user.date_joined}}</span>
                            </div>
                        </div>
                </aside>
                <nav class="list-group">
                    <a class="list-group-item with-badge" href="{% url 'customers_panel_view' %}">
                        <i class="icon-bag"></i>Mis compras<span class="badge badge-primary badge-pill">6</span>
                    </a>
                    <a class="list-group-item " href="{% url 'customers_profile_view' %}">
                        <i class="icon-head"></i>Mi perfil
                    </a
                    ><a class="list-group-item with-badge" href="{% url 'customers_directions_view' %}">
                        <i class="icon-map"></i>Mis direcciones <span class="badge badge-primary badge-pill">{{directions.count}}</span>
                    </a>
                    <a class="list-group-item with-badge" href="#">
                        <i class="icon-heart"></i>
                        Mi lista de deseos
                        <span class="badge badge-primary badge-pill">{{wishlist.count}}</span>
                    </a>
                    <a class="list-group-item active" href="{% url 'customers_join_sellers_view' %}">
                        <i class="fa fa-dollar-sign"></i>Vende con nosotros
                    </a>
                </nav>
            </div>
            <div class="col-lg-8">
                <div class="padding-top-2x mt-2 hidden-lg-up"></div>
                
                {% if store == "" %}                  
                <form class="row" method="POST" id="edit_profile_form" enctype="multipart/form-data">{% csrf_token %}
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="account-fn">Tipo de Identificación del negocio/empresa</label>
                            {% render_field form.id_type class+="form-control" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-fn">Número de Identificación del negocio/empresa</label>
                            {% render_field form.id_number class+="form-control" placeholder="Ingresa nombre del negocio/empresa" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-fn">Nombre del negocio/empresa</label>
                            {% render_field form.name class+="form-control" placeholder="Ingresa nombre del negocio/empresa" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-fn">Email del negocio/empresa</label>
                            {% render_field form.email class+="form-control" placeholder="Ingresa nombre del negocio/empresa" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-ln">Dirección</label>
                            {% render_field form.address class+="form-control" placeholder="Ingresa tu(s) apellido(s)" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-phone">Código postal</label>
                            {% render_field form.zip_code class+="form-control" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-phone">Teléfono de contacto</label>
                            {% render_field form.phone class+="form-control" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-phone">Página web</label>
                            {% render_field form.website_url class+="form-control" %}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="account-phone">Logo del negocio/empresa</label><br>
                            {% render_field form.logo %}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="account-phone">Imagen de portada</label><br>
                            {% render_field form.cover_img %}
                        </div>
                    </div>
                    <hr>
                    <div class="col-12">
                        <hr class="mt-2 mb-3">
                        <div class="d-flex flex-wrap justify-content-end align-items-center">
                            <button class="btn btn-primary margin-right-none" type="submit">
                                Crear tienda
                            </button>
                        </div>
                    </div>
                </form>
                {% elif store != "" and not user.customer.is_company %}
                <h2 class="text-center text-success mt-5">¡Solicitud en procesamiento! <br> Te notificaremos cuando hayas sido activado.</h2>
                {% elif store != "" and user.customer.is_company and store.is_active %}
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="text-success">Cuenta de vendedor activada</h2>
                       <a href="{% url 'stores_panel_view' %}">
                           <button class="btn btn-info btn-lg">
                               Ir a panel de vendedores <i class="fa fa-sign-in-alt"></i>
                            </button>
                       </a>
                    </div>
                </div>
                {% elif store != "" and user.customer.is_company and not store.is_active %}
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="text-warning">Cuenta de vendedor suspendida</h2>
                        <a href="">
                            <button class="btn btn-info btn-lg">
                                Contactarnos <i class="fa fa-envelope"></i>
                             </button>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
</script>
{% endblock scripts %}