{% extends 'home/index.html' %}{% load humanize %} {% load shop %}{% load widget_tweaks %}
{% load static %}
{% block meta %}
<title>Panel clientes - Tienda del Reciclaje</title>
<!-- SEO Meta Tags-->
<meta name="description" content="Unishop - Universal E-Commerce Template">
{% endblock meta %}
{% block main_menu %}
<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li><a href="{% url 'home_view' %}"><span>Inicio</span></a></li>
        <li><a href="{% url 'about_view' %}"><span>Quiénes somos</span></a></li>
        <li><a href="{% url 'shop_view' %}"><span>Tienda</span></a></li>
        <li class="has-children"><a href="javascript:;"><span>Zona clientes</span></a>
            <ul class="sub-menu">
                <li class="active"><a href="{% url 'user_register_view' %}">Registro de usuarios</a></li>
                <li><a href="{% url 'become_seller_view' %}"><span>Vende aquí</span></a></li>
            </ul>
        </li>
        <li><a href="blog-rs.html"><span>Blog</span></a></li>
        <li><a href="{% url 'contacts_view' %}"><span>Contacto</span></a></li>

    </ul>
</nav>
{% endblock main_menu %}

{% block content %}
<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>Mi cuenta</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home_view' %}">Inicio</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>Mi cuenta</li>
                </ul>
            </div>
        </div>
    </div>
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>
        <i class="icon-slash"></i>&nbsp;&nbsp;        
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-2">
        <div class="row">
            <div class="col-lg-4">
                <aside class="user-info-wrapper">

                    {% if user.customer.profile_img %}
                    <div class="user-cover" style="background-image: url({{user.customer.profile_img.url}});">
                        {% else %}
                        <div class="user-cover" style="background-image: url({% static 'home/img/account/user-ava.jpg' %});">
                            {% endif %}

                            <div class="info-label" data-toggle="tooltip"
                                title="Actualmente tienes {{user.customer.points}} puntos por compras o ventas"><i
                                    class="icon-medal"></i>{{user.customer.points}} puntos
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="user-avatar">
                                {% if user.customer.profile_img %}
                                <img src="{{user.customer.profile_img.url}}" alt="User">
                                {% else %}
                                <img src="{% static 'home/img/account/user-ava.jpg' %}" alt="User">
                                {% endif %}
                            </div>
                            <div class="user-data">
                                <h4>{{user.customer.get_full_name}}</h4><span>Registrado el {{user.date_joined}}</span>
                            </div>
                        </div>
                </aside>
                <nav class="list-group">
                    <a class="list-group-item with-badge active" href="{% url 'customers_panel_view' %}">
                        <i class="icon-bag"></i>Mis compras<span class="badge badge-primary badge-pill">0</span>
                    </a>
                    <a class="list-group-item" href="{% url 'customers_profile_view' %}">
                        <i class="icon-head"></i>Mi perfil
                    </a>
                    <a class="list-group-item with-badge" href="{% url 'customers_directions_view' %}">
                        <i class="icon-map"></i>Mis direcciones<span class="badge badge-primary badge-pill">{{directions.count}}</span>
                    </a>
                    <a class="list-group-item with-badge" href="{% url 'customers_wishlist_view' %}">
                        <i class="icon-heart"></i>
                        Mi lista de deseos
                        <span class="badge badge-primary badge-pill">{{wishlist.count}}</span>
                    </a>
                    <a class="list-group-item with-badge" href="{% url 'customers_join_sellers_view' %}">
                        <i class="fa fa-dollar-sign"></i>Vende con nosotros
                    </a>
                </nav>
            </div>
            <div class="col-lg-8">
                <h3 class="text-center mb-30">Mis compras</h3>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>Orden #</th>
                                <th>Fecha de comprea</th>
                                <th>Estado</th>
                                <th>Total</th>
                                <th>Opcines</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a class="navi-link" href="#" data-toggle="modal"
                                        data-target="#orderDetails">78A643CD409</a></td>
                                <td>Febrero 14, 2020</td>
                                <td><span class="text-danger">Cancelado</span></td>
                                <td><span>$760.000</span></td>
                                <td>
                                    <a class="text-info" href="#"> Detalles</a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}