{% extends 'home/index.html' %}{% load humanize %} {% load shop %}{% load widget_tweaks %}
{% load static %}
{% block meta %}
<title>Perfil clientes - Tienda del Reciclaje</title>
<!-- SEO Meta Tags-->
<meta name="description" content="Unishop - Universal E-Commerce Template">
{% endblock meta %}
{% block main_menu %}
<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li><a href="{% url 'home_view' %}"><span>Inicio</span></a></li>
        <li><a href="{% url 'about_view' %}"><span>Quiénes somos</span></a></li>
        <li><a href="{% url 'shop_view' %}"><span>Tienda</span></a></li>
        <li class="has-children"><a href="javascript:;"><span>Zona clientes</span></a>
            <ul class="sub-menu">
                <li class="active"><a href="{% url 'user_register_view' %}">Registro de usuarios</a></li>
                <li><a href="{% url 'become_seller_view' %}"><span>Vende aquí</span></a></li>
            </ul>
        </li>
        <li><a href="blog-rs.html"><span>Blog</span></a></li>
        <li><a href="{% url 'contacts_view' %}"><span>Contacto</span></a></li>

    </ul>
</nav>
{% endblock main_menu %}

{% block content %}
<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>Mi cuenta</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home_view' %}">Inicio</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>Mi cuenta</li>
                </ul>
            </div>
        </div>
    </div>
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close"
            data-dismiss="alert"></span>
        <i class="icon-slash"></i>&nbsp;&nbsp;
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <!-- Page Content-->
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>
        <i class="icon-slash"></i>&nbsp;&nbsp;
        
        {% if form.non_field_errors %}
        <span class="text-medium">
            Error en: {{ form.non_field_errors }}
        </span><br>
        {% endif %}
        {% for field in form %}
        {% if field.errors %}
        {{ field.label }}
        <ul class="errorlist">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="container padding-bottom-3x mb-2">
        <div class="row">
            <div class="col-lg-4">
                <aside class="user-info-wrapper">

                    {% if user.customer.profile_img %}
                    <div class="user-cover" style="background-image: url({{user.customer.profile_img.url}});">
                        {% else %}
                        <div class="user-cover" style="background-image: url({% static 'home/img/account/user-ava.jpg' %});">
                            {% endif %}

                            <div class="info-label" data-toggle="tooltip"
                                title="Actualmente tienes {{user.customer.points}} puntos por compras o ventas"><i
                                    class="icon-medal"></i>{{user.customer.points}} puntos
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="user-avatar">
                                {% if user.customer.profile_img %}
                                <img src="{{user.customer.profile_img.url}}" alt="User">
                                {% else %}
                                <img src="{% static 'home/img/account/user-ava.jpg' %}" alt="User">
                                {% endif %}
                            </div>
                            <div class="user-data">
                                <h4>{{user.customer.get_full_name}}</h4><span>Registrado el {{user.date_joined}}</span>
                            </div>
                        </div>
                </aside>
                <nav class="list-group">
                    <a class="list-group-item with-badge" href="{% url 'customers_panel_view' %}">
                        <i class="icon-bag"></i>Mis compras<span class="badge badge-primary badge-pill">6</span>
                    </a>
                    <a class="list-group-item active" href="{% url 'customers_profile_view' %}">
                        <i class="icon-head"></i>Mi perfil
                    </a
                    ><a class="list-group-item with-badge" href="{% url 'customers_directions_view' %}">
                        <i class="icon-map"></i>Mis direcciones <span class="badge badge-primary badge-pill">{{directions.count}}</span>
                    </a>
                    <a class="list-group-item with-badge" href="{% url 'customers_wishlist_view' %}">
                        <i class="icon-heart"></i>
                        Mi lista de deseos
                        <span class="badge badge-primary badge-pill">{{wishlist.count}}</span>
                    </a>
                    <a class="list-group-item with-badge" href="{% url 'customers_join_sellers_view' %}">
                        <i class="fa fa-dollar-sign"></i>Vende con nosotros
                    </a>
                </nav>
            </div>
            <div class="col-lg-8">
                <div class="padding-top-2x mt-2 hidden-lg-up"></div>
                <form class="row" method="POST" id="edit_profile_form" enctype="multipart/form-data">{% csrf_token %}
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-fn">Nombres</label>
                            {% render_field form.first_name class+="form-control" placeholder="Ingresa tu(s) nombre(s)" value=user.first_name %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-ln">Apellidos</label>
                            {% render_field form.last_name class+="form-control" placeholder="Ingresa tu(s) apellido(s)" value=user.last_name %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-phone">Tipo de documento de identidad</label>
                            {% render_field form.id_type class+="form-control" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-phone">Número de documento</label>
                            {% render_field form.id_number class+="form-control" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-phone">Fecha de nacimiento</label>
                            {% render_field form.birth_date type="date" class+="form-control" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-email">E-mail</label>
                            {% render_field form.email class+="form-control" placeholder="Ingresa tu(s) apellido(s)" value=user.email %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-phone">Número de teléfono</label>
                            {% render_field form.phone class+="form-control" placeholder="Ingresa tu número de teléfono" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-phone">País</label>
                            <select name="id_country" id="id_country" class="form-control" required>
                                <option value="">Seleccione su país...</option>                                
                                {% for country in countries %}                                
                                {% if country == user.customer.city.country %}
                                <option value="{{country.id}}" selected>{{country.name}}</option>   
                                {% else %}
                                <option value="{{country.id}}">{{country.name}}</option>
                                {% endif %}                                    
                                {% endfor %}
                                    
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" id="label_city">
                            <label for="account-phone">Ciudad</label>
                            <select name="id_city" id="id_city" class="form-control" required>                                    
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="account-phone">Imagen de perfil</label><br>
                            {% render_field form.profile_img %}
                        </div>
                    </div>
                    <hr>
                    <div class="col-12">
                        <hr class="mt-2 mb-3">
                        <div class="d-flex flex-wrap justify-content-end align-items-center">
                            <button class="btn btn-primary margin-right-none" type="submit">
                                Actualizar datos
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    jQuery(document).ready(function () {
        const id_country = $('select[name=id_country] option').filter(':selected').val();

        if (id_country != ""){

            $.ajax({
                url: "{% url 'city_filter' %}", 
                type: "POST",
                dataType: "json",
                data: {
                    'id_country': id_country,
                    'id_customer': '{{request.user.customer.id}}',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
            }).done(function(data){
                if(data.length > 0){
                    $("#id_city").append("<option value=''>Seleccione su ciudad...</option>")

                    for( var i = 0; i<data.length; i++){
                        var id = data[i].id;
                        var name = data[i].name
                        if(data[i].selected == true){
                            $("#id_city").append("<option value='"+id+"' selected>"+name+"</option>") 
                            
                        }else{
                            $("#id_city").append("<option value='"+id+"'>"+name+"</option>")
                        }                     
                    }   
                    $('#label_city').removeClass('d-none')    
                }else{
                    $('#label_city').addClass('d-none')
                }

            }).fail(function(data){
                Swal.fire({
                    title: '¡Error!',
                    text: data.responseJSON.error,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            })
        }else{
            $("#id_city").html("")
            $('#label_city').addClass('d-none')
        }        

    });

    $(document).on('change', '#id_country', function(e){

        const id_country = $('select[name=id_country] option').filter(':selected').val();

        if (id_country != ""){

            $.ajax({
                url: "{% url 'city_filter' %}", 
                type: "POST",
                dataType: "json",
                data: {
                    'id_country': id_country,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
            }).done(function(data){
                $("#id_city").html("")
                if(data.length > 0){
                    $("#id_city").append("<option value=''>Seleccione su ciudad...</option>")

                    for( var i = 0; i<data.length; i++){
                        var id = data[i].id;
                        var name = data[i].name                        
                        $("#id_city").append("<option value='"+id+"'>"+name+"</option>")                        
                    }   
                    $('#label_city').removeClass('d-none')    
                }else{
                    $('#label_city').addClass('d-none')
                }

            }).fail(function(data){
                Swal.fire({
                    title: '¡Error!',
                    text: data.responseJSON.error,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            })
        }else{
            $("#id_city").html("")
            $('#label_city').addClass('d-none')
        }
            			 
    })
    $(document).on('submit', '#edit_profile_form', function(e){
        e.preventDefault()

        const id_city = $('select[name=id_city] option').filter(':selected').val();
        
        if(id_city == undefined || id_city == ""){
            Swal.fire({
                    title: '¡Error!',
                    text: "Debe seleccionar un país y una ciudad válida",
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
        }else{
            document.getElementById("edit_profile_form").submit(); 
        }

    })
</script>
{% endblock scripts %}