{% extends 'home/index.html' %}{% load humanize %} {% load shop %}{% load widget_tweaks %}
{% load static %}
{% block meta %}
<title>Mi lista de deseos - Tienda del Reciclaje</title>
<!-- SEO Meta Tags-->
<meta name="description" content="Unishop - Universal E-Commerce Template">
{% endblock meta %}
{% block main_menu %}
<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li><a href="{% url 'home_view' %}"><span>Inicio</span></a></li>
        <li><a href="{% url 'about_view' %}"><span>Quiénes somos</span></a></li>
        <li><a href="{% url 'shop_view' %}"><span>Tienda</span></a></li>
        <li class="has-children"><a href="javascript:;"><span>Zona clientes</span></a>
            <ul class="sub-menu">
                <li class="active"><a href="{% url 'user_register_view' %}">Registro de usuarios</a></li>
                <li><a href="{% url 'become_seller_view' %}"><span>Vende aquí</span></a></li>
            </ul>
        </li>
        <li><a href="blog-rs.html"><span>Blog</span></a></li>
        <li><a href="{% url 'contacts_view' %}"><span>Contacto</span></a></li>

    </ul>
</nav>
{% endblock main_menu %}

{% block content %}
<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>Vende con nosotros</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home_view' %}">Inicio</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>Mi cuenta</li>
                    <li class="separator">&nbsp;</li>
                    <li>Vende con nosotros</li>
                </ul>
            </div>
        </div>
    </div>
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close"
            data-dismiss="alert"></span>
        <i class="icon-slash"></i>&nbsp;&nbsp;
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <!-- Page Content-->
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close"
            data-dismiss="alert"></span>
        <i class="icon-slash"></i>&nbsp;&nbsp;

        {% if form.non_field_errors %}
        <span class="text-medium">
            Error en: {{ form.non_field_errors }}
        </span><br>
        {% endif %}
        {% for field in form %}
        {% if field.errors %}
        {{ field.label }}
        <ul class="errorlist">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="container padding-bottom-3x mb-2">
        <div class="row">
            <div class="col-lg-4">
                <aside class="user-info-wrapper">

                    {% if user.customer.profile_img %}
                    <div class="user-cover" style="background-image: url({{user.customer.profile_img.url}});">
                        {% else %}
                        <div class="user-cover" style="background-image: url({% static 'home/img/account/user-ava.jpg' %});">
                            {% endif %}

                            <div class="info-label" data-toggle="tooltip"
                                title="Actualmente tienes {{user.customer.points}} puntos por compras o ventas"><i
                                    class="icon-medal"></i>{{user.customer.points}} puntos
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="user-avatar">
                                {% if user.customer.profile_img %}
                                <img src="{{user.customer.profile_img.url}}" alt="User">
                                {% else %}
                                <img src="{% static 'home/img/account/user-ava.jpg' %}" alt="User">
                                {% endif %}
                            </div>
                            <div class="user-data">
                                <h4>{{user.customer.get_full_name}}</h4><span>Registrado el {{user.date_joined}}</span>
                            </div>
                        </div>
                </aside>
                <nav class="list-group">
                    <a class="list-group-item with-badge" href="{% url 'customers_panel_view' %}">
                        <i class="icon-bag"></i>Mis compras<span class="badge badge-primary badge-pill">6</span>
                    </a>
                    <a class="list-group-item " href="{% url 'customers_profile_view' %}">
                        <i class="icon-head"></i>Mi perfil
                    </a><a class="list-group-item with-badge" href="{% url 'customers_directions_view' %}">
                        <i class="icon-map"></i>Mis direcciones <span
                            class="badge badge-primary badge-pill">{{directions.count}}</span>
                    </a>
                    <a class="list-group-item active with-badge" href="{% url 'customers_wishlist_view' %}">
                        <i class="icon-heart"></i>
                        Mi lista de deseos
                        <span class="badge badge-primary badge-pill">{{wishlist.count}}</span>
                    </a>
                    <a class="list-group-item" href="{% url 'customers_join_sellers_view' %}">
                        <i class="fa fa-dollar-sign"></i>Vende con nosotros
                    </a>
                </nav>
            </div>
            <div class="col-lg-8">
                <div class="padding-top-2x mt-2 hidden-lg-up"></div>
                <!-- Wishlist Table-->
                <div class="table-responsive wishlist-table margin-bottom-none">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Mi lista de deseos</th>
                                <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#" id="clear_wishlist">Vaciar lista</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for item in wishlist  %}
                            <tr>
                                <td>
                                    <div class="product-item">
                                        <a class="product-thumb" href="{% url 'product_details_home' item.product.slug %}" target="_blank">
                                            <img src="{{item.product.main_img.url}}" alt="Product">
                                        </a>
                                        <div class="product-info">
                                            <h4 class="product-title">
                                                <a href="{% url 'product_details_home' item.product.slug %}" target="_blank">{{item.product.title}}</a>
                                                <br>
                                                <span class="text-muted">Agregado: {{item.created_at | date:"d/m/Y h:i a" }}</span>    
                                            </h4>
                                            <div class="text-lg text-medium text-muted">
                                                {% if item.product.discount_price %}
                                                <del>$ {{item.product.unit_price | intcomma}}</del>$ {{item.product.discount_price | intcomma}}
                                                {% else %}
                                                $ {{item.product.unit_price | intcomma}}
                                                {% endif %}
                                            </div>
                                            <div>Disponibilidad:
                                                
                                                {% if item.product.status == 1 %}
                                                <div class="d-inline text-success">Unidades disponibles</div>
                                                {% else %}
                                                <div class="d-inline text-danger">No hay unidades disponibles</div>                                   
                                                {% endif %}                                                    
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <a class="remove-from-cart remove_from_wishlist" href="#" data-toggle="tooltip" title="Eliminar producto de la lista" data-original-title="Eliminar producto de la lista" id="delete_from_wishlist_{{item.id}}">
                                        <i class="icon-cross"></i>
                                    </a>
                                </td>
                            </tr>                                            
                            {% endfor %}
                        
                        </tbody>
                    </table>
                </div>
                <hr class="mb-4">
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>

    $(document).on('click', '.remove_from_wishlist', function(){

        const id_fav = parseInt($(this).attr("id").match(/(\d+)/));

        Swal.fire({
            title: "¿Desea realmente eliminar este producto de su lista de deseos?",
            text: "¡Una vez eliminado, no podrás ver este producto en la lista!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            denyButtonText: 'Cancelar'
        })
        .then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: "{% url 'customer_delete_from_wishlist' %}", 
                    type: "POST",
                    dataType: "json",
                    data: {
                        'id_fav': id_fav,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                }).done(function(data){
                    
                    Swal.fire({
                        title: 'Bien!',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    })   
                    window.location.href = window.location.href                    

                }).fail(function(data){
                    Swal.fire({
                        title: '¡Error!',
                        text: data.responseJSON.error,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                })  
            }
        })
    });

    $(document).on('click', '#clear_wishlist', function(){

        const id_fav = parseInt($(this).attr("id").match(/(\d+)/));

        Swal.fire({
                title: "¿Desea realmente limpiar su lista de deseos?",
                text: "¡Una vez vaciada, no podrá ver ninguno de los productos en la lista!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: 'Eliminar',
                denyButtonText: 'Cancelar'
            })
            .then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        url: "{% url 'customer_clear_all_wishlist' %}", 
                        type: "POST",
                        dataType: "json",
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        }
                    }).done(function(data){
                        
                        Swal.fire({
                            title: 'Bien!',
                            text: data.message,
                            icon: 'success',
                            confirmButtonText: 'Ok'
                        })   
                        window.location.href = window.location.href                    

                    }).fail(function(data){
                        Swal.fire({
                            title: '¡Error!',
                            text: data.responseJSON.error,
                            icon: 'error',
                            confirmButtonText: 'Ok'
                        })
                    })  
                }
            })
    });
</script>
{% endblock scripts %}