{% load static %}{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="es">
	<!--begin::Head-->
	<head>
		<meta charset="utf-8" />
		<title>Inicio de sesión Administradores TDR</title>
		<meta name="description" content="Updates and statistics" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="{% static 'panel/css/pages/login/classic/login-1.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="{% static 'panel/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'panel/plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'panel/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="{% static 'panel/media/logos/favicon.ico' %}" />
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" style="background-image: url({% static 'panel/media/bg/bg-10.jpg' %})" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">
		<!--begin::Main-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Login-->
			<div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
				<!--begin::Content-->
				<div class="d-flex flex-column flex-row-fluid position-relative overflow-hidden">
					<!--begin::Content header-->					
					<!--end::Content header-->
					<!--begin::Content body-->
					<div class="d-flex flex-column-fluid flex-center mt-5">
						<!--begin::Signin-->
						<div class="login-form login-signin">
							<div class="text-center mb-10">								
								<img src="{% static 'panel/logo_md_color.png' %}" class="max-w-300px" alt="" />
								<h3 class="font-size-h3 mt-10">Inicio de sesión - Administradores</h3>
							</div>
							<!--begin::Form-->
							{% if form.errors %}
							{% for field in form %}
								{% for error in field.errors %}
									<div class="alert alert-danger text-center">
										<strong>{{ error|escape }}</strong>
									</div>
								{% endfor %}
							{% endfor %}
							{% for error in form.non_field_errors %}
								<div class="alert alert-danger text-center">
									<strong>{{ error|escape }}</strong>
								</div>
							{% endfor %}
							{% endif %}
							<form class="form" method="POST">{% csrf_token %}
								<div class="form-group">
									{% render_field form.email class+="form-control form-control-solid h-auto py-5 px-6" placeholder="Email" required=""%}
								</div>
								<div class="form-group">
									{% render_field form.password class+="form-control form-control-solid h-auto py-5 px-6" placeholder="Contraseña" required=""%}
								</div>								
								<!--begin::Action-->
								<div class="form-group d-flex flex-wrap justify-content-between align-items-center">
									<button type="submit" class="btn btn-primary font-weight-bold px-9 py-4 mt-3">Entrar <i class="flaticon2-arrow text-white"></i></button>
								</div>
								<div class="text-right flex-column-auto justify-content-center py-5 px-10">
									<span class="font-weight-bold text-dark-50">¿Olvidó su contraseña?</span>
									<a href="#" class="font-weight-bold ml-2">Recuperar contraseña</a>
								</div>
								<!--end::Action-->
							</form>
							<!--end::Form-->
						</div>
						<!--end::Signin-->
					</div>
					
							
					<!--end::Content body-->
					<!--begin::Content footer for mobile-->
					<div class="d-flex d-lg-none flex-column-auto flex-column flex-sm-row justify-content-between align-items-center mt-5 p-5">
						<div class="text-dark-50 font-weight-bold order-2 order-sm-1 my-2">© 2021 Tienda del Reciclaje</div>						
					</div>
					<!--end::Content footer for mobile-->
					

				</div>
				<!--end::Content-->
			</div>
			<!--end::Login-->

		


		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="{% static 'panel/plugins/global/plugins.bundle.js' %}"></script>
		<script src="{% static 'panel/plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
		<script src="{% static 'panel/js/scripts.bundle.js' %}"></script>
		<!--end::Global Theme Bundle-->
		<!--begin::Page Vendors(used by this page)-->
		<script src="{% static 'panel/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
		<!--end::Page Vendors-->
		<!--begin::Page Scripts(used by this page)-->
		<script src="{% static 'panel/js/pages/widgets.js' %}"></script>
		<script src="{% static 'panel/js/pages/crud/forms/widgets/select2.js' %}"></script>
		<!--end::Global Theme Bundle-->
	</body>
	<!--end::Body-->
</html>