{% extends 'panel/stores/panel.html' %}{% load widget_tweaks %}{% load static %}{% load humanize %}
{% block title_head %}
<title>Editar perfil de la tienda "{{store.name}}" - Tienda del Reciclaje</title>
{% endblock title_head %}
{% block main_menu %}										
<li class="menu-item menu-item-submenu menu-item-rel">
    <a href="{% url 'stores_panel_view' %}" class="menu-link">
        <span class="menu-text"><i class="fa fa-home text-white mr-5"></i> Panel principal</span>
        <i class="menu-arrow"></i>
    </a>
</li>

<li class="menu-item menu-item-submenu" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-store text-white mr-5"></i> Tienda</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">													
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-boxes text-info mr-5"></i> Gestionar productos</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nuevo producto</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            
                                                        
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-dollar-sign text-white mr-5"></i> Ventas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar ventas</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																			
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fas fa-cog text-white mr-5"></i> Configuraciones</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-lock text-info mr-5"></i> Cambiar contraseña</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
        </ul>
    </div>
</li>
{% endblock main_menu %}
{% block title %}
<!--begin::Title-->
<h2 class="text-white font-weight-bold my-2 mr-5">Editar perfil de la tienda "{{store.name}}"</h2>
<!--end::Title-->
{% endblock title %}

{% block breadcrumb %}
<!--begin::Breadcrumb-->
<div class="d-flex align-items-center font-weight-bold my-2">
    <!--begin::Item-->
    <a href="#" class="opacity-75 hover-opacity-100">
        <i class="flaticon2-shelter text-white icon-1x"></i>
    </a>
    <!--end::Item-->
    <!--begin::Item-->
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="{% url 'stores_panel_view' %}" class="text-white text-hover-white opacity-75 hover-opacity-100">Panel
        principal</a>
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="#" class="text-white text-hover-white opacity-75">Editar perfil de la tienda "{{store.name}}"</a>
    <!--end::Item-->
</div>
<!--end::Breadcrumb-->
{% endblock breadcrumb %}
{% block content %}
<!--begin::Notice-->
<div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
    <div class="alert-icon">
        <span class="svg-icon svg-icon-info svg-icon-xl">
            <i class="fas fa-store text-primary mr-5"></i>
        </span>
    </div>
    <div class="alert-text">Aquí podrás gestionar los datos de la tienda "{{store.name}}".</div>
</div>
<!--end::Notice-->
<div class="row">
    <div class="col-md-12">
        <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Formulario de edición de tienda</h3>
                </div>
            </div>
            <div class="card-body p-3">                    
                <!--begin::Card-->
                <div class="card card-custom card-shadowless rounded-top-0">
                    <!--begin::Body-->
                    <div class="card-body p-0">
                        <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
                            <div class="col-xl-12 col-xxl-10">
                                <!--begin::Wizard Form-->
                                <form class="form" id="kt_form" method="POST" enctype="multipart/form-data">{% csrf_token %} 
                                    <div class="row justify-content-center">
                                        <div class="col-xl-9">
                                                   
                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Nombre del negocio/empresa</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <div class="input-group input-group-lg">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fa fa-store"></i>
                                                                </span>
                                                            </div>
                                                            {% render_field form.name class+="form-control form-control-lg" %}
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <!--end::Group-->
                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Tipo de documento de identificación del negocio/empresa</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <div class="input-group input-group-solid input-group-lg">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fa fa-store"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" value="{{store.id_type}}" disabled>
                                                            {% render_field form.id_type class+="form-control form-control-solid form-control-lg select2" %}
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <!--end::Group-->
                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Número de documento de identificación del negocio/empresa</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <div class="input-group input-group-solid input-group-lg">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fa fa-store"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control form-control-solid form-control-lg" value="{{store.id_number}}">
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <!--end::Group-->
                                                

                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Email del negocio/empresa</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <div class="input-group input-group-solid input-group-lg">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fa fa-envelope"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control form-control-solid form-control-lg" value="{{store.email}}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end::Group-->
                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Dirección de domicilio del negocio/empresa</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <div class="input-group input-group-lg">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fa fa-map-marker-alt"></i>
                                                                </span>
                                                            </div>
                                                            {% render_field form.address class+="form-control form-control-lg" %}
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <!--end::Group-->
                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Código postal de domicilio del negocio/empresa</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <div class="input-group input-group-lg">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fa fa-map-marker-alt"></i>
                                                                </span>
                                                            </div>
                                                            {% render_field form.zip_code class+="form-control form-control-lg" %}
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <!--end::Group-->
                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Número de teléfono de contacto del negocio/empresa</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <div class="input-group input-group-lg">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fa fa-phone"></i>
                                                                </span>
                                                            </div>
                                                            {% render_field form.phone class+="form-control form-control-lg" %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end::Group--> 
                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Sitio web del negocio/empresa</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <div class="input-group input-group-lg">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fa fa-globe"></i>
                                                                </span>
                                                            </div>
                                                            {% render_field form.website_url class+="form-control form-control-lg" %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end::Group-->  
                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Logotipo del negocio/empresa</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <div class="input-group input-group-lg">
                                                            <div class="input-group-prepend">
                                                            </div>
                                                            {% render_field form.logo class+="form-control form-control-lg" %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end::Group--> 
                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Imagen de portada del negocio/empresa</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <div class="input-group input-group-lg">
                                                            <div class="input-group-prepend">
                                                            </div>
                                                            {% render_field form.cover_img class+="form-control form-control-lg" %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end::Group-->  
                                                                                        
                                                <!--begin::Wizard Actions-->
                                            <div class="d-flex justify-content-right border-top pt-10 mt-15">
                                                <div>
                                                    <button type="submit" class="btn btn-success font-weight-bolder px-9 py-4 float-right">Guardar</button>
                                                </div>
                                            </div>
                                            <!--end::Wizard Actions-->
                                        </div>
                                    </div>
                                </form>
                                <!--end::Wizard Form-->
                            </div>
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Card-->
            </div>
        </div>
        <!--end::Card-->
    </div>
</div>


{% endblock content %}

{% block scripts %}
{% endblock scripts %}