{% extends 'panel/admins/panel.html' %}{% load widget_tweaks %}{% load static %}
{% block title_head %}
<title>Gestión de categorías de productos - Tienda del Reciclaje</title>
{% endblock title_head %}
{% block main_menu %}										
<li class="menu-item menu-item-rel">
    <a href="{% url 'admins_panel_view' %}" class="menu-link">
        <span class="menu-text"><i class="fa fa-home text-white mr-5"></i> Panel principal</span>
        <i class="menu-arrow"></i>
    </a>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-users text-white mr-5"></i> Clientes</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admin_custormer_create' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nuevo</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_customers_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar clientes</span>
                    <span class="menu-desc"></span>
                </a>
            </li>														
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel menu-item-here" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-store text-white mr-5"></i> Tiendas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item menu-item-here" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar categorías</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																			
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-dollar-sign text-white mr-5"></i> Ventas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar ventas</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																			
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fas fa-cog text-white mr-5"></i> Configuraciones</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-lock text-info mr-5"></i> Cambiar contraseña</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
        </ul>
    </div>
</li>
{% endblock main_menu %}
{% block title %}
<!--begin::Title-->
<h2 class="text-white font-weight-bold my-2 mr-5">Gestión de categorías de producto</h2>
<!--end::Title-->
{% endblock title %}

{% block breadcrumb %}
<!--begin::Breadcrumb-->
<div class="d-flex align-items-center font-weight-bold my-2">
    <!--begin::Item-->
    <a href="#" class="opacity-75 hover-opacity-100">
        <i class="flaticon2-shelter text-white icon-1x"></i>
    </a>
    <!--end::Item-->
    <!--begin::Item-->
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="{% url 'admins_panel_view' %}" class="text-white text-hover-white opacity-75 hover-opacity-100">Panel
        principal</a>
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="#" class="text-white text-hover-white opacity-100">Gestión de categorías</a>
    <!--end::Item-->
</div>
<!--end::Breadcrumb-->
{% endblock breadcrumb %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <!--begin::Tiles Widget 11-->
        <div class="card card-custom bg-warning gutter-b">
            <div class="card-body">
                    <i class="fas fa-users text-white mr-5 fa-4x"></i> 
                <div class="text-inverse-primary font-weight-bolder font-size-h2 mt-3">{{ own_stores }}</div>
                <span class="text-inverse-primary font-weight-bold font-size-lg mt-1">Tiendas oficiales</span>
            </div>
        </div>
        <!--end::Tiles Widget 11-->
    </div>
    <div class="col-md-4">
        <!--begin::Tiles Widget 11-->
        <div class="card card-custom bg-warning gutter-b">
            <div class="card-body">
                    <i class="fa fa-store text-white mr-5 fa-4x"></i> 
                <div class="text-inverse-primary font-weight-bolder font-size-h2 mt-3">{{ thrids_stores }}</div>
                <span class="text-inverse-primary font-weight-bold font-size-lg mt-1">Tiendas de terceros</span>
            </div>
        </div>
        <!--end::Tiles Widget 11-->
    </div>    
</div>

<!--begin::Notice-->
<div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
    <div class="alert-icon">
        <span class="svg-icon svg-icon-info svg-icon-xl">
            <i class="fas fa-building text-primary mr-5"></i>
        </span>
    </div>
    <div class="alert-text">Aquí podrás gestionar las categorías de producto existentes en la plataforma.</div>
</div>
<!--end::Notice-->
<div class="row">
    <div class="col-md-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Listado de categorías existentes</h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="{% url 'admins_categories_createview' %}" class="btn btn-success font-weight-bolder">
                        <i class="fas fa-plus"></i>
                        Crear nueva categorías
                    </a>
                    <!--end::Button-->
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover datatable">
                    <thead>
                        <tr class="text-center">
                            <th>Nombre</th>
                            <th>Destacada</th>
                            <th>Productos asociados</th>
                            <th>opciones</th>
                        </tr>
                    </thead>
                    <tbody>																		
                        {% for category in categories %}
                            
                            
                        {% endfor %}												
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
</script>
<!--begin::Page Vendors(used by this page)-->
<script src="{% static 'panel/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<!--end::Page Vendors-->
<!--begin::Page Scripts(used by this page)-->
<script>
    "use strict";
    var KTDatatablesAdvancedColumnRendering = function () {

        var init = function () {
            var table = $('.datatable');

            // begin first table
            table.DataTable({
                responsive: true,
                paging: true,
                ordering:false,
            });

            $('#kt_datatable_search_status').on('change', function () {
                datatable.search($(this).val().toLowerCase(), 'Status');
            });

            $('#kt_datatable_search_type').on('change', function () {
                datatable.search($(this).val().toLowerCase(), 'Type');
            });

            $('#kt_datatable_search_status, #kt_datatable_search_type').selectpicker();
        };

        return {

            //main function to initiate the module
            init: function () {
                init();
            }
        };
    }();

    jQuery(document).ready(function () {
        KTDatatablesAdvancedColumnRendering.init();
    });

</script>
{% endblock scripts %}