{% extends 'panel/admins/panel.html' %}{% load widget_tweaks %}{% load static %}
{% block title_head %}
<title>Gestión de categorías de productos - Tienda del Reciclaje</title>
{% endblock title_head %}
{% block main_menu %}										
<li class="menu-item menu-item-rel">
    <a href="{% url 'admins_panel_view' %}" class="menu-link">
        <span class="menu-text"><i class="fa fa-home text-white mr-5"></i> Panel principal</span>
        <i class="menu-arrow"></i>
    </a>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-users text-white mr-5"></i> Clientes</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admin_custormer_create' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nuevo</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_customers_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar clientes</span>
                    <span class="menu-desc"></span>
                </a>
            </li>														
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel menu-item-here" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-store text-white mr-5"></i> Tiendas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item menu-item-here" aria-haspopup="true">
                <a href="{% url 'admins_categories_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar categorías</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_categories_createview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nueva categoría</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_products_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-boxes text-info mr-5"></i> Gestionar productos</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																			
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-dollar-sign text-white mr-5"></i> Ventas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar ventas</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																			
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fas fa-cog text-white mr-5"></i> Configuraciones</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-lock text-info mr-5"></i> Cambiar contraseña</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
        </ul>
    </div>
</li>
{% endblock main_menu %}
{% block title %}
<!--begin::Title-->
<h2 class="text-white font-weight-bold my-2 mr-5">Gestión de categorías de producto</h2>
<!--end::Title-->
{% endblock title %}

{% block breadcrumb %}
<!--begin::Breadcrumb-->
<div class="d-flex align-items-center font-weight-bold my-2">
    <!--begin::Item-->
    <a href="#" class="opacity-75 hover-opacity-100">
        <i class="flaticon2-shelter text-white icon-1x"></i>
    </a>
    <!--end::Item-->
    <!--begin::Item-->
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="{% url 'admins_panel_view' %}" class="text-white text-hover-white opacity-75 hover-opacity-100">Panel
        principal</a>
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="#" class="text-white text-hover-white opacity-100">Gestión de categorías</a>
    <!--end::Item-->
</div>
<!--end::Breadcrumb-->
{% endblock breadcrumb %}
{% block content %}
<!--begin::Notice-->
<div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
    <div class="alert-icon">
        <span class="svg-icon svg-icon-info svg-icon-xl">
            <i class="fas fa-building text-primary mr-5"></i>
        </span>
    </div>
    <div class="alert-text">Aquí podrás gestionar las categorías de producto existentes en la plataforma.</div>
</div>
<!--end::Notice-->
<div class="row">
    <div class="col-md-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Listado de categorías existentes</h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="{% url 'admins_categories_createview' %}" class="btn btn-success font-weight-bolder">
                        <i class="fas fa-plus"></i>
                        Crear nueva categorías
                    </a>
                    <!--end::Button-->
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover datatable">
                    <thead>
                        <tr class="text-center">
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Destacada</th>
                            <th>Productos asociados</th>
                            <th>opciones</th>
                        </tr>
                    </thead>
                    <tbody>																		
                        {% for category in categories %}
                        
                        {% if not category.parent and category.has_children %}
                        <tr class="text-center">
                            <td>{{category.name}}</td>
                            <td>
                                {% if category.is_active %}
                                <span class="label text-white label-success label-inline">Activa</span>                          
                                {% else %}
                                <span class="label text-white label-primary label-inline">Inactiva</span>
                                {% endif %}                                    
                            </td>
                            <td>
                                
                                {% if category.featured %}
                                <span class="label text-white label-success label-inline"><i class="fa fa-check text-white"></i></span>
                                {% else %}
                                <span class="label text-white label-danger label-inline"><i class="fa fa-times text-white"></i></span>                                    
                                {% endif %}
                                    
                            </td>
                            <td>{{category.products.all.count}}</td>
                            <td>
                                <a href="{% url 'admin_category_edit' category.id %}" class="btn btn-primary btn-icon btn-sm" title="Ver detalles">
                                    <i class="fa fa-edit"></i>
                                </a>
                                {% if category.is_active %}
                                <button class="btn btn-danger btn-icon btn-sm btn_change_state_category" title="Archivar categoría" id="change_state_category_{{category.id}}"><i class="fa fa-ban"></i></button>                          
                                {% else %}
                                <button class="btn btn-success btn-icon btn-sm btn_change_state_category" title="Activar categoría" id="change_state_category_{{category.id}}"><i class="fa fa-check"></i></button>
                                {% endif %}
                            </td>
                        </tr>    
                        
                        {% for subcategory in category.children.all %}
                        <tr class="text-center">
                            <td>{{category.name}} --- {{subcategory.name}}</td>
                            <td>
                                {% if category.is_active %}
                                <span class="label text-white label-success label-inline">Activa</span>                          
                                {% else %}
                                <span class="label text-white label-primary label-inline">Inactiva</span>
                                {% endif %}                                    
                            </td>
                            <td>
                                    
                            </td>
                            <td>{{subcategory.products.all.count}}</td>
                            <td>
                                <a href="{% url 'admin_category_edit' subcategory.id %}" class="btn btn-primary btn-icon btn-sm" title="Ver detalles">
                                    <i class="fa fa-edit"></i>
                                </a>
                                {% if subcategory.is_active %}
                                <button class="btn btn-danger btn-icon btn-sm btn_change_state_category" title="Archivar categoría" id="change_state_category_{{subcategory.id}}"><i class="fa fa-ban"></i></button>                          
                                {% else %}
                                <button class="btn btn-success btn-icon btn-sm btn_change_state_category" title="Activar categoría" id="change_state_category_{{subcategory.id}}"><i class="fa fa-check"></i></button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}

                        {% elif not category.parent and not category.has_children %}
                        <tr class="text-center">
                            <td>{{category.name}}</td>
                            <td>
                                {% if category.is_active %}
                                <span class="label text-white label-success label-inline">Activa</span>                          
                                {% else %}
                                <span class="label text-white label-primary label-inline">Inactiva</span>
                                {% endif %}                                    
                            </td>
                            <td>
                                
                                {% if category.featured %}
                                <span class="label text-white label-success label-inline"><i class="fa fa-check text-white"></i></span>
                                {% else %}
                                <span class="label text-white label-danger label-inline"><i class="fa fa-times text-white"></i></span>                                    
                                {% endif %}
                                    
                            </td>
                            <td>{{category.products.all.count}}</td>
                            <td>
                                <a href="{% url 'admin_category_edit' category.id %}" class="btn btn-primary btn-icon btn-sm" title="Ver detalles">
                                    <i class="fa fa-edit"></i>
                                </a>
                                {% if category.is_active %}
                                <button class="btn btn-danger btn-icon btn-sm btn_change_state_category" title="Archivar categoría" id="change_state_category_{{category.id}}"><i class="fa fa-ban"></i></button>                          
                                {% else %}
                                <button class="btn btn-success btn-icon btn-sm btn_change_state_category" title="Activar categoría" id="change_state_category_{{category.id}}"><i class="fa fa-check"></i></button>
                                {% endif %}
                                
                            </td>
                        </tr>                                                     
                        {% endif %}
                            
                            
                        {% endfor %}												
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
$(".btn_change_state_category").click(function(){

    const id_category = parseInt($(this).attr("id").match(/(\d+)/));

    Swal.fire({
        title: "¿Desea realmente desea cambiar el estado de esta cetegoría?",
        text: "¡Una vez realizada esta acción, la cetegoría y sus productos podrían aparecer (o no) en la plataforma !",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: 'Cambiar estado',
        denyButtonText: 'Cancelar'
    })
    .then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                url: "{% url 'admin_category_archive' %}", 
                type: "POST",
                dataType: "json",
                data: {
                    'id_category': id_category,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
            }).done(function(data){
                Swal.fire({
                    title: 'Bien!',
                    text: data.message,
                    icon: 'success',
                    confirmButtonText: 'Ok'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = window.location.href
                    }
                })                          

            }).fail(function(data){
                Swal.fire({
                    title: '¡Error!',
                    text: data.responseJSON.error,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            })
        } else {
            Swal.fire('¡Se ha cancelado la acción!"', '', 'info')
        }
    });
});
</script>
{% endblock scripts %}