{% load static %}{% load humanize %}
<!DOCTYPE html>
<html lang="es">
	<!--begin::Head-->
	<head>
		<meta charset="utf-8" />
		
		{% block title_head %}
		<title>Panel principal Tiendas - Tienda del Reciclaje</title>			
		{% endblock title_head %}
			
		<meta name="description" content="Updates and statistics" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="{% static 'panel/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="{% static 'panel/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'panel/plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'panel/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="{% static 'panel/media/logos/favicon.ico' %}" />
		
		{% block extra_header_code %}
			
		{% endblock extra_header_code %}
			
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	
	{% if user.customer.store.cover_img %}
	<body id="kt_body" style="background-image: url({{user.customer.store.cover_img.url}})" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">
	{% else %}
	<body id="kt_body" style="background-image: url(/static/panel/media/bg/bg-10.jpg/)" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">		
	{% endif %}
		
	
		<!--begin::Main-->
		<!--begin::Header Mobile-->
		<div id="kt_header_mobile" class="header-mobile">
			<!--begin::Logo-->
			<a href="index.html">
				<img alt="Logo" src="{% static 'home/img/fondo.jpg' %}" class="logo-default max-h-30px" />
			</a>
			<!--end::Logo-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
				<button class="btn p-0 burger-icon burger-icon-left ml-4" id="kt_header_mobile_toggle">
					<span></span>
				</button>
				<button class="btn btn-icon btn-hover-transparent-white p-0 ml-3" id="kt_header_mobile_topbar_toggle">
					<span class="svg-icon svg-icon-xl">
						<!--begin::Svg Icon | path:{% static 'panel/media/svg/icons/General/User.svg-->
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<polygon points="0 0 24 0 24 24 0 24" />
					 			<path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
								<path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
							</g>
						</svg>
						<!--end::Svg Icon-->
					</span>
				</button>
			</div>
			<!--end::Toolbar-->
		</div>
		<!--end::Header Mobile-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					<!--begin::Header-->
					<div id="kt_header" class="header header-fixed">
						<!--begin::Container-->
						<div class="container d-flex align-items-stretch justify-content-between">
							<!--begin::Left-->
							<div class="d-flex align-items-stretch mr-3">
								<!--begin::Header Logo-->
								<div class="header-logo">
									<a href="{% url 'stores_panel_view' %}">
										<img alt="Logo" src="{% static 'panel/media/logos/logo-letter-9.png' %}" class="logo-default max-h-40px" />
										<img alt="Logo" src="{% static 'panel/media/logos/logo-letter-1.png' %}" class="logo-sticky max-h-40px" />
									</a>
								</div>
								<!--end::Header Logo-->
								<!--begin::Header Menu Wrapper-->
								<div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
									<!--begin::Header Menu-->
									<div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
										<!--begin::Header Nav-->
										<ul class="menu-nav">
											
											{% block main_menu %}										
											<li class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here" data-menu-toggle="click" aria-haspopup="true">
												<a href="{% url 'stores_panel_view' %}" class="menu-link menu-toggle">
													<span class="menu-text"><i class="fa fa-home text-white mr-5"></i> Panel principal</span>
													<i class="menu-arrow"></i>
												</a>
											</li>
											
											<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
												<a href="javascript:;" class="menu-link menu-toggle">
													<span class="menu-text"><i class="fa fa-store text-white mr-5"></i> Tienda</span>
													<span class="menu-desc"></span>
												</a>
												<div class="menu-submenu menu-submenu-classic menu-submenu-left">
													<ul class="menu-subnav">													
														<li class="menu-item" aria-haspopup="true">
															<a href="{% url 'stores_products_list' %}" class="menu-link">
																<span class="menu-text"><i class="fas fa-boxes text-info mr-5"></i> Gestionar productos</span>
																<span class="menu-desc"></span>
															</a>
														</li>
														<li class="menu-item" aria-haspopup="true">
															<a href="{% url 'stores_products_create' %}" class="menu-link">
																<span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nuevo producto</span>
																<span class="menu-desc"></span>
															</a>
														</li>
														
																									
													</ul>
												</div>
											</li>
											<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
												<a href="javascript:;" class="menu-link menu-toggle">
													<span class="menu-text"><i class="fa fa-dollar-sign text-white mr-5"></i> Ventas</span>
													<span class="menu-desc"></span>
												</a>
												<div class="menu-submenu menu-submenu-classic menu-submenu-left">
													<ul class="menu-subnav">
														<li class="menu-item" aria-haspopup="true">
															<a href="#" class="menu-link">
																<span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar ventas</span>
																<span class="menu-desc"></span>
															</a>
														</li>																			
													</ul>
												</div>
											</li>											
											{% endblock main_menu %}												
										</ul>
										<!--end::Header Nav-->
									</div>
									<!--end::Header Menu-->
								</div>
								<!--end::Header Menu Wrapper-->
							</div>
							<!--end::Left-->
							<!--begin::Topbar-->
							<div class="topbar">		
								<!--begin::User-->
								<div class="dropdown">
									<!--begin::Toggle-->
									<div class="topbar-item">
										<div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto" id="kt_quick_user_toggle">
											<span class="text-white opacity-70 font-weight-bold font-size-base d-none d-md-inline mr-1">Hola,</span>
											<span class="text-white opacity-90 font-weight-bolder font-size-base d-none d-md-inline mr-4">{{user.customer.get_full_name}}</span>
											<span class="symbol symbol-35">
												<span class="symbol-label text-white font-size-h5 font-weight-bold bg-white-o-30"><i class="flaticon2-user text-white"></i></span>
											</span>
										</div>
									</div>
									<!--end::Toggle-->
								</div>
								<!--end::User-->
							</div>
							<!--end::Topbar-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Header-->
					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
							<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Info-->
								<div class="d-flex align-items-center flex-wrap mr-1">
									<!--begin::Heading-->
									<div class="d-flex flex-column">
										
										{% block title %}
										<!--begin::Title-->
										<h2 class="text-white font-weight-bold my-2 mr-5">Panel principal</h2>
										<!--end::Title-->											
										{% endblock title %}
										
										{% block breadcrumb %}
										<!--begin::Breadcrumb-->
										<div class="d-flex align-items-center font-weight-bold my-2">
											<!--begin::Item-->
											<a href="#" class="opacity-75 hover-opacity-100">
												<i class="flaticon2-shelter text-white icon-1x"></i>
											</a>
											<!--end::Item-->
											<!--begin::Item-->
											<span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
											<a href="#" class="text-white text-hover-white opacity-75 hover-opacity-100">Panel principal</a>
											<!--end::Item-->
										</div>
										<!--end::Breadcrumb-->
										{% endblock breadcrumb %}
									</div>
									<!--end::Heading-->
								</div>
								<!--end::Info-->
							</div>
						</div>
						<!--end::Subheader-->
						
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								{% if messages %}
									<div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
										{% for message in messages %}
											<div class="alert alert-success" role="alert">
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
												</button>
												{{ message }}
											</div><!-- alert -->
										{% endfor %}
									</div>  
								{% endif %} 
								<!--begin::Dashboard-->
								{% block content %}
								
								<div class="row mt-5">
									<div class="col-md-12"> 
										<div class="card card-custom gutter-b">
											<div class="card-body">
												<!--begin::Details-->
												<div class="d-flex mb-9">
													<!--begin: Pic-->
													<div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
														<div class="symbol symbol-50 symbol-lg-120">
															
															{% if user.customer.store.logo %}
															<img src="{{user.customer.store.logo.url}}" alt="store logo">                                
															{% endif %}
																
														</div>
													</div>
													<!--end::Pic-->
													<!--begin::Info-->
													<div class="flex-grow-1">
														<!--begin::Title-->
														<div class="d-flex mb-5">
															{% if user.customer.store.is_active %}
															<br><span class="label text-white label-success label-inline font-size-h5">Activa</span>                          
															{% else %}
															<br><span class="label text-white label-primary label-inline font-size-h5">Inactiva</span>
															{% endif %}
														</div>
														<div class="d-flex justify-content-between flex-wrap mt-1">
															<div class="d-flex mr-3">
																<h2 class="text-dark-75 text-hover-primary font-size-h2 font-weight-bold mr-3">{{user.customer.store.name}}</h2>
																{% if store.is_official %}
																<i class="flaticon2-correct text-success font-size-h1" title="Tienda Oficial"></i>                                 
																{% endif %}                             
															</div>               
															<div class="my-3">
																<a href="{% url 'stores_profile_edit' %}" class="btn btn-primary font-weight-bolder text-uppercase mr-3">Editar <i class="fa fa-edit"></i></a>
															</div>
														</div>                        
														<!--end::Title-->
														<!--begin::Content-->
														<div class="d-flex flex-wrap justify-content-between mt-1">
															<div class="d-flex flex-column flex-grow-1 pr-8">
																<div class="d-flex flex-wrap mb-4">
																	<a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2" target="_blank">
																		<i class="fa fa-user mr-4 font-size-lg"></i>{{user.customer.store.customer.get_full_name}}
																	</a>
																	<a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
																		<i class="fa fa-store mr-4 font-size-lg"></i>{{user.customer.store.id_type}} {{user.customer.store.id_number}}
																	</a>
																	<a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
																		<i class="fa fa-envelope mr-4 font-size-lg"></i>{{user.customer.store.email}}
																	</a>
																</div>
																<div class="d-flex flex-wrap my-5">
																	<a href="#" class="text-dark-50 text-hover-primary font-weight-bold">
																		<i class="fa fa-map-marker-alt mr-4 font-size-lg"></i>{{user.customer.store.address}}, {{user.customer.store.zip_code}}
																	</a>
																	<a href="#" class="text-dark-50 text-hover-primary font-weight-bold">
																		<i class="fa fa-phone mx-4 font-size-lg"></i>{{user.customer.store.phone}}
																	</a>
																	<a href="#" class="text-dark-50 text-hover-primary font-weight-bold">
																		<i class="fa fa-globe mx-4 font-size-lg"></i>{{user.customer.store.website_url}}
																	</a>
																</div>
															</div>
															
														</div>
														<!--end::Content-->
													</div>
													<!--end::Info-->
												</div>
												<!--end::Details-->
												<div class="separator separator-solid"></div>
												<!--begin::Items-->
												<div class="d-flex align-items-center flex-wrap mt-8">
													<!--begin::Item-->
													<div class="d-flex align-items-center flex-lg-fill mr-5 mb-2">
														<span class="mr-4">
															<i class="fa fa-boxes fa-2x"></i>
														</span>
														<div class="d-flex flex-column text-dark-75">
															<span class="font-weight-bolder font-size-sm">Productos</span>
															<span class="font-weight-bolder font-size-h5">
															<span class="text-dark-50 font-weight-bold">{{user.customer.store.customer.products.all.count}}</span>
														</div>
													</div>
													<!--end::Item-->
													<!--begin::Item-->
													<div class="d-flex align-items-center flex-lg-fill mr-5 mb-2">
														<span class="mr-4">
															<i class="fa fa-heart fa-2x"></i>
														</span>
														<div class="d-flex flex-column text-dark-75">
															<span class="font-weight-bolder font-size-sm">Reseñas</span>
															<span class="font-weight-bolder font-size-h5">
															<span class="text-dark-50 font-weight-bold"></span>78</span>
														</div>
													</div>
													<!--end::Item-->
													<!--begin::Item-->
													<div class="d-flex align-items-center flex-lg-fill mr-5 mb-2">
														<span class="mr-4">
															<i class="fa fa-dollar-sign fa-2x"></i>
														</span>
														<div class="d-flex flex-column text-dark-75">
															<span class="font-weight-bolder font-size-sm">Ventas</span>
															<span class="font-weight-bolder font-size-h5">
															<span class="text-dark-50 font-weight-bold"></span>249,500</span>
														</div>
													</div>
													<!--end::Item-->
												</div>
												<!--begin::Items-->
											</div>
										</div>
									</div>
									
								</div>

								<div class="row mt-5">
									<div class="col-md-12">
										<div class="card">
											<div class="card-body">
												<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">

                                                    <li class="nav-item">
														<a class="nav-link active" data-toggle="tab" href="#sales">
															<span class="nav-icon">
																<i class="fas fa-dollar-sign"></i>
															</span>
															<span class="nav-text">Ventas</span>
														</a>
													</li>
											
													<li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#products">
															<span class="nav-icon">
																<i class="fa fa-boxes"></i>
															</span>
															<span class="nav-text">Productos</span>
														</a>
													</li>													

													<li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#reviews">
															<span class="nav-icon">
																<i class="fas fa-heart"></i>
															</span>
															<span class="nav-text">Reseñas</span>
														</a>
													</li>
								
												</ul>
											</div>
										</div>
						
										<div class="tab-content mt-5" id="nav-tabContent">

                                            <div class="tab-pane fade show active" id="sales" role="tabpanel" aria-labelledby="users-tab">
												<!--begin::Card-->
												<div class="card card-custom card-stretch">
													<!--begin::Header-->
													<div class="card-header py-3">
														<div class="card-title align-items-start flex-column">
															<h3 class="card-label font-weight-bolder text-dark">Ventas</h3>
															<span class="text-muted font-weight-bold font-size-sm mt-1">Observa las últimas ventas realizadas en la plataforma</span>
														</div>
														<div class="card-toolbar">
														</div>
													</div>
													<!--end::Header-->                                       
													<!--begin::Body-->
													<div class="card-body">
														<div class="row">
															<div class="col-md-12">
																<table class="table table-separate table-head-custom datatable">
																	<thead>
																		<tr>
																			<th>ID Orden de compra</th>
																			<th>Cliente</th>
																			<th>Valor</th>
																			<th>Fecha de generación</th>
																			<th>Fecha de pago</th>
																			<th>Estado</th>
																			<th>opciones</th>
																		</tr>
																	</thead>
																	<tbody>
																		
																	</tbody>
																</table>
															</div>															
														</div>														
													</div>
													<!--end::Body-->
												</div>
											</div>

											<div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="users-tab">
												<!--begin::Card-->
												<div class="card card-custom card-stretch">
													<!--begin::Header-->
													<div class="card-header py-3">
														<div class="card-title align-items-start flex-column">
															<h3 class="card-label font-weight-bolder text-dark">Productos</h3>
															<span class="text-muted font-weight-bold font-size-sm mt-1">Observa los últimos productos cargados a la plataforma</span>
														</div>
														<div class="card-toolbar">
															<!--begin::Button-->
															<!--end::Button-->
														</div>
													</div>
													<!--end::Header-->                                       
													<!--begin::Body-->
													<div class="card-body">
														<div class="row">
															<div class="col-md-12">
																<table class="table table-separate datatable">
																	<thead>
																		<tr class="text-black text-center">
																			<th>Producto</th>
																			<th>Fecha creado</th>
																			<th>Cantidad</th>
																			<th>Precio</th>
																			<th>Estado</th>
																			<th title="opciones">opciones</th>
																		</tr>
																	</thead>
																	<tbody>																	
																		{% for product in products %}
																			<tr class="text-center">
																				<td>{{ product.title }}</td>
																				<td>{{product.created_at | date:"d M Y h:i a"}}</td>
																				<td>{{ product.available_units }}</td>
																				<td>
																					
																					{% if not product.discount_price == 0 %}
																					<del class="text-danger">$ {{product.unit_price | intcomma}}</del><br>
																					<span class="text-success">$ {{product.discount_price | intcomma}}</span>
																					{% else %}
																					<span class="text-success">$ {{product.unit_price | intcomma}}</span>			{% endif %}
																						
																				</td>
																				<td>
																					{% if product.is_active %}
																					<span class="label text-white label-success label-inline">Activo</span>
																					{% else %}
																					<span class="label font-weight-bold label-lg  label-light-default label-inline">Inactivo</span>
																					{% endif %}						
																				</td>
																				<td><a href="{% url 'stores_products_details' product.id %}" class="btn btn-sm btn-icon btn-primary" title="Ver detalles"><i class="fa fa-eye"></i></a></td>
																			</tr>
																		{% endfor %}									
																	</tbody>
																</table>
															</div>															
														</div>														
													</div>
													<!--end::Body-->
												</div>
											</div>

											<div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="users-tab">
												<!--begin::Card-->
												<div class="card card-custom card-stretch">
													<!--begin::Header-->
													<div class="card-header py-3">
														<div class="card-title align-items-start flex-column">
															<h3 class="card-label font-weight-bolder text-dark">Reseñas</h3>
															<span class="text-muted font-weight-bold font-size-sm mt-1">Observa todos los clientes registrados en la plataforma</span>
														</div>
														<div class="card-toolbar">
														</div>
													</div>
													<!--end::Header-->                                       
													<!--begin::Body--> 
													<div class="card-body">
														<div class="row">
															<div class="col-md-12">
																<table class="table table-hover datatable">
																	<thead>
																		<tr class="text-center">
																			<th style="width: 30%;">Fecha registro</th>
																			<th style="width: 20%;">Nombre</th>
																			<th style="width: 20%;">Número de documento</th>
																			<th style="width: 10%;">Estado</th>
																			<th style="width: 20%;">opciones</th>
																		</tr>
																	</thead>
																	<tbody>																		
																		{% for customer in customers %}
																			<tr class="text-center">
																				<td>{{customer.user.date_joined | date:"d M Y h:i a"}}</td>
																				<td>{{customer.get_full_name}}</td>
																				<td>{{customer.id_number}}</td>
																				<td>
																					{% if customer.is_active %}
																					<span class="label text-white label-success label-inline">Activo</span>
																					{% else %}
																					<span class="label font-weight-bold label-lg  label-light-default label-inline">Inactivo</span>
																					{% endif %}	
																				</td>
																				<td>
																					<a href="{% url 'admins_customers_detailview' customer.id %}" class="btn btn-primary btn-icon btn-sm" title="Ver detalles">
																						<i class="fa fa-eye"></i>
																					</a>
																				</td>
																			</tr>
																		{% endfor %}												
																	</tbody>
																</table>
															</div>															
														</div>														
													</div>
													<!--end::Body-->
												</div>
											</div>									

										</div>
									</div>
									
								</div>

								
								{% endblock content %}

								
								<!--end::Dashboard-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
					<!--end::Content-->
					<!--begin::Footer-->
					<div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
						<!--begin::Container-->
						<div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
							<!--begin::Copyright-->
							<div class="text-dark order-2 order-md-1">
								<span class="text-muted font-weight-bold mr-2">2021 ©</span>
								<a href="#" target="_blank" class="text-dark-75 text-hover-primary">Tienda del Reciclaje</a>
							</div>
							<!--end::Copyright-->
							
						</div>
						<!--end::Container-->
					</div>
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
		<!-- begin::User Panel-->
		<div id="kt_quick_user" class="offcanvas offcanvas-right p-10">
			<!--begin::Header-->
			<div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
				<h3 class="font-weight-bold m-0">Usuario administrador</h3>
				<a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_user_close">
					<i class="ki ki-close icon-xs text-muted"></i>
				</a>
			</div>
			<!--end::Header-->
			<!--begin::Content-->
			<div class="offcanvas-content pr-5 mr-n5">
				<!--begin::Header-->
				<div class="d-flex align-items-center mt-5">
					<div class="d-flex flex-column">
						<a href="#" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">{{ user.first_name }} {{ user.last_name }}</a>
						<div class="text-muted mt-1">Administrador(a) de tienda <span class="text-success">{{user.customer.store.name}}</span></div>
						<div class="navi mt-2">
							<a href="#" class="navi-item">
								<span class="navi-link p-0 pb-2">
									<span class="navi-icon mr-1">
										<span class="svg-icon svg-icon-lg svg-icon-primary">
											<!--begin::Svg Icon | path:{% static 'panel/media/svg/icons/Communication/Mail-notification.svg-->
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<rect x="0" y="0" width="24" height="24" />
													<path d="M21,12.0829584 C20.6747915,12.0283988 20.3407122,12 20,12 C16.6862915,12 14,14.6862915 14,18 C14,18.3407122 14.0283988,18.6747915 14.0829584,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12.0829584 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z" fill="#000000" />
													<circle fill="#000000" opacity="0.3" cx="19.5" cy="17.5" r="2.5" />
												</g>
											</svg>
											<!--end::Svg Icon-->
										</span>
									</span>
									<span class="navi-text text-muted text-hover-primary">{{ user.email }}</span>
								</span>
							</a>
							<a href="{% url 'logout_view' %}" class="btn btn-sm btn-light-danger font-weight-bolder py-2 px-5 my-5"><i class="fas fa-power-off"></i> Cerrar sesión</a>
						</div>
					</div>
				</div>
				<!--end::Header-->
				<!--begin::Separator-->
				<div class="separator separator-dashed mt-8 mb-5"></div>
				<!--end::Separator-->				
			</div>
			<!--end::Content-->
		</div>
		<!-- end::User Panel-->		
		
		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop">
			<span class="svg-icon">
				<img src="{% static 'panel/media/back-to-top.png' %}" alt="back-to-top icon">
			</span>
		</div>
		<!--end::Scrolltop-->
		
		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="{% static 'panel/plugins/global/plugins.bundle.js' %}"></script>
		<script src="{% static 'panel/plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
		<script src="{% static 'panel/js/scripts.bundle.js' %}"></script>
		<!--end::Global Theme Bundle-->
		<!--begin::Page Vendors(used by this page)-->
		<script src="{% static 'panel/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
		<!--end::Page Vendors-->
		<!--begin::Page Scripts(used by this page)-->
		<script src="{% static 'panel/js/pages/widgets.js' %}"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script src="{% static 'panel/plugins/custom/datatables/datatables.bundle.js' %}"></script>
		<script src="{% static 'panel/js/pages/crud/forms/widgets/select2.js' %}"></script>
		<script>
			"use strict";
			
			$(document).ready(function() {
				$('.select2').select2();
			});
			
			const KTDatatablesAdvancedColumnRendering = function () {
				
				const init = function () {
					const table = $('.datatable');
					
					// begin first table
					table.DataTable({
						responsive: true,
						paging: true,
						destroy: true,
						ordering: false
					});
				};
				
				return {
					
					//main function to initiate the module
					init: function () {
						init();
					}
				};
			}();
			
			jQuery(document).ready(function () {
				KTDatatablesAdvancedColumnRendering.init();
			});
		</script>
		{% block scripts %}
		{% endblock scripts %}
		<!--end::Page Scripts-->
	</body>
	<!--end::Body-->
</html>