{% extends 'panel/admins/panel.html' %}{% load widget_tweaks %}{% load static %}{% load humanize %}
{% block title_head %}
<title>Gestión de tiendas - Tienda del Reciclaje</title>
{% endblock title_head %}
{% block main_menu %}										
<li class="menu-item menu-item-rel">
    <a href="{% url 'admins_panel_view' %}" class="menu-link">
        <span class="menu-text"><i class="fa fa-home text-white mr-5"></i> Panel principal</span>
        <i class="menu-arrow"></i>
    </a>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-users text-white mr-5"></i> Clientes</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admin_custormer_create' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nuevo</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_customers_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar clientes</span>
                    <span class="menu-desc"></span>
                </a>
            </li>														
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel menu-item-here" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-store text-white mr-5"></i> Tiendas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_categories_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar categorías</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_categories_createview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nueva categoría</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_products_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-boxes text-info mr-5"></i> Gestionar productos</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_products_createview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nuevo producto</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item menu-item-here" aria-haspopup="true">
                <a href="{% url 'admins_stores_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-store text-info mr-5"></i> Gestionar tiendas</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_stores_createview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nueva tienda</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																		
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-dollar-sign text-white mr-5"></i> Ventas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar ventas</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																			
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fas fa-cog text-white mr-5"></i> Configuraciones</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-lock text-info mr-5"></i> Cambiar contraseña</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
        </ul>
    </div>
</li>
{% endblock main_menu %}
{% block title %}
<!--begin::Title-->
<h2 class="text-white font-weight-bold my-2 mr-5">Gestión de tiendas</h2>
<!--end::Title-->
{% endblock title %}

{% block breadcrumb %}
<!--begin::Breadcrumb-->
<div class="d-flex align-items-center font-weight-bold my-2">
    <!--begin::Item-->
    <a href="#" class="opacity-75 hover-opacity-100">
        <i class="flaticon2-shelter text-white icon-1x"></i>
    </a>
    <!--end::Item-->
    <!--begin::Item-->
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="{% url 'admins_panel_view' %}" class="text-white text-hover-white opacity-75 hover-opacity-100">Panel
        principal</a>
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="#" class="text-white text-hover-white opacity-100">Gestión de tiendas</a>
    <!--end::Item-->
</div>
<!--end::Breadcrumb-->
{% endblock breadcrumb %}
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <!--begin::Tiles Widget 11-->
        <div class="card card-custom bg-warning gutter-b">
            <div class="card-body">
                    <i class="fas fa-star text-white mr-5 fa-4x"></i> 
                <div class="text-inverse-primary font-weight-bolder font-size-h2 mt-3">{{ own_stores }}</div>
                <span class="text-inverse-primary font-weight-bold font-size-lg mt-1">Tiendas oficiales</span>
            </div>
        </div>
        <!--end::Tiles Widget 11-->
    </div>
    <div class="col-md-3">
        <!--begin::Tiles Widget 11-->
        <div class="card card-custom bg-warning gutter-b">
            <div class="card-body">
                    <i class="fa fa-store text-white mr-5 fa-4x"></i> 
                <div class="text-inverse-primary font-weight-bolder font-size-h2 mt-3">{{ thrids_stores }}</div>
                <span class="text-inverse-primary font-weight-bold font-size-lg mt-1">Tiendas de terceros</span>
            </div>
        </div>
        <!--end::Tiles Widget 11-->
    </div>  
    <div class="col-md-3"></div>  
</div>

<!--begin::Notice-->
<div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
    <div class="alert-icon">
        <span class="svg-icon svg-icon-info svg-icon-xl">
            <i class="fas fa-store text-primary mr-5"></i>
        </span>
    </div>
    <div class="alert-text">Aquí podrás gestionar las tiendas existentes en la plataforma.</div>
</div>
<!--end::Notice-->
<div class="row mt-5">
    <div class="col-md-12"> 
        <!--begin::Card-->
        <div class="card card-custom card-stretch">
            <!--begin::Header-->
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">Listado de tiendas</h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1">Gestiona las tiendas registradas en la plataforma</span>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="{% url 'admins_stores_createview' %}">
                        <button class="btn btn-primary">Crear nueva tienda <i class="fa fa-plus"></i></button>
                    </a>
                    <!--end::Button-->
                </div>
            </div>
            <!--end::Header-->                                       
            <!--begin::Body-->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-separate datatable">
                            <thead>
                                <tr class="text-black text-center">
                                    <th>Fecha registro</th>
                                    <th>Nombre de la tienda</th>
                                    <th>Identificación</th>
                                    <th>Estado</th>
                                    <th title="opciones">opciones</th>
                                </tr>
                            </thead>
                            <tbody>																
                                {% for store in stores %}                                
                                                              
                                <tr class="text-center">
                                        <td>{{store.created_at | date:"d/m/Y h:i a"}}</td>
                                        <td>
                                            {{ store.name }}                                         
                                        </td>                                       
                                        <td>                                                    
                                            {{store.id_type }} # {{store.id_number }}                                          
                                        </td>
                                        <td>
                                            {% if store.is_active %}
                                            <span class="label text-white label-success label-inline">Activa</span>                          
                                            {% else %}
                                            <span class="label text-white label-primary label-inline">Inactiva</span>
                                            {% endif %}						
                                        </td>
                                        <td>
                                            <a href="{% url 'admin_stores_detail' store.id %}" class="btn btn-sm btn-icon btn-primary" title="Ver detalles"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}									
                            </tbody>
                        </table>
                    </div>															
                </div>														
            </div>
            <!--end::Body-->
        </div>
    </div>
    
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}