{% extends 'panel/admins/panel.html' %}{% load widget_tweaks %}{% load static %}{% load humanize %}
{% block title_head %}
<title>Detalles de la tienda "{{store.name}}" - Tienda del Reciclaje</title>
{% endblock title_head %}
{% block main_menu %}										
<li class="menu-item menu-item-rel">
    <a href="{% url 'admins_panel_view' %}" class="menu-link">
        <span class="menu-text"><i class="fa fa-home text-white mr-5"></i> Panel principal</span>
        <i class="menu-arrow"></i>
    </a>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-users text-white mr-5"></i> Clientes</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admin_custormer_create' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nuevo</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_customers_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar clientes</span>
                    <span class="menu-desc"></span>
                </a>
            </li>														
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel menu-item-here" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-store text-white mr-5"></i> Tiendas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_categories_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar categorías</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_categories_createview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nueva categoría</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_products_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-boxes text-info mr-5"></i> Gestionar productos</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_products_createview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nuevo producto</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item menu-item-here" aria-haspopup="true">
                <a href="{% url 'admins_stores_listview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-store text-info mr-5"></i> Gestionar tiendas</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'admins_stores_createview' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nueva tienda</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																		
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-dollar-sign text-white mr-5"></i> Ventas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar ventas</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																			
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fas fa-cog text-white mr-5"></i> Configuraciones</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-lock text-info mr-5"></i> Cambiar contraseña</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
        </ul>
    </div>
</li>
{% endblock main_menu %}
{% block title %}
<!--begin::Title-->
<h2 class="text-white font-weight-bold my-2 mr-5">Detalles de la tienda "{{store.name}}"</h2>
<!--end::Title-->
{% endblock title %}

{% block breadcrumb %}
<!--begin::Breadcrumb-->
<div class="d-flex align-items-center font-weight-bold my-2">
    <!--begin::Item-->
    <a href="#" class="opacity-75 hover-opacity-100">
        <i class="flaticon2-shelter text-white icon-1x"></i>
    </a>
    <!--end::Item-->
    <!--begin::Item-->
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="{% url 'admins_panel_view' %}" class="text-white text-hover-white opacity-75 hover-opacity-100">Panel
        principal</a>
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="{% url 'admins_stores_listview' %}" class="text-white text-hover-white opacity-75">Gestión de tiendas</a>
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="#" class="text-white text-hover-white opacity-100">Detalles tienda "{{store.name}}"</a>
    <!--end::Item-->
</div>
<!--end::Breadcrumb-->
{% endblock breadcrumb %}
{% block content %}
<!--begin::Notice-->
<div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
    <div class="alert-icon">
        <span class="svg-icon svg-icon-info svg-icon-xl">
            <i class="fas fa-store text-primary mr-5"></i>
        </span>
    </div>
    <div class="alert-text">Aquí podrás gestionar los detalles de la tienda "{{store.name}}".</div>
</div>
<!--end::Notice-->
<div class="row mt-5">
    <div class="col-md-12"> 
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <!--begin::Details-->
                <div class="d-flex mb-9">
                    <!--begin: Pic-->
                    <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
                        <div class="symbol symbol-50 symbol-lg-120">
                            
                            {% if store.logo %}
                            <img src="{{store.logo.url}}" alt="store logo">                                
                            {% endif %}
                                
                        </div>
                    </div>
                    <!--end::Pic-->
                    <!--begin::Info-->
                    <div class="flex-grow-1">
                        <!--begin::Title-->
                        <div class="d-flex mb-5">
                            {% if store.is_active %}
                            <br><span class="label text-white label-success label-inline font-size-h5">Activa</span>                          
                            {% else %}
                            <br><span class="label text-white label-primary label-inline font-size-h5">Inactiva</span>
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-between flex-wrap mt-1">
                            <div class="d-flex mr-3">
                                <h2 class="text-dark-75 text-hover-primary font-size-h2 font-weight-bold mr-3">{{store.name}}</h2>
                                {% if store.is_official %}
                                <i class="flaticon2-correct text-success font-size-h1" title="Tienda Oficial"></i>                                 
                                {% endif %}                             
                            </div>               
                            <div class="my-3">
                                <a href="{% url 'admin_stores_edit' store.id %}" class="btn btn-primary font-weight-bolder text-uppercase mr-3">Editar <i class="fa fa-edit"></i></a>
                                {% if not store.is_active %}
                                <button class="btn btn-success font-weight-bolder text-uppercase" id="btn_change_state_store">Activar <i class="fa fa-check"></i></button>
                                {% else %}
                                <button class="btn btn-danger font-weight-bolder text-uppercase" id="btn_change_state_store">Desactivar <i class="fa fa-ban"></i></button>
                                {% endif %}
                            </div>
                        </div>                        
                        <!--end::Title-->
                        <!--begin::Content-->
                        <div class="d-flex flex-wrap justify-content-between mt-1">
                            <div class="d-flex flex-column flex-grow-1 pr-8">
                                <div class="d-flex flex-wrap mb-4">
                                    <a href="{% url 'admins_customers_detailview' store.customer.id %}" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2" target="_blank">
                                        <i class="fa fa-user mr-4 font-size-lg"></i>{{store.customer.get_full_name}}
                                    </a>
                                    <a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                        <i class="fa fa-store mr-4 font-size-lg"></i>{{store.id_type}} {{store.id_number}}
                                    </a>
                                    <a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                        <i class="fa fa-envelope mr-4 font-size-lg"></i>{{store.email}}
                                    </a>
                                </div>
                                <div class="d-flex flex-wrap my-5">
                                    <a href="#" class="text-dark-50 text-hover-primary font-weight-bold">
                                        <i class="fa fa-map-marker-alt mr-4 font-size-lg"></i>{{store.address}}, {{store.zip_code}}
                                    </a>
                                    <a href="#" class="text-dark-50 text-hover-primary font-weight-bold">
                                        <i class="fa fa-phone mx-4 font-size-lg"></i>{{store.phone}}
                                    </a>
                                    <a href="#" class="text-dark-50 text-hover-primary font-weight-bold">
                                        <i class="fa fa-globe mx-4 font-size-lg"></i>{{store.website_url}}
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                        <!--end::Content-->
                    </div>
                    <!--end::Info-->
                </div>
                <!--end::Details-->
                <div class="separator separator-solid"></div>
                <!--begin::Items-->
                <div class="d-flex align-items-center flex-wrap mt-8">
                    <!--begin::Item-->
                    <div class="d-flex align-items-center flex-lg-fill mr-5 mb-2">
                        <span class="mr-4">
                            <i class="fa fa-boxes fa-2x"></i>
                        </span>
                        <div class="d-flex flex-column text-dark-75">
                            <span class="font-weight-bolder font-size-sm">Productos</span>
                            <span class="font-weight-bolder font-size-h5">
                            <span class="text-dark-50 font-weight-bold">{{store.customer.products.all.count}}</span>
                        </div>
                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="d-flex align-items-center flex-lg-fill mr-5 mb-2">
                        <span class="mr-4">
                            <i class="fa fa-heart fa-2x"></i>
                        </span>
                        <div class="d-flex flex-column text-dark-75">
                            <span class="font-weight-bolder font-size-sm">Reseñas</span>
                            <span class="font-weight-bolder font-size-h5">
                            <span class="text-dark-50 font-weight-bold"></span>78</span>
                        </div>
                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="d-flex align-items-center flex-lg-fill mr-5 mb-2">
                        <span class="mr-4">
                            <i class="fa fa-dollar-sign fa-2x"></i>
                        </span>
                        <div class="d-flex flex-column text-dark-75">
                            <span class="font-weight-bolder font-size-sm">Ventas</span>
                            <span class="font-weight-bolder font-size-h5">
                            <span class="text-dark-50 font-weight-bold"></span>249,500</span>
                        </div>
                    </div>
                    <!--end::Item-->
                </div>
                <!--begin::Items-->
            </div>
        </div>
    </div>
    
</div>
<div class="row mt-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#products">
                            <span class="nav-icon">
                                <i class="fa fa-boxes"></i>
                            </span>
                            <span class="nav-text">Productos</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#reviews">
                            <span class="nav-icon">
                                <i class="fas fa-heart"></i>
                            </span>
                            <span class="nav-text">Reseñas</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#sales">
                            <span class="nav-icon">
                                <i class="fas fa-dollar-sign"></i>
                            </span>
                            <span class="nav-text">Ventas</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        
        <div class="tab-content mt-5" id="nav-tabContent">
           
            <div class="tab-pane fade show active" id="products" role="tabpanel" aria-labelledby="users-tab">
                <!--begin::Card-->
                <div class="card card-custom card-stretch">
                    <!--begin::Header-->
                    <div class="card-header py-3">
                        <div class="card-title align-items-start flex-column">
                            <h3 class="card-label font-weight-bolder text-dark">Productos de la tienda</h3>
                            <span class="text-muted font-weight-bold font-size-sm mt-1">Observa los productos cargados a la plataforma desde esta tienda</span>
                        </div>
                        <div class="card-toolbar">
                        </div>
                    </div>
                    <!--end::Header-->                                       
                    <!--begin::Body-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-separate datatable">
                                    <thead>
                                        <tr class="text-black text-center">
                                            <th>Producto</th>
                                            <th>Estado</th>
                                            <th>Fecha creado</th>
                                            <th>Precio</th>
                                            <th title="opciones">opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>																	
                                        {% for product in store.customer.products.all %}                                   
                                            <tr class="text-center">
                                                <td>
                                                    {{ product.title }}
                                                    
                                                    {% if product.in_bid %}
                                                    <span class="label text-white label-success label-inline mx-2">Subasta</span>                                                       
                                                    {% endif %}                                         
                                                </td>
                                                <td>
                                                    {% if product.status == 0 %}
                                                    <span class="label text-white label-primary label-inline">Pendiente</span>
                                                    {% elif product.status == 1 %}
                                                    <span class="label text-white label-success label-inline">Publicado</span>
                                                    {% elif product.status == 2 %}
                                                    <span class="label text-white label-danger label-inline">Rechazado</span>
                                                    {% elif product.status == 3 %}
                                                    <span class="label text-white label-primary label-inline">Pausado</span>
                                                    {% endif %}						
                                                </td>
                                                <td>{{product.created_at | date:"SHORT_DATE_FORMAT"}}</td>
                                                <td>                                                    
                                                    {% if not product.discount_price == 0 %}
                                                    <del class="text-danger">$ {{product.unit_price | intcomma}}</del> <br>
                                                    <span class="text-success">$ {{product.discount_price | intcomma}}</span>
                                                    {% else %}
                                                    <span class="text-success">$ {{product.unit_price | intcomma}}</span>
                                                    {% endif %}                                          
                                                </td>
                                                <td>
                                                    <a href="{% url 'admin_products_detail' product.id %}" class="btn btn-sm btn-icon btn-primary" title="Ver detalles" target="_blank"><i class="fa fa-eye"></i></a>
                                                    <a href="{% url 'admin_products_edit' product.id %}" target="_blank">
                                                        <button class="btn btn-success btn btn-sm btn-icon">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>

                                        {% endfor %}									
                                    </tbody>
                                </table>
                            </div>															
                        </div>														
                    </div>
                    <!--end::Body-->
                </div>
            </div>

            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="users-tab">
                <!--begin::Card-->
                <div class="card card-custom card-stretch">
                    <!--begin::Header-->
                    <div class="card-header py-3">
                        <div class="card-title align-items-start flex-column">
                            <h3 class="card-label font-weight-bolder text-dark">Reseñas a productos de esta tienda</h3>
                            <span class="text-muted font-weight-bold font-size-sm mt-1">Observa las reseñas a productos hechas por clientes a productos de esta tienda</span>
                        </div>
                        <div class="card-toolbar">
                            <!--begin::Button-->
                            <!--end::Button-->
                        </div>
                    </div>
                    <!--end::Header-->                                       
                    <!--begin::Body-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-separate datatable">
                                    <thead>
                                        <tr class="text-black text-center">
                                            <th>Fecha creado</th>
                                            <th>Producto</th>
                                            <th>Cliente</th>
                                            <th>Calificación</th>
                                            <th>Estado</th>
                                            <th title="opciones">opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>				

                                    </tbody>
                                </table>
                            </div>															
                        </div>														
                    </div>
                    <!--end::Body-->
                </div>
            </div>

            <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="users-tab">
                <!--begin::Card-->
                <div class="card card-custom card-stretch">
                    <!--begin::Header-->
                    <div class="card-header py-3">
                        <div class="card-title align-items-start flex-column">
                            <h3 class="card-label font-weight-bolder text-dark">Ventas de esta tienda</h3>
                            <span class="text-muted font-weight-bold font-size-sm mt-1">Observa las ventas hechas por esta tienda</span>
                        </div>
                        <div class="card-toolbar">
                            <!--begin::Button-->
                            <!--end::Button-->
                        </div>
                    </div>
                    <!--end::Header-->                                       
                    <!--begin::Body-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-separate datatable">
                                    <thead>
                                        <tr class="text-black text-center">
                                            <th>Fecha</th>
                                            <th>Producto</th>
                                            <th>Cliente</th>
                                            <th>Valor</th>
                                            <th>Estado</th>
                                            <th title="opciones">opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>				
                                        									
                                    </tbody>
                                </table>
                            </div>															
                        </div>														
                    </div>
                    <!--end::Body-->
                </div>
            </div>

            

        </div>
    </div>
    
</div>
{% endblock content %}

{% block scripts %}
<script>
    $("#btn_change_state_store").click(function(){

        Swal.fire({
            title: "¿Desea realmente desea cambiar el estado de esta tienda?",
            text: "¡Una vez realizada esta acción, la tienda podría tener (o no) acceso a la plataforma !",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: 'Cambiar estado',
            denyButtonText: 'Cancelar'
        })
        .then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "{% url 'admin_change_store_state' %}", 
                    type: "POST",
                    dataType: "json",
                    data: {
                        'id_store': '{{store.id}}',
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                }).done(function(data){
                    Swal.fire({
                        title: 'Bien!',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = window.location.href
                        }
                    })                          

                }).fail(function(data){
                    Swal.fire({
                        title: '¡Error!',
                        text: data.responseJSON.error,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                })
            } else {
                Swal.fire('¡Se ha cancelado la acción!"', '', 'info')
            }
        });
    });
</script>
{% endblock scripts %}