{% extends 'panel/stores/panel.html' %}{% load widget_tweaks %}{% load static %}{% load humanize %}
{% block title_head %}
<title>Gestión de productos - Tienda del Reciclaje</title>
{% endblock title_head %}
{% block main_menu %}										
<li class="menu-item menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="{% url 'stores_panel_view' %}" class="menu-link">
        <span class="menu-text"><i class="fa fa-home text-white mr-5"></i> Panel principal</span>
        <i class="menu-arrow"></i>
    </a>
</li>

<li class="menu-item menu-item-submenu menu-item-rel menu-item-here" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-store text-white mr-5"></i> Tienda</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">													
            <li class="menu-item menu-item-here" aria-haspopup="true">
                <a href="{% url 'stores_products_list' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-boxes text-info mr-5"></i> Gestionar productos</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'stores_products_create' %}" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nuevo producto</span>
                    <span class="menu-desc"></span>
                </a>
            </li>                                                 
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-dollar-sign text-white mr-5"></i> Ventas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar ventas</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																			
        </ul>
    </div>
</li>											
{% endblock main_menu %}
{% block title %}
<!--begin::Title-->
<h2 class="text-white font-weight-bold my-2 mr-5">Gestión de productos</h2>
<!--end::Title-->
{% endblock title %}

{% block breadcrumb %}
<!--begin::Breadcrumb-->
<div class="d-flex align-items-center font-weight-bold my-2">
    <!--begin::Item-->
    <a href="#" class="opacity-75 hover-opacity-100">
        <i class="flaticon2-shelter text-white icon-1x"></i>
    </a>
    <!--end::Item-->
    <!--begin::Item-->
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="{% url 'stores_panel_view' %}" class="text-white text-hover-white opacity-75 hover-opacity-100">Panel
        principal</a>
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="{% url 'stores_products_list' %}" class="text-white text-hover-white opacity-100">Gestión de productos</a>
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="#" class="text-white text-hover-white opacity-100">Detalles del producto "{{product.title}}"</a>
    <!--end::Item-->
</div>
<!--end::Breadcrumb-->
{% endblock breadcrumb %}
{% block content %}
<!--begin::Notice-->
<div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
    <div class="alert-icon">
        <span class="svg-icon svg-icon-info svg-icon-xl">
            <i class="fa fa-boxes text-primary mr-5"></i>
        </span>
    </div>
    <div class="alert-text">Aquí podrás ver y gestionar los detalles del producto "{{product.title}}".</div>
</div>
<!--end::Notice-->
<div class="row mt-5">
    <div class="col-md-12">
        <div class="card card-custom card-stretch">
            <!--begin::Header-->
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">Detalles del producto</h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Buttons-->
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary font-weight-bold dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Acciones
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a href="{% url 'stores_products_edit' product.id %}" class="dropdown-item">
                                Editar <i class="fa fa-edit mx-2 text-primary"></i>
                            </a>
                            {% if product.status == 1 and product.created_by.is_staff %}
                            <a class="dropdown-item" href="javascript:;" id="btn_hide_product">
                                Pausar publicación <i class="fa fa-eye-slash mx-2 text-primary"></i>
                            </a>
                            {% endif %}
                            {% if product.seller == request.user.customer %}
                            <button class="dropdown-item" data-toggle="modal" data-target="#modal_add_stock_product">
                                Añadir unidades <i class="fa fa-plus mx-2 text-primary"></i>
                            </button>
                            {% endif %}
                            <button class="dropdown-item" data-toggle="modal" data-target="#product_history">
                                Historial de acciones <i class="fa fa-history mx-2 text-primary"></i>
                            </button>      
                        </div>
                    </div>
                <!--end::Buttons-->
                </div>
            </div>
            <!--end::Header-->                                       
            <!--begin::Body-->
            <div class="card-body p-15 pb-20">
                <div class="row mb-17">
                    <div class="col-xxl-5 mb-11 mb-xxl-0">
                        <!--begin::Image-->
                        <div class="card card-custom card-stretch">
                            <div class="card-body p-0 rounded px-10 py-15 d-flex align-items-center justify-content-center" style="background-color: #F57021;">
                                <img src="{{product.main_img.url}}" class="mw-100 w-200px" style="transform: scale(1.6);">
                            </div>
                        </div>
                        <!--end::Image-->
                    </div>
                    <div class="col-xxl-7 pl-xxl-11">
                        <h2 class="font-weight-bolder text-dark mb-4" style="font-size: 32px;">
                            {% if product.status == 0 %}
                            <span class="h2 label font-weight-bold label-lg text-white label-primary label-inline">Pendiente</span>
                            {% elif product.status == 1 %}
                            <span class="h2 label font-weight-bold label-lg text-white label-success label-inline">Publicado</span>
                            {% elif product.status == 2 %}
                            <span class="h2 label font-weight-bold label-lg text-white label-danger label-inline">Rechazado</span>
                            {% elif product.status == 3 %}
                            <span class="h2 label font-weight-bold label-lg text-white label-primary label-inline">Pausado</span>
                            {% endif %}	
                            <br>
                            {{product.title}}
                        </h2>
                        <h3 class="font-weight-bolder text-warning mb-7">
                            Vendido por: 
                                
                                {% if product.created_by %}
                                <span class="text-success">Tienda del Reciclaje ({{product.created_by.username}})</span>
                                {% elif product.seller and product.seller.is_official %}
                                <span class="text-success">{{product.seller.store.name}}</span>
                                {% elif product.seller and not product.seller.is_official %}
                                <span class="text-primary">{{product.seller.store.name}}</span>
                                {% endif %}                               
                                    
                            
                        </h3>
                        <div class="font-size-h2 mb-7 text-dark-50"> 
                            <span class="font-weight-boldest ml-2">
                                {% if not product.discount_price == 0 %}
                                <del class="text-danger">$ {{product.unit_price | intcomma}}</del>
                                <span class="text-success">$ {{product.discount_price | intcomma}}</span>
                                {% else %}
                                <span class="text-success">$ {{product.unit_price | intcomma}}</span>
                                {% endif %}
                            </span>
                        </div>                       

                        <div class="line-height-xl my-5">
                            {{product.description}}
                        </div>                        
                    </div>
                </div>
                <div class="separator separator-solid my-5"></div>
                <div class="row my-5">
                    <div class="col">
                        {% if product.is_active and product.status == 1 %}
                        <div class="form-group">
                            <label class="font-weight-bolder">Link público</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-globe"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" value="https://tiendadelreciclaje.com{% url 'product_details_home' product.slug %}" id="public_link" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" onclick="myFunction()">Copiar link</button>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="separator separator-solid my-5"></div>
                <div class="row mb-6">
                    <!--begin::Info-->
                    <div class="col-6 col-md-4">
                        <div class="mb-8 d-flex flex-column">
                            <span class="text-dark font-weight-bold mb-4">Categoría</span>
                            <span class="text-muted font-weight-bolder font-size-lg">{{product.category.name}}</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="mb-8 d-flex flex-column">
                            <span class="text-dark font-weight-bold mb-4">SKU</span>
                            <span class="text-muted font-weight-bolder font-size-lg">{{product.sku}}</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="mb-8 d-flex flex-column">
                            <span class="text-dark font-weight-bold mb-4">Slug</span>
                            <span class="text-muted font-weight-bolder font-size-lg">{{product.slug}}</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="mb-8 d-flex flex-column">
                            <span class="text-dark font-weight-bold mb-4">Unidades disponibles</span>
                            <span class="text-muted font-weight-bolder font-size-lg">{{product.available_units}}</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="mb-8 d-flex flex-column">
                            <span class="text-dark font-weight-bold mb-4">Cantidad por unidad de venta</span>
                            <span class="text-muted font-weight-bolder font-size-lg">{{product.quantity_per_unit}}</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="mb-8 d-flex flex-column">
                            <span class="text-dark font-weight-bold mb-4">Precio por unidad de venta</span>
                            <span class="text-muted font-weight-bolder font-size-lg">$ {{product.unit_price | intcomma}}</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="mb-8 d-flex flex-column">
                            <span class="text-dark font-weight-bold mb-4">Precio en descuento</span>
                            <span class="text-muted font-weight-bolder font-size-lg">$ {{product.discount_price | intcomma}}</span>
                        </div>
                    </div>
                    <!--end::Info-->
                </div>
                <div class="separator separator-solid my-5"></div>
                
                {% if product.in_bid %}
                <div class="row my-10">
                    <div class="col-12">
                        <h3 class="display-4 text-pimary">Producto en subasta</h3>
                    </div>
                </div>
                    <!--begin::Info-->
                <div class="row mb-y">
                    <div class="col-6 col-md-4">
                        <div class="mb-8 d-flex flex-column">
                            <span class="text-dark font-weight-bold mb-4">Precio de inicio de la subasta</span>
                            <span class="text-muted font-weight-bolder font-size-lg">$ {{product.bid_price_start_at | intcomma}}</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="mb-8 d-flex flex-column">
                            <span class="text-dark font-weight-bold mb-4">Fecha de Inicio</span>
                            <span class="text-muted font-weight-bolder font-size-lg">{{product.bid_date_start | date:"d/m/Y h:i a"}}</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="mb-8 d-flex flex-column">
                            <span class="text-dark font-weight-bold mb-4">Fecha finalización</span>
                            <span class="text-muted font-weight-bolder font-size-lg">{{product.bid_date_end | date:"d/m/Y h:i a"}}</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="mb-8 d-flex flex-column">
                            <span class="text-dark font-weight-bold mb-4">Número de oferentes</span>
                            <span class="text-muted font-weight-bolder font-size-lg">0</span>
                        </div>
                    </div>                    
                </div>                    
                <!--end::Info-->
                <div class="separator separator-solid my-5"></div>
                {% endif %}
                    
            </div>
            <!--end::Body-->
        </div>
    </div>
    
</div>

<div class="modal fade" id="product_history" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Historial de acciones del producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">

                <table class="table table-bordered table-hover datatable">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Usuario</th>
                            <th>Acción</th>
                            <th style="width: 60%;">Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for action in history %}
                            <tr>
                                <td>{{ action.created_at | date:"d/m/Y h:i a" }}</td>
                                <td>                                    
                                    {% if action.created_by.is_staff %}
                                        administrador
                                    {% else %}
                                    {{ action.created_by.username }}
                                    {% endif %}                                        
                                </td>
                                <td>{{ action.action }}</td>
                                <td>{{ action.details }}</td>
                            </tr>
                        {% endfor %}
                            
                    </tbody>
                    
                </table>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Stock to Product -->
<div class="modal fade" id="modal_add_stock_product" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar existencias a producto "{{product.title}}"</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-10">
                    <div class="col-12">
                        <span class="h2">Cantidad actual: {{product.available_units}}</span>    
                    </div>
                </div>
                <form id="add_stock_product_form">
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Cantidad a agregar a las existentes</label>
                        <div class="col-8">
                            <input class="form-control form-control-solid" id="id_qqty_stock" type="number">
                        </div>
                    </div>                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cerrar</button>
                <button id="btn_add_stock_product" class="btn btn-danger font-weight-bold">Enviar</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Add Stock to Product -->

{% endblock content %}

{% block scripts %}
<script>       
    
    $("#btn_hide_product").click(function(){

        Swal.fire({
            title: "¿Desea realmente ocultar este producto?",
            text: "¡Una vez realizada esta acción, el producto dejará de aparecer publicado en la tienda!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: 'ocultar ahora',
            denyButtonText: 'Cancelar'
        })
        .then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "{% url 'stores_hide_product' %}", 
                    type: "POST",
                    dataType: "json",
                    data: {
                        'id_product': '{{product.id}}',
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                }).done(function(data){
                    Swal.fire({
                        title: 'Bien!',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = window.location.href
                        }
                    })                          

                }).fail(function(data){
                    Swal.fire({
                        title: '¡Error!',
                        text: data.responseJSON.error,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                })
            } else {
                Swal.fire('¡Se ha cancelado la acción!"', '', 'info')
            }
        });
    });    
    
    $("#btn_add_stock_product").click(function(){

        id_qqty_stock = $('#id_qqty_stock').val()
        
        $.ajax({
            url: "{% url 'stores_add_stock_product' %}", 
            type: "POST",
            dataType: "json",
            data: {
                'qqty_stock': id_qqty_stock,
                'id_product': '{{product.id}}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }
        }).done(function(data){
            Swal.fire({
                title: 'Bien!',
                text: data.message,
                icon: 'success',
                confirmButtonText: 'Ok'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = window.location.href
                }
            })                          

        }).fail(function(data){
            Swal.fire({
                title: '¡Error!',
                text: data.responseJSON.error,
                icon: 'error',
                confirmButtonText: 'Ok'
            })
        })
    });
    function myFunction() {
        /* Get the text field */
        var copyText = document.getElementById("public_link");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        Swal.fire({
            title: 'Bien!',
            text: "Link copiado: " + copyText.value,
            icon: 'success',
            confirmButtonText: 'Ok'
        })
    } 
    
</script>
{% endblock scripts %}