{% extends 'panel/stores/panel.html' %}{% load widget_tweaks %}{% load static %}{% load humanize %}
{% block title_head %}
<title>Gestión de productos - Tienda del Reciclaje</title>
{% endblock title_head %}
{% block main_menu %}										
<li class="menu-item menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="{% url 'stores_panel_view' %}" class="menu-link">
        <span class="menu-text"><i class="fa fa-home text-white mr-5"></i> Panel principal</span>
        <i class="menu-arrow"></i>
    </a>
</li>

<li class="menu-item menu-item-submenu menu-item-rel menu-item-here" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-store text-white mr-5"></i> Tienda</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">													
            <li class="menu-item menu-item-here" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-boxes text-info mr-5"></i> Gestionar productos</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-plus text-info mr-5"></i> Crear nuevo producto</span>
                    <span class="menu-desc"></span>
                </a>
            </li>
            
                                                        
        </ul>
    </div>
</li>
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text"><i class="fa fa-dollar-sign text-white mr-5"></i> Ventas</span>
        <span class="menu-desc"></span>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item" aria-haspopup="true">
                <a href="#" class="menu-link">
                    <span class="menu-text"><i class="fas fa-list-alt text-info mr-5"></i> Gestionar ventas</span>
                    <span class="menu-desc"></span>
                </a>
            </li>																			
        </ul>
    </div>
</li>											
{% endblock main_menu %}
{% block title %}
<!--begin::Title-->
<h2 class="text-white font-weight-bold my-2 mr-5">Gestión de productos</h2>
<!--end::Title-->
{% endblock title %}

{% block breadcrumb %}
<!--begin::Breadcrumb-->
<div class="d-flex align-items-center font-weight-bold my-2">
    <!--begin::Item-->
    <a href="#" class="opacity-75 hover-opacity-100">
        <i class="flaticon2-shelter text-white icon-1x"></i>
    </a>
    <!--end::Item-->
    <!--begin::Item-->
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="{% url 'stores_panel_view' %}" class="text-white text-hover-white opacity-75 hover-opacity-100">Panel
        principal</a>
    <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
    <a href="#" class="text-white text-hover-white opacity-100">Gestión de productos</a>
    <!--end::Item-->
</div>
<!--end::Breadcrumb-->
{% endblock breadcrumb %}
{% block content %}
<!--begin::Notice-->
<div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
    <div class="alert-icon">
        <span class="svg-icon svg-icon-info svg-icon-xl">
            <i class="fas fa-boxes text-primary mr-5"></i>
        </span>
    </div>
    <div class="alert-text">Aquí podrás gestionar tus productos existentes en la plataforma.</div>
</div>
<!--end::Notice-->
<div class="row mt-5">
    <div class="col-md-12">



        <!--begin::Card-->
        <div class="card card-custom card-stretch">
            <!--begin::Header-->
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">Productos de mi tienda</h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1">Gestiona los últimos productos cargados a la plataforma</span>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="{% url 'stores_products_create' %}">
                        <button class="btn btn-primary">Crear nuevo producto <i class="fa fa-plus"></i></button>
                    </a>
                    <!--end::Button-->
                </div>
            </div>
            <!--end::Header-->                                       
            <!--begin::Body-->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-separate datatable">
                            <thead>
                                <tr class="text-black text-center">
                                    <th>Producto</th>
                                    <th>Estado</th>
                                    <th>Fecha creado</th>
                                    <th>Precio</th>
                                    <th title="opciones">opciones</th>
                                </tr>
                            </thead>
                            <tbody>																	
                                {% for product in products %}                                    
                                    <tr class="text-center">
                                        <td>
                                            {{ product.title }}
                                            
                                            {% if product.in_bid %}
                                            <span class="label text-white label-success label-inline mx-2">Subasta</span>                                                       
                                            {% endif %}                                         
                                        </td>
                                        <td>
                                            {% if product.status == 0 %}
                                            <span class="label text-white label-primary label-inline">Pendiente</span>
                                            {% elif product.status == 1 %}
                                            <span class="label text-white label-success label-inline">Publicado</span>
                                            {% elif product.status == 2 %}
                                            <span class="label text-white label-danger label-inline">Rechazado</span>
                                            {% elif product.status == 3 %}
                                            <span class="label text-white label-primary label-inline">Pausado</span>
                                            {% endif %}						
                                        </td>
                                        <td>{{product.created_at | date:"SHORT_DATE_FORMAT"}}</td>
                                        <td>                                                    
                                            {% if not product.discount_price == 0 %}
                                            <del class="text-danger">$ {{product.unit_price | intcomma}}</del> <br>
                                            <span class="text-success">$ {{product.discount_price | intcomma}}</span>
                                            {% else %}
                                            <span class="text-success">$ {{product.unit_price | intcomma}}</span>
                                            {% endif %}                                          
                                        </td>
                                        <td>
                                            <a href="{% url 'stores_products_details' product.id %}" class="btn btn-sm btn-icon btn-primary" title="Ver detalles"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>

                                {% endfor %}									
                            </tbody>
                        </table>
                    </div>															
                </div>														
            </div>
            <!--end::Body-->
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}